<%layout("/yh/layout.html"){%>

        <div id="page-wrapper">
            <div class="row">
           
                <div class="col-lg-12">
                    <h1 class="page-header">发车单</h1>                  
                  
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="total">
                  
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#basic" data-toggle="tab">基本信息</a>
                                </li>
                                <li class=""><a href="#cargos" data-toggle="tab">货品信息</a>
                                </li>
                                <li class=""><a href="#arap" data-toggle="tab">应付</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                 
                                <div class="row">
                                   <form  method="post" action="/yh/departOrder/savedepartOrder">
                               <div class="col-lg-6">
                               <input class="" id="depart_id" value="${depart_id!''}" type="hidden" name="depart_id" >
                             <input class="" id="type" value="${type!''}" type="hidden" >
            				 <input class="" id="message" value="${localArr!''}" type="hidden" name="orderid" >
            				  <input class="" id="tr_itemid_list" value="${tr_itemid!''}" type="hidden" name="tr_itemid_list">
            				 <input class="" id="item_detail" value="${item_detail!''}" type="hidden" name="item_detail" >
                                    
                                   		  <h2>车辆信息</h2>  
                                   		   
                                           
                                          <div class="form-group">
											<label>司机</label>
										    <div class="form-group">
										        <!--label>司机名称</label-->
										        <input type="hidden" id="driverId" name="driverid">
										        <input type="text" name="customerMessage" placeholder="选择司机" class="form-control" id="customerMessage" value="${depart.CONTACT_PERSON!''}">
										        <ul style="top: 17%; left: 2%;" tabindex="-1" class="pull-right dropdown-menu default" id="customerList">
												</ul>
										    </div>
									    </div>
                                        
                                         <div class="form-group">
                                            <label>车牌</label>
                                             <input class="form-control" id="car_no" value="${depart.CAR_NO!''}"  name="car_no">
                                        </div>
                                         <div class="form-group">
                                        <div  style=display:inline-block;width:49%>
                                            <label>车型</label>
                                         	<input type="hidden" value="${depart.CAR_TYPE!''}" id="carTypeSelect">
                                             <select name="cartype" id="cartype" class="form-control">
                                                                <option value="全部">全部</option>
                                                                <option value="平板车">平板车</option>
                                                                <option value="高栏车">高栏车</option>
                                                                <option value="集装车">集装车</option>
                                                                <option value="单桥车">单桥车</option>
                                                                <option value="双桥车">双桥车</option>
                                                                <option value="半挂车">半挂车</option>
                                                                <option value="冷藏车">冷藏车</option>
                                                                <option value="特种车">特种车</option>
                                                                <option value="商品运输车">商品运输车</option>
                                                                <option value="危险品车">危险品车</option>
                                                                <option value="挂车">挂车</option>
                                                                <option value="爬梯车">爬梯车</option>
                                                                <option value="可拼车">可拼车</option>
                                                                <option value="低栏车">低栏车</option>
                                                                <option value="半挂一拖二">半挂一拖二</option>
                                                                <option value="半挂一拖三">半挂一拖三</option>
                                                                <option value="半挂二拖二">半挂二拖二</option>
                                                                <option value="半挂二拖三">半挂二拖三</option>
                                                                <option value="前四后四">前四后四</option>
                                                                <option value="前四后六">前四后六</option>
                                                                <option value="前四后八">前四后八</option>
                                                                <option value="前四后十">前四后十</option>
                                                                <option value="五轮车">五轮车</option>
                                                                <option value="后八轮">后八轮</option>
                                                                <option value="半封闭">半封闭</option>
                                                                <option value="封闭车">封闭车</option>
                                                                <option value="罐式车">罐式车</option>
                                                                <option value="厢式车">厢式车</option>
                                                                <option value="自卸车">自卸车</option>
                                                                <option value="棉被车">棉被车</option>
                                                                <option value="其他">其他</option>
                                                            </select>
                                                            </div>
                                                         <div   style=display:inline-block;width:50%>
                                                               
                                            <label>长度</label>
                                         	<input type="hidden" value="${depart.CAR_SIZE!''}" id="carSizeSelect">
                                            <select name="carsize" id="carsize" class="form-control">
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>                                                
                                            </select>
                                       </div>
                                       </div>                                      
                                            <div class="form-group">
                                            <label>电话</label>
                                             <input class="form-control" id="phone" value="${depart.PHONE!''}"  name="phone">
                                        </div>

                                        <div class="form-group">
                                        <button class="btn btn-default" type="submit">&nbsp&nbsp&nbsp&nbsp保存&nbsp&nbsp&nbsp&nbsp</button>                                          
                                         </div>
                                    </div>
                                      <div class="col-lg-6">
                                  <h2>发车信息</h2>  
                                         <div class="form-group">
                                            <label>发车类型</label></br>
                                            <div class="form-control" style=box-shadow:none;border:none>
                                          <label class="radio-inline">
                                           <input type="radio" value="one" id="ordertypeone" name="ordertype">一车一单
                                          </label>
                                          
                                           <label class="radio-inline">
                                           <input type="radio" value="many" id="ordertypetwo" name="ordertype">一车多单
                                          </label>
                                           </div>
                                        </div>
                                        
                                         
                                        <div class="form-group">
                                            <label>创建人</label>
                                             <input class="form-control" id="create" value="${depart.USER_NAME!''}${creat!''}"  name="create">
                                        </div>                                                                               
										<div class="form-group">
                                            <label>备注</label>
                                            <textarea class="form-control" rows="4" id="remark" name="remark">${depart.remark!''}</textarea>
                                        </div> 
                                 		
                                    
                                </div>
                                	
                                  
                                     
                                  </form>

                            </div>
                                </div>
                                
                                
                                <div class="tab-pane fade" id="cargos">
                                   
                                    
                                     <div class="panel-body" style="" id="ATMitem">
                                        <div class="table-responsive">
                                        
                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
                              
                                <thead   >
                                        <tr>
                                        	<th>客户</th> 
                                        	<th>运输单号</th> 
                                         	<th>型号</th> 
                                            <th>名称</th>
                                            <th>数量</th>                                   
                                            <th>体积</th> 
                                            <th>重量</th> 
                                            <th>备注</th>                                          
                                           <th>操作</th>
                                        </tr>
                                    </thead>                               
                                    <tbody>
                                        <tr>
                                      
                                         <td>yd20132014123</td>
                                         <td>xlk25642</td>
                                          <td>ATM</td>
                                           <td>1</td>
                                            <td>100</td>
                                            <td>200kg</td>
                                            <td>一台ATM机</td>
                                        </tr>                                                                                                     
                                    </tbody>
                                </table>
                       
                                          
                                        </div>
                                        <!-- /.table-responsive -->
                                        <div style="display: none" id="transferOrderItemDateil">
	                                            <h3 class="page-header">单品列表</h3>
	 											<input id="item_id" value=0 type="hidden" >
	                                           <div class="table-responsive">
	                                          
	                                            <table id="detailTable" class="table table-striped table-bordered table-hover dataTable">
	                                                <thead>
	                                                    <tr role="row">
	                                                    <th class="sorting"  ></th>
	                                                    <th class="sorting"  >名称</th>
	                                                    <th class="sorting"  >型号</th>
	                                                    <th class="sorting_asc"  >序列号</th>
	                                                    <th class="sorting"  >体积</th>
	                                                    <th class="sorting"  >重量</th>
	                                                    <th class="sorting" >备注</th>
	                                                  
	                                                    </tr>
	                                                </thead>
	                                                </table>
	                                          </div>
	                                           <div class="form-group">
	                                           <a id="style" style="display:none"><i class="fa fa-check"></i></a>
                                        <button class="btn btn-default" id="item_save"  type="button">&nbsp&nbsp&nbsp&nbsp保存&nbsp&nbsp&nbsp&nbsp</button>                                          
                                         </div>
                                            </div>
                                    </div>
                                  
                                    <!-- /.panel-body -->
                                      <!-- 模态框 -->
									
                                </div>
                              
                                <div class="tab-pane fade" id="arap">
                                    <h2>应收</h2>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>费用条目</th>
                                                        <th>金额</th>
                                                        <th>备注</th>
                                                        <th>结算状态</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="pay">
                                                       <tr>
                                                       <td></td>
                                                       <td>运输费</td>
                                                       <td>1000</td>
                                                       <td>运输费用费</td>
                                                       <td>未结算</td>
                                                       </tr>                                               
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                    
                                  
                             
                                    <!-- /.panel-body -->
                                </div>
                                
                                
                             
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
        </div>
        <!-- /#page-wrapper -->

<%}%>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script>
    $(document).ready(function() {
        $('#menu_assign').addClass('active').find('ul').addClass('in');
        var message=$("#message").val();
        var type=$("#type").val();
        var depart_id=$("#depart_id").val();
        var tr_item=$("#tr_itemid_list").val();
        var item_detail=$("#item_detail").val();
        var hang="";
      if(type=="one"){
    	  $("#ordertypeone").attr('checked', 'checked');
      }else{
    	  $("#ordertypetwo").attr('checked', 'checked');
      }
   
      
      $('#customerMessage').on('keyup', function(){
  		var inputStr = $('#customerMessage').val();
  		if(inputStr == ""){
  			$('#phone').val($(this).attr(""));
  		}
  		$.get('/yh/departOrder/searchCustomer', {input:inputStr}, function(data){
  			console.log(data);
  			var customerList =$("#customerList");
  			customerList.empty();
  			for(var i = 0; i < data.length; i++)
  			{
  				customerList.append("<li><a tabindex='-1' class='fromLocationItem' partyId='"+data[i].PID+"' post_code='"+data[i].POSTAL_CODE+"' contact_person='"+data[i].CONTACT_PERSON+"' email='"+data[i].EMAIL+"' phone='"+data[i].PHONE+"' cid='"+data[i].ID+"' address='"+data[i].ADDRESS+"', company_name='"+data[i].COMPANY_NAME+"', > "+data[i].CONTACT_PERSON+" "+data[i].PHONE+"</a></li>");
  			}
  		},'json');
  		
  		$("#customerList").css({ 
          	left:$(this).position().left+"px", 
          	top:$(this).position().top+32+"px" 
          }); 
          $('#customerList').show();
  	});
  	
  	// 选中客户
  	$('#customerList').on('click', '.fromLocationItem', function(e){
  		var message = $(this).text();
  	
  		$('#driverId').val($(this).attr('partyId'));
  		$('#customerMessage').val($(this).attr('CONTACT_PERSON'));
  		$('#phone').val($(this).attr('phone'));
          $('#customerList').hide();
          
         
      }); 
  	//显示货品table
    	var datatable = $('#eeda-table').dataTable({
            //"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
            //"sPaginationType": "bootstrap",
            "iDisplayLength": 10,
            "bServerSide": true,
            "bDestroy": true,
        	"oLanguage": {
                "sUrl": "/eeda/dataTables.ch.txt"
            },
            "sAjaxSource": "/yh/departOrder/getIintDepartOrderItems?localArr="+message+"&tr_item="+tr_item+"&item_detail="+item_detail,
            "aoColumns": [
                { "mDataProp": "CUSTOMER" ,"sWidth": "100%"},
                { "mDataProp": "ORDER_NO" ,"sWidth": "30%"},      
                { "mDataProp": "ITEM_NO"},
                { "mDataProp": "ITEM_NAME"},
                { "mDataProp": "AMOUNT"},
                { "mDataProp": "VOLUME"},
                { "mDataProp": "WEIGHT"},
                { "mDataProp": "REMARK"},
                { 
                    "mDataProp": null, 
                    "sWidth": "8%",                
                    "fnRender": function(obj) {                    
                        return "<a class='btn btn-success dateilEdit' code='?id="+obj.aData.ID+"'>"+
                                    "<i class='fa fa-search fa-fw'></i>"+
                                    "查看"+
                                "</a>"+					
                                "<a class='btn btn-danger cancelbutton' code='?id="+obj.aData.TR_ORDER_ID+"'>"+
                                    "<i class='fa fa-trash-o fa-fw'></i>"+ 
                                    "删除"+
                                "</a>";
                    },
                }
                                          
            ],
            "fnInitComplete": function(oSettings, json) {
            	$("#eeda-table td").on('click', '', function(){
            	 hang = $(this).parent("tr").prevAll().length; 
           		  	hang = Number(hang)+1;
            	});
            	    
            }       
        });	
    	
    	var tr_itemid_list=[];
    	// 查看货品
    		$("#eeda-table").on('click', '.dateilEdit', function(e){
    			e.preventDefault();
    			
    			$("#transferOrderItemDateil").show();
    			//alert("12345");
    			 var code = $(this).attr('code');
    			var itemId = code.substring(code.indexOf('=')+1);
    			tr_itemid_list.push(itemId);
    			$("#item_id").val(itemId);
    			$("#item_save").attr("disabled", false);
    			$("#style").hide();
    			detailTable.fnSettings().sAjaxSource = "/yh/departOrder/itemDetailList?item_id="+itemId+"";
    			detailTable.fnDraw(); 
    			
    		});
    		// 删除货品
    		$("#eeda-table").on('click', '.cancelbutton', function(e){
    			e.preventDefault();		
    			 var code = $(this).attr('code');
    			var itemId = code.substring(code.indexOf('=')+1);
    			 $("table tr:eq("+hang+")").remove(); 
    		});
    		var the_id="";
    		var item_id = $("#item_id").val();
    		var detailTable= $('#detailTable').dataTable({           
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",  
                "iDisplayLength": 10,
                "bServerSide": true, 
            	"oLanguage": {
                    "sUrl": "/eeda/dataTables.ch.txt"
                },
               "sAjaxSource": "/yh/departOrder/itemDetailList?item_id="+item_id+"",
              
              "aoColumns": [
                     { "mDataProp": null,
                       "fnRender": function(obj) {
                    	   the_id=obj.aData.ID;
                           return '<input type="checkbox" name="order_check_box" value="'+obj.aData.ID+'">';
                      }
                     },
                    { "mDataProp": "ITEM_NAME"},      
                    { "mDataProp": "ITEM_NO"},
                    { "mDataProp": "SERIAL_NO"},
                    { "mDataProp": "VOLUME"},
                    { "mDataProp": "WEIGHT"},
                    { "mDataProp": "REMARK"},
                  
                ]
                

               
            });	    
    	    //选择单品保存
    	    var item_detail_id=[];
    	    $("#item_save").click(function(){
    	    	
    	    	 $("table tr:not(:first)").each(function(){
    	    	        
    	         	$("input:checked",this).each(function(){
    	         		item_detail_id.push($(this).val());
    	         	
    	         	});          		
    	         	}); 
    	    	//alert(item_detail_id);
    	    	$("#item_detail").val(item_detail_id);
    	    	$("#tr_itemid_list").val(tr_itemid_list);
    	    	$("#style").show();
    	    	$("#item_save").attr("disabled", true);
    	    	});

    	    // 回显车长
    	    var carSizeOption=$("#carsize>option");
    	    var carSizeVal=$("#carSizeSelect").val();
    	    for(var i=0;i<carSizeOption.length;i++){
    		      var svalue=carSizeOption[i].text;
    		      if(carSizeVal==svalue){
    		       $("#carsize option[value='"+svalue+"']").attr("selected","selected");
    		      }
    	      }
    	    
    	    // 回显车型
    	    var carTypeOption=$("#cartype>option");
    	    var carTypeVal=$("#carTypeSelect").val();
    	    for(var i=0;i<carTypeOption.length;i++){
    	    	var svalue=carTypeOption[i].text;
    	    	if(carTypeVal==svalue){
    	    		$("#cartype option[value='"+svalue+"']").attr("selected","selected");
    	    	}
    	    }
    });
</script>