<%layout("/yh/layout.html"){%>

 <div id="page-wrapper">
  
    <div class="row">
      <div class="col-lg-12 panel-body">
      <% if(saveOK!''==true){%>
        <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        保存成功。
      </div>
      <%}%>
      <h1 class="page-header">创建配送单</h1>
      
    </div>
    
  </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
	            <!-- Nav tabs -->
	            <ul class="nav nav-tabs">
	                <li class="active"><a href="#basic" data-toggle="tab">基本信息</a>
	                </li>
	                <li class=""><a href="#cargos" data-toggle="tab">货品明细</a>
	                </li>
	                <li class=""><a href="#milestone" data-toggle="tab">运输里程碑</a>
                     </li>
                     <li class=""><a href="#arap" data-toggle="tab">应收应付</a>
                     </li>
	            </ul>
	            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                <div class="row">
                                <form action="" id="deliveryForm">
                                <div class="col-lg-6">
                                 
                                    <h3> <label >客户信息</label></h3>
                                    <input id="tranferid" name="tranferid" type="hidden" value="${transferId}">
                                   	 <input id="customer_id" name="customer_id" type="hidden" value="${customer.pid}">
					                      <div class="form-group">
					                          <label>联系人：</label> ${customer.contact_person}
					                      </div>
					                      <div class="form-group">
					                          <label>公司：</label> ${customer.company_name}
					                      </div>
					                      <div class="form-group">
					                          <label>地址:</label> ${customer.address}
					                      </div>
					                      <div class="form-group">
					                          <label>联系方式：</label> ${customer.phone}
					                      </div>
					            <div class="panel-body"> </div> 
					                  <h3> <label >供应商信息</label></h3>
                                        <div class="form-group">
                                            <label>供应商名称</label>
                                            <input id="cid" name="cid" type="hidden" value="">
                                          <input id="spMessage" class="form-control" placeholder="选择供应商" type="text" name="spMessage" />
                                            <ul id='spList' class="pull-right dropdown-menu default" tabindex="-1" style="top: 35%; left: 2%;">
											</ul>
                                        </div>
                                         <div class="form-group">     
                                        	<h5 id="pageSpName"></h5><h5 id="pageSpAddress"></h5>     
                                        </div>
                                 </div>
                                    
                                 <div class="col-lg-6">   
                                        <h3><label >收货人信息</label></h3>
                                        <div class="form-group">
                                        	<input name="notify_id" type="hidden" value="${customer2.pid}">
                                            <label>收货人公司名称</label>
                                            <input name="notify_company_name" class="form-control" placeholder="请输入公司名称" value="${customer2.company_name}">
                                        </div>
                                        <div class="form-group">
                                            <label>收货地址</label>
                                            <input name="notify_address" class="form-control" placeholder="请输入收货地址" value="${customer2.address}">
                                        </div>
                                        <div class="form-group">
                                            <label>联系人</label>
                                            <input name="notify_contact_person" class="form-control" placeholder="请输入联系人" value="${customer2.contact_person}">
                                        </div>
                                        <div class="form-group">
                                            <label>电话</label>
                                            <input name="notify_phone" class="form-control" placeholder="请输入电话" value="${customer2.phone}">
                                        </div>  
                                      </div>  
					                </form>
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                  </div>
                  <div class="tab-pane fade" id="cargos">
               		<div class="panel-body">                                                                            
                  <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
                                    <thead>
                                        <tr>
                                            <th>货品单号</th>
                                            <th>名称</th>
                                            <th>数量</th>
                                            <th>金额</th>
                                            <th>重量(KG)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                   <!-- /.table-responsive -->
               </div>
               <!-- /.panel-body -->
           </div>
            <div class="tab-pane fade" id="milestone">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>状态</th>
                                                        <th>更新用户</th>
                                                        <th>更新时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>新建单据</td>
                                                        <td>Otto</td>
                                                        <td>2014-03-07 13:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>已发车</td>
                                                        <td>Jacob</td>
                                                        <td>2014-03-08 23:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>株洲</td>
                                                        <td>Larry</td>
                                                        <td>2014-03-09 9:00</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
           		<div class="tab-pane fade" id="arap">
                                    <h2>应收</h2>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>费用条目</th>
                                                        <th>金额</th>
                                                        <th>备注</th>
                                                        <th>结算状态</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>装车费</td>
                                                        <td>200</td>
                                                        <td></td>
                                                        <td>已结</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                    
                                    <hr>
                                    <h2>应付</h2>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>费用条目</th>
                                                        <th>金额</th>
                                                        <th>备注</th>
                                                        <th>结算状态</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>运输费用</td>
                                                        <td>2000</td>
                                                        <td></td>
                                                        <td>未结</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
           		<div class=".tooltip-demo">
                    <hr/>
                	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                    <button id="saveBtn" type="button" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>                                    
                    <button type="button" class="btn btn-default " data-toggle="tooltip" title="" data-original-title="Default tooltip">发车确认</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">入仓确认</button> 
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">回单签收</button>
                    <a class="btn btn-default" href="/yh/delivery">返回</a>
                </div>
	        </div>
        </div>
      </div>
      
    </div>
    
  </div> 
  
<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/eeda/js/jquery.validate.min.js"></script>
<script src="/eeda/js/jvalidate.messages_cn.js"></script>
<script src="/yh/js/delivery/delivery.js"></script>
