<%layout("/yh/layout.html"){%>
 <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
 <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
 <link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
 <div id="page-wrapper">
  
    <div class="row">
      <div class="col-lg-12 panel-body">
      <% if(saveOK!''==true){%>
        <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        保存成功。
      </div>
      <%}%>
      <div id="title" class="btn-header" style="font-size: 32px"></div>
      
      
    </div>
    
  </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
	            <!-- Nav tabs -->
	            <ul class="nav nav-tabs">
	                <li class="active"><a href="#basic" data-toggle="tab" id = "chargeCheckOrderbasic">基本信息</a>
	                </li>
	                <!-- <li class=""><a href="#cargos" data-toggle="tab" id ="departOrderItemList">货品明细</a>
	                </li> -->
	                <li class=""><a href="#milestone" data-toggle="tab" id="transferOrderMilestoneList">运输里程碑</a>
                     </li>
                    <% if(shiro.hasPermission("DeliveryOder.add_cost")){%>
                     <li class=""><a href="#arap" data-toggle="tab" id = "arapTab">应付</a></li>
                    <%}%>
                    	</ul>
	            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                <div class="row">
                                <form action="" id="deliveryForm">
                                	<div class="col-lg-6">
                                	 <input id="deliverystatus" name="deliverystatus" type="hidden" value="${status!''}${deliveryId.status!''}">
		                                    <input id="tranferid" name="tranferid" type="hidden" value="${transferId!''}">
		                                    <!-- 运输单ID -->
		                                    <input id = "localArr" type="hidden" name="localArr" value="${localArr!''}"/>
		                                    <!-- 运输单货品明细ID -->
		                                    <input id = "localArr2" type="hidden" name="localArr2" value="${localArr2!''}"/>
		                                    <!-- 运输单单号 -->
		                                    <input id = "localArr3" type="hidden" name="localArr3" value="${localArr3!''}"/>
		                                    <!-- <input id = "item_id" name="item_id" type="hidden" value="${itemsIds.id!''}"/> -->
                                    		<input id="delivery_id" type="hidden" name="delivery_id" value="${deliveryId.id!''}"/>
                                    		<!-- 调拨的对应的单号ID -->
                                    		<input id="change_delivery_id" type="hidden" name="change_delivery_id" value="${deliveryId.delivery_id!''}"/>
                                    		<!-- 一站式普货 运输单号 -->
		                                 	<input id='transferOrderNo' name='transferOrderNo' type="hidden" value="${transferOrderNo!''}">
                                    		<!-- 一站式普货 运输单货品明细集 -->
		                                 	<input id='transferItemIds' name='transferItemIds' type="hidden" value="${transferItemIds!''}">
		                                 	<!-- 一站式普货 配送数量集 -->
		                                 	<input id='shippingNumbers' name='shippingNumbers' type="hidden" value="${shippingNumbers!''}">
		                                 	<!-- 一站式普货 配送产品集 -->
	                  						<input id='productIds' name='productIds' type="hidden" value="${productIds!''}">
	                  						<!-- 收货单位-->
	                  						<input id='receivingunit' name='receivingunit' type="hidden">
	                  						<input id='sign_document_no' name='sign_document_no' type="hidden"  value="${deliveryOrder.ref_no!''}">
	                  						<!-- 配送单对账状态-->
	                  						<input id='audit_status' name='audit_status' type="hidden"  value="${audit_status!''}${deliveryOrder.audit_status!''}">
	                  						<!-- 新增空白配送单过滤状态-->
	                  						<input id='isNullOrder' name='isNullOrder' type="hidden"  value="${isNullOrder!''}">
	                  						<input id='itemList' name='itemList' type="hidden"  value="${itemList!''}">
	                  						<input id='JsonDetail' name='JsonDetail' type="hidden">
	                  						<input id='deletedIds' name='deletedIds' type="hidden">
		                                 <div class="form-group">
		                                    <h3> <label>客户信息</label></h3>
			                                   <input id="customer_id" name="customer_id" type="hidden" value="${customer.cid!''}">
			                                   
							                      <div class="form-group">
							                          <label>联系人：</label> ${customer.contact_person!''}
							                      </div>
							                      <div class="form-group">
							                       <%
							                          if(isNullOrder!='Y'){
							                      %>
							                           		<label>公司：</label>${customer.company_name!''}
							                          
							                      <%
							                          }else{
							                      %>
							                          <div class="row">
							                          		<div class="col-lg-6">
							                          	    <%include("/yh/component/form/inputCustomerField.html", { id:'customer_id', label:'公司',  value: '' }){} %>
	                               						   </div>
	                               					  </div>
							                      <%
							                      	}
							                      %>
							                      </div>
							                      <div class="form-group">
							                          <label>地址:</label> ${customer.address!''}
							                      </div>
							                      <div class="form-group">
							                          <label>联系方式：</label> ${customer.mobile!''}
							                      </div>
							                      <div class="form-group">
								                      <label class="control-label" for="inputSuccess">客户配送单号</label> 
	        										  <input class="form-control" type="text" name="customerDelveryNo" id ="customerDelveryNo" value="${deliveryOrder.customer_delivery_no!''}">
							                      </div>
							                      <div class="form-group">
								                      <label class="control-label" for="inputSuccess">签收单据号</label> 
	        										  <input class="form-control" type="text" name="SignNo" id ="sign_no" value="${deliveryOrder.ref_no!''}">
							                      </div>
					                    </div>
						                 <div class="form-group">     
	                                        	<label>配送方式</label>
		                                           	<input id="deliveryModeRadio" type="hidden" value="${deliveryMode!''}${deliveryOrder.deliveryMode!''}"/>
		                                            <label class="radio-inline">
		                                                <input type="radio" name="modeDelvery" id="deliveryMode1" value="out_source" checked="">外包
		                                            </label>
		                                            <label class="radio-inline">
		                                                <input type="radio" name="modeDelvery" id="deliveryMode2" value="own">自营
		                                   			</label>
		                                     <div id= "textDiv"  class="form-group">
		                                        <div class="form-group">
		                                        	<h3> <label >供应商信息</label></h3>
		                                            <label>供应商名称</label>
		                                            <input id="sp_id" name="sp_id" type="hidden"  value="${spContact.spId!''}">
		                                            <input id="cid" name="cid" type="hidden" value="${spContact.spId!''}">
		                                            <input id="spMessage" class="form-control" autocomplete="off" placeholder="选择供应商" type="text" name="spMessage" value="${spContact.company_name!''}"/>
		                                            <ul id='spList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 35%; left: 2%;">
													</ul>
		                                        </div>
	                                        	<div class="form-group">
							                      	<label>联系人：</label>  <lable id="a1">${spContact.contact_person!''}</lable>
							                    </div>
							                   	<div class="form-group">
							                        <label>公司：</label> 	<lable id="a2">${spContact.company_name!''}</lable>
							                    </div>
							                    <div class="form-group">
							                        <label>地址:</label> 	<lable id="a3">${spContact.address!''}</lable>
							                    </div>
							                    <div class="form-group">
							                         <label>联系方式：</label> 	<lable id="a4">${spContact.mobile!''}</lable>
							                    </div> 
							                </div>
							                <div id= "textDiv1"  class="form-group">
		                                        <div class="form-group">
		                                        	<h3><label>司机</label></h3>
		                                            <div class="form-group">
												        <input type="hidden" id="car_id" name="car_id" value="${carinfo.driver!''}">
												        <input type="text" name="driver_name" id="driver_name" class="form-control" id="driverMessage" value="${carContact.driver!''}">
												        <ul style="top: 17%; left: 2%;" tabindex="-1" class="pull-right dropdown-menu default" id="driverList">
														</ul>
											    	</div>
		                                        </div>
							                   	<div class="form-group">
							                        <label>车牌：</label><lable id="a5">${carContact.car_no!''}</lable>
							                    </div>
							                    <div class="form-group">
							                        <label>电话:</label> 	<lable id="a6">${carContact.phone!''}</lable>
							                    </div>
						                </div>
                                        	</div>
                                        	<div class="form-group">
		                                       <label>始发地城市</label>
		                                       <div class="form-control" style="padding: 0px 0px;box-shadow:none;border:none;height:35px;" >
		                                           <input id="locationForm" type="hidden" name="route_from" value="${deliveryId.route_from!''}">
	                                               <label>省</label>
	                                               <input id="hideProvinceFrom" type="hidden" value="${locationFrom.province!''}"/>
	                                               <select id="mbProvinceFrom" class="valid" name="mbProvinceFrom" value=""></select>
	                                               <label>市</label>
	                                               <input id="hideCityFrom" type="hidden" value="${locationFrom.city!''}"/>
	                                               <select  id="cmbCityFrom" class="valid" name="cmbCityFrom" value=""></select>
	                                               <label>区(县)</label>
	                                               <input id="hideDistrictFrom" type="hidden" value="${locationFrom.district!''}" style="width: 26%"/>
	                                               <select  id="cmbAreaFrom" class="valid" name="cmbAreaFrom" value=""></select>
                                            	</div>
                                            </div>
		                                   	 <div class="form-group">
                                                    <label><h3>计费方式</h3></label>
                                                    <input id="chargeTypeRadio" type="hidden" value="${deliveryId.priceType!''}"/>
                                                    <input type="hidden" id="hiddenDeliveryOrderCarType" value="${deliveryId.car_type!''}">                                                   
                                                    <label class="radio-inline">
                                                    	<input type="radio" name="chargeType" id="chargeType1" value="perUnit" checked="">计件
                                                    </label>
	                                                <label class="radio-inline">
	                                                    <input type="radio" name="chargeType" id="chargeType2" value="perCar">整车
	                                                </label>  
	                                                <label class="radio-inline">
	                                                    <input type="radio" name="chargeType" id="chargeType3" value="perCargo">零担
	                                                </label> 
                                             </div>
                                             <div style="display: none;" class="form-group" id="car_type_div" >
                                              <lable>车辆规格(M),载重(T),集装箱(GP)</lable>
                                              <select class="form-control" id="car_type" name="car_type">
                                                  <option></option>
                                                  <option>40GP</option>
                                                  <option>20GP</option>
                                                  <option>40T</option>
                                                  <option>20T</option>
                                                  <option>10T</option>
                                                  <option>8T</option>
                                                  <option>5T</option>
                                                  <option>3T</option>
                                                  <option>21M</option>
                                                  <option>18.5M</option>
                                                  <option>18.0M</option>
                                                  <option>17.8M</option>
                                                  <option>17.5M</option>
                                                  <option>17.0M</option>
                                                  <option>16.0M</option>
                                                  <option>15.0M</option>
                                                  <option>14.5M</option>
                                                  <option>13.5M</option>
                                                  <option>13.0M</option>
                                                  <option>12.5M</option>
                                                  <option>9.6M</option>
                                                  <option>8.6M</option>
                                                  <option>8.0M</option>
                                                  <option>7.6M</option>
                                                  <option>7.2M</option>
                                                  <option>6.8M</option>
                                                  <option>6.5M</option>
                                                  <option>5.3M</option>
                                                  <option>4.3M</option>
                                                  <option>4.2M</option>
                                                  <option>2.6M</option>
                                              </select>
                                          </div>
                                          <div style="display: none;" class="form-group" id="ltl_price_type" >
                                              <lable>零担计费方式:  </lable>
                                              <input type="hidden" id="hibLtlUnitType" value="${deliveryId.ltl_price_type!''}">
                                              <label class="radio-inline">
                                                  <input type="radio" name="ltlUnitType" id="optionsRadiosIn1" value="perCBM" checked>按体积（每立方米）
                                              </label>
                                               <label class="radio-inline">
                                                  <input type="radio" name="ltlUnitType" id="optionsRadiosIn3" value="perKg">按重量（每公斤）
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="radio" name="ltlUnitType" id="optionsRadiosIn2" value="perTon">按重量（每吨）
                                              </label>
                                          </div>
                                             <div class="form-group">
	                                        	<label>配送仓库：</label><lable>${warehouse.WAREHOUSE_NAME!''}</lable>
	                                        	<input type="hidden" id="warehouse_id" name="warehouse_id" value ="${warehouse.id!''}">
	                                        	<span id="warehouseNatureSpan">
		                                                (<label class="label-margin">是否需要调拨?</label>
	                                                	<input id="warehouseNatureRadio" type="hidden" value="${deliveryOrder.warehouse_nature!''}"/>
	                                                	<label class="radio-inline">
		                                                    <input type="radio" name="warehouseNature" id="warehouseNature1" value="warehouseNatureNo" checked="">否
		                                                </label>
		                                                <label class="radio-inline">
		                                                    <input type="radio" name="warehouseNature" id="warehouseNature2" value="warehouseNatureYes">是
		                                                </label>)
	                                            </span>
	                                         </div>
	                                         <div id="gateInDiv" style="display: none;">
	                                                <input id="hideWarehouseId" type="hidden" value="${changeWarehouse.warehouse_id!''}" />
	                                                <input id="hideDeliveryOfficeSelect" type="hidden" value="${changeOffice.id!''}" />
	                                                <label class="label-margin">调拨RDC </label>
	                                                <select id="deliveryOfficeSelect" name="deliveryOfficeSelect"></select>
	                                                <label class="label-margin">调拨仓库 </label>
	                                                <select id="gateInSelect" name="gateInSelect"></select> 
	                                       			<div class="form-group">
	                                            	<label>调拨供应商</label>
	                                            	<input id="spChange_id" name="spChange_id" type="hidden" value="${spChange.spId!''}">
	                                           		<input id="spChange" class="form-control" placeholder="选择供应商" type="text" name="spChange"value="${spChange.company_name!''}"/>
	                                           	 	<ul id='spChangeList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 35%; left: 2%;">
													</ul>
	                                        		</div>
                                             </div>
	                                         <div class="form-group">
	                                            <%
	                                            	var cargoNaturName="ATM";
	                                            	var nature = cargoNature;
	                                            	if(cargoNature=="cargo")
	                                            		cargoNaturName="普通货品";
	                                            %>
	                                        	<!-- <label>货品属性：</label><lable>${customizeField.EX_CARGO!'贵重物品'}${cargoNature!''}</lable> -->
	                                        	<label>货品属性：</label><lable><%if(cargoNature!''=="cargo"){%>普通货品<%}else if(cargoNature!''=="ATM"){%>ATM柜员机<%}else{%>贵重物品<%}%></lable>
	                                        	<input type="hidden" id="cargoNature" name="cargoNature" value ="${cargoNature!''}">
	                                        </div>
	                                    </div>

	                                 	<div class="col-lg-6">
                                 			<div>
                                 			<div id="tranferdiv"  style='display:none'>
			                                    <h3> <label >运输单信息</label></h3>
			                                    <input id="transferstatus" name="transferstatus" type="hidden" value="${transferOrder.status!''}">
			                                   	<input id="transfer_id" name="transfer_id" type="hidden" value="${transferOrder.id!''}">
						                      <div class="form-group">
						                          <label>运输单号：</label> ${transferOrder.order_no!''}
						                      </div>
						                      <div class="form-group">
						                          <label>货品属性：</label> ${transferOrder.cargo_nature!''}
						                      </div>
						                      <div class="form-group">
						                          <label>提货方式:</label> ${transferOrder.pickup_mode!''}
						                      </div>
						                      <div class="form-group">
						                          <label>到达方式：</label> ${transferOrder. arrival_mode!''}
						                      </div> 
						                      
						                      <div class="panel-body"> </div>
						                       
						                  </div>
						                  <div class="form-group">   
	                                      		
		                                        <h3><label >配送单信息</label></h3>
		                                        <div class="form-group">
		                                            <label>RDC:</label>&nbsp;&nbsp;<span id='order_no'>${office.office_name!''}</span>
		                                        </div>
		                                        <div class="form-group">
		                                            <label>配送单号:</label>&nbsp;&nbsp;<span id='order_no'>${deliveryOrder.order_no!''}</span>
		                                            <span id='checkQrC' style="margin-left:20px;">手机签收二维码</span>
                                             		<div id="qrcodeCanv" class="popover fade right in" style="display:none; padding:20px;left:330px;"></div>
		                                        </div>
		                                        <div class="form-group">
		                                            <label>配送状态:</label>&nbsp;&nbsp;<span id ='deliveryOrder_status'>${deliveryOrder.status!'新建'}</span>
		                                        </div>
		                                        <div class="form-group">                                                    
		                                            <span id="datetimepicker" class="input-append date search-control "> 
		                                                <label class="search-label">预约送货时间:</label> 
		                                                <input id="order_delivery_stamp" class="form-control search-control endTime_filter" type="text" name="order_delivery_stamp" value="${deliveryOrder.order_delivery_stamp!''}">
		                                                <span class="add-on">  
		                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
		                                                </span>  
		                                            </span>
		                                        </div>
		                                        <div class="form-group">
		                                            <span id="datetimepicker1" class="input-append date search-control "> 
		                                                <label class="search-label">向客户预约时间:</label> 
		                                                <input id="client_order_stamp" class="form-control search-control endTime_filter" type="text" name="client_order_stamp" value="${deliveryOrder.client_order_stamp!''}">
		                                                <span class="add-on">  
		                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
		                                                </span>  
		                                            </span>
		                                        </div>
		                                        <div class="form-group">
		                                            <span id="datetimepicker2" class="input-append date search-control "> 
		                                                <label class="search-label">业务要求配送时间:</label> 
		                                                <input id="business_stamp" class="form-control search-control endTime_filter" type="text" name="business_stamp" value="${deliveryOrder.business_stamp!''}">
		                                                <span class="add-on">  
		                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
		                                                </span>  
		                                            </span>
		                                        </div>
		                                        <div class="form-group">
		                                        	<% var default_date = strutil.formatDate(date(),'yyyy-MM-dd');
		                                        	%>
		                                        	<%include("/yh/component/form/dateInputField.html",
		                                        		{id:'depart_date', label:'发车时间:', value: deliveryOrder.depart_stamp!default_date}){} %>
		                                        </div>
		                                        <div class="form-group">
		                                            <label>客户现场及需求确认</label>
		                                            <textarea class="form-control" rows="2" id="client_requirement" name="client_requirement" style=" height: 35px">${deliveryOrder.client_requirement!''}</textarea>
		                                        </div> 
		                                        <div class="form-group">
		                                            <label>备注</label>
		                                            <textarea class="form-control" rows="2" id="remark" name="remark" style=" height: 35px">${deliveryOrder.remark!''}</textarea>
		                                        </div> 
		                                        <div class="panel-body"> </div>
	                                      </div>

						                  <div>   
		                                        <h3><label >收货人信息</label></h3>
		                                        <div class="form-group" >
	                                            	<input id="locationTo" type="hidden" name="route_to" value="${deliveryId.route_to!''}">
	                                           		<label>目的地城市</label>
			                                   		 <div class="form-control" style="padding: 0px 0px;box-shadow:none;border:none;height:35px;">
			                                        <label>省</label>
			                                        <input id="hideProvinceTo" type="hidden" value="${locationTo.province!''}"/>
			                                        <select id="mbProvinceTo" class="valid" name="mbProvinceTo"></select>
			                                        <label>市</label>
			                                        <input id="hideCityTo" type="hidden" value="${locationTo.city!''}"/>
			                                        <select  id="cmbCityTo"  class="valid" name="cmbCityTo"></select>
			                                        <label>区(县)</label>
			                                        <input id="hideDistrictTo" type="hidden" value="${locationTo.district!''}" />
			                                        <select  id="cmbAreaTo" class="valid" name="cmbAreaTo"></select>
			                                    	</div>
		                                   		</div>
		                                   		<div class="form-group">
		                                        	<input name="notify_id" type="hidden" value="${notifyParty.pid!''}">
		                                        	<input name="contact_id" type="hidden" value="${notifyParty.contactId!''}">
		                                            <label>收货单位</label>
		                                            <input name="notify_company_name" class="form-control" placeholder="请输入公司名称" value="${transferOrdercompany_name!''}${notifyParty.company_name!''}${notifytransferorder.receive_address!''}">
		                                        </div>
		                                        <div class="form-group">
		                                            <label>收货地址</label>
		                                            <input name="notify_address" id ="notify_address" class="form-control" placeholder="请输入收货地址" value="${transferOrderaddress!''}${notifyParty.address!''}${notifytransferorder.notify_party_company!''}">
		                                        </div>
		                                        <div class="form-group">
		                                            <label>联系人</label>
		                                            <input name="notify_contact_person" class="form-control" placeholder="请输入联系人" value="${transferOrderPerson!''}${notifyParty.contact_person!''}${notifytransferorder.notify_party_name!''}">
		                                        </div>
		                                        <div class="form-group">
		                                            <label>电话</label>
		                                            <input name="notify_phone" class="form-control" placeholder="请输入座机" value = "${transferOrderPhone!''}${notifyParty.phone!''}${notifytransferorder.notify_party_phone!''}">
		                                        </div>   
	                                      </div> 
	                                      
					                      </div>
	                                     </div> 
					                </form>
					                <div class="panel-body"> </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div  class="panel-body">
                                <h3><label >货品明细</label></h3>
                               
                                <%
                                	if(isNullOrder!='Y'){ 
                                %>
                                
                                <div id="cargotable2">                                                                            
	                  				<div class="table-responsive">
		                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
		                                    <thead>
		                                        <tr>
		                                            <th>型号</th>
		                                            <th>序列号</th>
		                                            <th>件数</th>
		                                            <th>名称</th>
		                                            <th>体积</th>
		                                            <th>重量(KG)</th>
		                                            <th>运输单</th>
		                                        	<th>客户</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                   </tbody>
		                                </table>
	                            	</div>
			               		</div>
			               		
			               		<div id="cargos" style='display:none'>                                                                            
	                  				<div class="table-responsive">
			                            <table class="table table-striped table-bordered table-hover" id="cargo-table">
			                               <thead>
			                                   <tr>
			                                   	    <th>型号</th>
		                                            <th>名称</th>
		                                            <th>体积</th>
		                                            <th>重量(KG)</th>
		                                            <th>件数</th>
		                                        	<th>客户</th>
		                                        	<th>运输单</th>
			                                   </tr>
			                               </thead> 
			                               <tbody>
			                               </tbody>
			                           </table>
			                       </div>
			               		</div>
			               		
                                <% }else{ %>
                                
                                <div class ="form-group">
                                    <button class="btn  btn-primary btn-sm" id="addItem">新增明细</button>
                                </div>
                                <div class="table-responsive">
                                    <table  id="itemList-table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                            	<th></th>
                                                <th>型号</th>
                                                <th>名称</th>
                                                <th>数量</th>
                                                <th>单位</th>
                                                <th>描述</th>
                                                <th>撤销</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	 <%
                                        		for(item in itemList){ 
                                        	 %>
	                                            <tr class="" id="${item.ID!''}">
	                                           		<td class="">${item.ID!''}</td>
	                                                <td class="">${item.ITEM_NO!''}</td>
	                                                <td class="">${item.ITEM_NAME!''}</td>
	                                                <td class="">${item.AMOUNT!''}</td>
	                                                <td class="">${item.UNIT!''}</td>
	                                                <td class="">${item.ITEM_DESC!''}</td>
	                                                <td class=""></td>
	                                            </tr>
	                                        <%
	                                         	}
	                                         %>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="unitList" style="display:none;">
                                  <%  
                                		for(list in unitList){ 
                                   %>
                                <option value='list''}'>${list.NAME!''}</option> 
                          		<% 
                          		 	}
                          		%> 
                          		</div> 
                              <% }%>
			              	</div>
                                <!-- /.col-lg-6 (nested) -->
                          </div>
                  </div>
           							<!-- 模态框 -->
									<div class="modal fade" id="deliveryOrderMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">新里程碑</h4>
									      </div>
									      <div class="modal-body">
									      	<form id="transferOrderMilestoneForm" action="">
									      		<input id="transfer_milestone_delivery_id" type="hidden" name="delivery_id"  />
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">状态(不填默认为"在途")</label> <input
													id="status" class="form-control" type="text"
													name="status">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">地点</label> <input
													id="location" class="form-control" type="text"
													name="location">
												</div>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn  btn-primary" data-dismiss="modal">取消</button>
										        <button id="deliveryOrderMilestoneFormBtn" type="button" class="btn  btn-primary">保存</button>
										      </div>
											</form>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
           
            		<div class="tab-pane fade" id="milestone">
                                    <div class="panel-body">
                                        <div class="table-responsive">                                        
			                            <button class="btn  btn-primary" data-toggle="modal" data-target="#deliveryOrderMilestone">
										  新里程碑
										</button>
										<div class="form-group "></div>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>状态</th>
                                                        <th>地点</th>
                                                        <th>更新用户</th>
                                                        <th>更新时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="transferOrderMilestoneTbody" >
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
           						<div class="tab-pane fade" id="arap">
                                    <div class="col-lg-12">
										<div class="panel panel-default">
					                        <div class="panel-heading">
					                            <i class="fa fa-bar-chart-o fa-fw"></i> 配送单应付                            
					                        </div>
		                                    <div class="panel-body">
		                                    	<button class="btn  btn-primary" id="addrow"> 添加应付</button>
		                                        <div class="table-responsive">
		                                            <table class="table table-striped table-bordered table-hover"  id ="table_fin2">
		                                                <thead>
		                                                    <tr>
		                                                       <th>费用条目</th>
		                                                        <th>金额</th>
		                                                        <th>结算状态</th>
		                                                        <th>运输单</th>
		                                                        <th>备注</th>
		                                                        <th></th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
		                                                    
		                                                </tbody>
		                                                <div id="paymentItemList" style="display:none;">
			                                            	<% for(paymentItem in paymentItemList){ %>
			   														<option value='${paymentItem.ID!''}'>${paymentItem.NAME!''}</option>
			   												<%		
			   													}
			   												%>
		                                            	</div>
		                                            </table>
												</div>
	                                        	<!-- /.table-responsive -->
	                                        </div>
	                                    </div>
	                                    <div class="panel panel-default" id=change_item>
					                        <div class="panel-heading">
					                            <i class="fa fa-bar-chart-o fa-fw"></i>配送单调拨应付                            
					                        </div>
		                                    <div class="panel-body">
		                                    	<button class="btn  btn-primary" id="addrow1"> 添加应付</button>
		                                        <div class="table-responsive">
		                                            <table class="table table-striped table-bordered table-hover"  id ="table_fin3">
		                                                <thead>
		                                                    <tr>
		                                                       <th>费用条目</th>
		                                                        <th>金额</th>
		                                                        <th>结算状态</th>
		                                                        <th>运输单</th>
		                                                        <th>备注</th>
		                                                        <th></th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
		                                                    
		                                                </tbody>
		                                                <div id="paymentItemList" style="display:none;">
			                                            	<% for(paymentItem in paymentItemList){ %>
			   														<option value='${paymentItem.ID!''}'>${paymentItem.NAME!''}</option>
			   												<%		
			   													}
			   												%>
		                                            	</div>
		                                            </table>
		                                        </div>
	                                        	<!-- /.table-responsive -->
	                                        </div>
	                                    </div>    
                                	</div>
                             	</div>
           			<div class=".tooltip-demo">
                    <hr/>
                    <a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                    <% if(shiro.hasPermission("DeliveryOder.create") || shiro.hasPermission("DeliveryOder.update")){%>
                    	<button id="saveBtn" type="button" disabled="disabled" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>                                    
                    <%}%>
                    <% if(shiro.hasPermission("DeliveryOder.completed")){%>
                    <button id="ConfirmationBtn" type="button" disabled="disabled" class="btn  btn-primary " data-toggle="tooltip" title="" data-original-title="Default tooltip">配送发车</button>
                    <%}%>
                    <!-- <button id="receiptBtn" type="button" disabled="true"  class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">签收完成</button> -->
                    <a class="btn  btn-primary" href="/delivery/add">返回</a>
                    <button id="deleteBtn" type="button" style="display:none" class="btn  btn-danger" >撤销</button>
                </div>
	        </div>
        </div>
      </div>
      
    </div>
    
  </div> 
  
<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/css/ui/jquery-ui.js"></script>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.editable.js" type="text/javascript"></script>
<script src="/yh/js/plugins/dataTables/jquery.jeditable.js" type="text/javascript"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script src="/yh/js/delivery/delivery.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<script type="text/javascript">
	var deliverOrder = {};
	deliverOrder.orderNo = "${deliveryOrder.order_no!''}";
</script>


<script src="/yh/js/eeda-common.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 二维码图像 -->
<script src="/yh/js/plugins/jquery-qrcode/jquery.qrcode.min.js"></script>
