<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header">
	                    <a class="btn  btn-primary" href="/deliveryPlanOrder/add">新建配送排车单</a>
                	</div>
                </div>
                <!-- /.col-lg-12 -->
                <div class="panel-body">
	                        <form role="form" style="margin: 0 15px;">
	                            <div class="row search_panel">
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <label class="search-label">排车单号</label>
	                                        <input type="text" class="form-control search-control orderNo_filter" id="order_no" value="">
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="search-label">配送单号</label>
	                                        <input type="text" class="form-control search-control orderNo_filter" id="delivery_no">
	                                    </div>
	                                </div>
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <label class="search-label">排车网点</label>
	                                        <select id="office_id" class="form-control search-control officeName_filter" name="office_id"></select>
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="search-label">车牌号</label>
	                                        <input type="text" class="form-control search-control orderNo_filter" id="car_no" value="">
	                                    </div>
	                                    
	                                </div>
	                                <div class="col-lg-4">
	                                    <div class="form-group">                                        
                                            <div id="datetimepicker" class="input-append date "> 
                                                <label class="search-label">出车时间</label> 
                                                <input id="turnout_time" class="form-control search-control  beginTime_filter" type="text" name="turnout_time" value="${deliveryPlanOrder.turnout_time!''}">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </div>
                                        </div> 
	                                    <div class="form-group">                                                    
                                            <span id="datetimepicker2" class="input-append date search-control "> 
                                                <label class="search-label">返回时间</label> 
                                                <input id="return_time" class="form-control search-control endTime_filter" type="text" name="return_time" value="${deliveryPlanOrder.return_time!''}">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </span>
                                        </div>
	                                </div>
	                            </div><!-- end of row-->                          
	                        </form>
                        </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    	<div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>配送排车单列表
                        </div>
                            
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example"  style="width: 1100px;">
                                    <thead>
                                        <tr>
                                            <th>排车单号</th>
                                            <th>排车网点</th>
                                            <th>配送单号</th>
                                            <th>车牌号</th>
                                            <th>司机</th>
                                        	<th>联系电话</th>
                                            <th>排车时间</th>
                                            <th>体积</th>
                                            <th>重量</th>
                                            <th>调车人</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

<%}%>

 <!-- 引入dataTables的js 文件- Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/delivery/planList.js"></script>
