<%layout("/yh/layout.html"){%>

        <div id="page-wrapper">
            <div class="row">
            	<div class="col-lg-12">
            	<div class="btn-header"></div>
            	<div class="panel panel-default">
                    <div class="panel-heading">
                    	<div class="form-group">
                    		<big style="font-size:32px;">管理看板</big>&nbsp;&nbsp;默认设置： 
	                       	<label class="radio-inline">
		                       	<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="pastOneDay" <% if(lastIndex=='pastOneDay'){%>checked=""<%}%>>过去1天
		                   	</label>                               
		                   	<label class="radio-inline">
		                       	<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="pastSevenDay" <% if(lastIndex=='pastSevenDay'){%>checked=""<%}%>>过去7天
		                   	</label>
		                   	<label class="radio-inline">
		                       	<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="pastThirtyDay" <% if(lastIndex=='pastThirtyDay'){%>checked=""<%}%>>过去30天
		                   	</label>
	                    </div>
                    </div>
                    <div class="panel-body">
                        <%
			                var title = SYS_CONFIG.system_title!'易达物流';
			                var show = 'none';
			                if(title=='易达物流'){
			                    show = 'block';
			                }
			            %>
			            <!-- <div class="row" style='display:${show}'>
			                <div class="col-lg-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <div class="form-group">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 系统单据
			                            </div>
			                        </div> -->
			                        <!-- /.panel-heading -->
			                        <!-- <div class="panel-body"> -->
			                            <div class="row">
						                    <div class="col-lg-2">
						                        <div class="panel panel-primary">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="transferOrderTotal" style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">运输单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/transferOrder">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="panel panel-green">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="pickupTotal"  style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">提货单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/pickupOrder">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="panel panel-yellow">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="departTotal"  style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">发车单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/departOrder">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="panel panel-red">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="deliveryTotal"  style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">配送单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/delivery">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="panel panel-info">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="returnTotal"  style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">回单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/returnOrder">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="panel panel-danger">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-3">
						                                        <i class="fa fa-file-text fa-4x"></i>
						                                    </div>
						                                    <div class="col-xs-9 text-right">
						                                        <div class="huge" id="insuranceTotal"  style="font-size:26px;">0</div>
						                                        <div style="font-size:14px;">保险单</div>
						                                    </div>
						                                </div>
						                            </div>
						                            <a href="/insuranceOrder">
						                                <div class="panel-footer">
						                                    <span class="pull-left"></span>
						                                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>
						                    </div>
						                </div>
			                        <!-- </div>
			                    </div>
			                </div>  
			            </div>      -->    
			            <!-- /.row -->
			            <div class="row">
			                <div class="col-lg-8">
			                    <div class="panel panel-default" style="display: none;">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 单据状态
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="main" style="height:400px"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                    <div class="panel panel-default" style="display: none;">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 营收状态
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="profit_chart" style="height:400px"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 代办事项
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div class="table-responsive">
			                                 <table class="table table-bordered table-hover table-striped" id="todo_list_table" style="width:100%;">
			                                     <thead>
			                                         <tr>
			                                             <th>单据号码</th>
			                                             <th>代办事项</th>
			                                         </tr>
			                                     </thead>
			                                     <tbody>
			                                     </tbody>
			                                 </table>
			                             </div>
			                             <!-- /.table-responsive -->
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->

			                </div>
			                <!-- /.col-lg-8 -->
			                <div class="col-lg-4">
			                	<div class="panel panel-default" style="display: none;">
			                        <div class="panel-heading">
			                            <i class="fa fa-bar-chart-o fa-fw"></i> 库存分析
			                        </div>
			                        <div class="panel-body">
			                            <div id="donut-chart" style="height:366px;"></div>

			                            <a href="#" class="btn btn-default btn-block">去库存分析报表查看</a>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div><!-- /.panel -->
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <i class="fa fa-bell fa-fw"></i> 即将过期客户合同（60天内）
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div class="list-group">
			                                <%
			                                    for(contract in contractList){
			                                %>
			                                    <a href="/customerContract/edit/${contract.id}" target="_blank" class="list-group-item">
			                                        <i class="fa fa-warning fa-fw"></i>${contract.name}
			                                        <span class="pull-right text-muted small"><em>过期日期：${contract.period_to, dateFormat="yyyy-MM-dd"}</em>
			                                        </span>
			                                    </a>
			                                <%}%>
			                                <!--
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-twitter fa-fw"></i> 3 个发车
			                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-envelope fa-fw"></i> 4个新建单据过期7天未处理
			                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-tasks fa-fw"></i> 2个单据在途7天
			                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-upload fa-fw"></i> 5个单据在途14天
			                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-bolt fa-fw"></i> 1个单据在途出车祸
			                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-warning fa-fw"></i> 3个单据货品损坏
			                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-file-text-o fa-fw"></i> 3个回单寄送中
			                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
			                                    </span>
			                                </a>
			                                <a href="#" class="list-group-item">
			                                    <i class="fa fa-cny fa-fw"></i> 4个单据过期7天未结算
			                                    <span class="pull-right text-muted small"><em>Yesterday</em>
			                                    </span>
			                                </a-->
			                            </div>
			                            <!-- /.list-group -->
			                            
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                    
			                    
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <i class="fa fa-bell fa-fw"></i> 每日小提示
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div class="list-group">
			                                    提货单中可以选择多个运输单进行多地点提货。
			                                    <span class="pull-right text-muted small"><em></em>
			                                    </span>
			                            </div>
			                            <!-- /.list-group -->
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                </div>
			                <!-- /.col-lg-4 -->
			            </div>
			            <!-- /.row -->
			            <div class="row">
			                <div class="col-lg-6">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <i class="fa fa-clock-o fa-fw"></i> 干线运输业务
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <ul class="timeline">
			                                <li>
			                                    <div class="timeline-badge success"><i class="fa fa-comments"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">客户下单</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p>客户通过电话，QQ，邮件跟文员下单</p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge warning"><i class="fa fa-file-o"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">新建运输单</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p>接到客户运输通知后，文员在系统中录入运输单</p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge danger"><i class="fa fa-shopping-cart"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">提货</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge danger"><i class="fa fa-truck"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">发车</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge info"><i class="fa fa-map-marker"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">在途状态更新</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge success"><i class="fa fa-home"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">入中转仓</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">结束</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p>运输流程结束，更新运输单状态</p>
			                                        </div>
			                                    </div>
			                                </li>
			                            </ul>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                </div>
			                <%
			                 	var last_login = login_time!'';
			                	if(shiro.hasRole("admin") && last_login == ''){
			                %>
			                <div class="modal fade in" id="exampleModal"  style="display: block;">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" id="clbtn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							        <h4 class="modal-title" id="exampleModalLabel">助手小提示：</h4>
							      </div>
							      <div class="modal-body">
							          <div class="form-group">
							         	 感谢您使用易达TMS，您正使用”管理员账户”登陆，可用系统默认数据进行测试。您也可以在“基础数据设置”添加供应商，网点，仓库，产品等数据。
							           
							          </div>
							      </div>
							      <div class="modal-footer">
							        <button type="button"  id ="btn" class="btn btn-default" data-dismiss="modal">确定</button>
							      </div>
							    </div>
							  </div>
							</div>
							<%}%>
			                
			                <div class="col-lg-6">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <i class="fa fa-clock-o fa-fw"></i> 落地配业务
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <ul class="timeline">
			                                <li>
			                                    <div class="timeline-badge success"><i class="fa fa-comments"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">客户下单</h4>
			                                            
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p>客户通过电话，QQ，邮件跟文员下单</p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge warning"><i class="fa fa-file-o"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">新建配送单</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge danger"><i class="fa fa-shopping-cart"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">仓库提货</h4>
			                                        </div>
			                                        
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge danger"><i class="fa fa-truck"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">发车</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge info"><i class="fa fa-map-marker"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">在途状态更新</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li class="timeline-inverted">
			                                    <div class="timeline-badge success"><i class="fa fa-home"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">送达收货地</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p></p>
			                                        </div>
			                                    </div>
			                                </li>
			                                <li>
			                                    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
			                                    </div>
			                                    <div class="timeline-panel">
			                                        <div class="timeline-heading">
			                                            <h4 class="timeline-title">结束</h4>
			                                        </div>
			                                        <div class="timeline-body">
			                                            <p>配送流程结束，更新配送单状态</p>
			                                        </div>
			                                    </div>
			                                </li>
			                            </ul>
			                        </div>
			                        
			                    </div>
			                </div>
			            </div>
			            <!-- /.row -->
			                        
			                        
			                    </div>
			                    <!-- /.panel-body -->
			                </div>
			            	</div>
			            

			            </div>

        </div>
        <!-- /#page-wrapper -->

<%}%>
	<!-- Page-Level Plugin Scripts - Tables -->
	<script src="/yh/js/plugins/dataTables/jquery.dataTables.js" type="text/javascript"></script>
	<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script src="/yh/js/plugins/dataTables/jquery.dataTables.editable.js" type="text/javascript"></script>
	<script src="/yh/js/plugins/dataTables/jquery.jeditable.js" type="text/javascript"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/yh/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/yh/js/plugins/morris/morris.js"></script>
	
	<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <!-- <script src="/yh/js/demo/dashboard-demo.js"></script> -->
    <script src="/yh/js/index.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/funnel',
                'echarts/chart/pie'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 

                
                var option = {
				    tooltip : {
				        trigger: 'axis'
				    },
				    toolbox: {
				        show : false,
				        y: 'bottom',
				        feature : {
				            mark : {show: true},
				            dataView : {show: true, readOnly: false},
				            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
				    legend: {
				        data:['运输单','提货调车单','发车单','配送单', '保险单']
				    },
				    xAxis : [
				        {
				            type : 'category',
				            splitLine : {show : false},
				            data : ['周一','周二','周三','周四','周五','周六','周日']
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value',
				            position: 'left'
				        }
				    ],
				    series : [
				        {
				            name:'运输单',
				            type:'bar',
				            data:[320, 332, 301, 334, 390, 330, 320]
				        },
				        {
				            name:'提货调车单',
				            type:'bar',
				            tooltip : {trigger: 'item'},
				            stack: '广告',
				            data:[120, 132, 101, 134, 90, 230, 210]
				        },
				        {
				            name:'发车单',
				            type:'bar',
				            tooltip : {trigger: 'item'},
				            stack: '广告',
				            data:[220, 182, 191, 234, 290, 330, 310]
				        },
				        {
				            name:'配送单',
				            type:'bar',
				            tooltip : {trigger: 'item'},
				            stack: '广告',
				            data:[150, 232, 201, 154, 190, 330, 410]
				        },
				        {
				            name:'回单',
				            type:'bar',
				            tooltip : {trigger: 'item'},
				            stack: '广告',
				            data:[150, 232, 201, 154, 190, 330, 410]
				        },
				        {
				            name:'保险单',
				            type:'bar',
				            tooltip : {trigger: 'item'},
				            stack: '广告',
				            data:[150, 232, 201, 154, 190, 330, 410]
				        }
				       

				       
				    ]
				};
                    
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 

                var donutChart = ec.init(document.getElementById('donut-chart')); 
                var labelTop = {
    normal : {
        label : {
            show : true,
            position : 'center',
            formatter : '{b}',
            textStyle: {
                baseline : 'bottom'
            }
        },
        labelLine : {
            show : false
        }
    }
};
var labelFromatter = {
    normal : {
        label : {
            formatter : function (params){
                return 100 - params.value + '%'
            },
            textStyle: {
                baseline : 'top'
            }
        }
    },
}
var labelBottom = {
    normal : {
        color: '#ccc',
        label : {
            show : true,
            position : 'center'
        },
        labelLine : {
            show : false
        }
    },
    emphasis: {
        color: 'rgba(0,0,0,0)'
    }
};
var radius = [40, 55];
donut_option = {
    legend: {
        x : 'center',
        y : 'center',
        data:[
            '广东','广西','上海','北京','四川',
            '山西', '福建', '浙江', '新疆', '河北'
        ]
    },
    title : {
        text: '库存分析',
        subtext: '本图表数据暂时只作演示，非真实数据',
        x: 'center'
    },
    toolbox: {
        show : false,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        width: '20%',
                        height: '30%',
                        itemStyle : {
                            normal : {
                                label : {
                                    formatter : function (params){
                                        return 'other\n' + params.value + '%\n'
                                    },
                                    textStyle: {
                                        baseline : 'middle'
                                    }
                                }
                            },
                        } 
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    series : [
        {
            type : 'pie',
            center : ['25%', '30%'],
            radius : radius,
            x: '0%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:46, itemStyle : labelBottom},
                {name:'广东', value:54,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['70%', '30%'],
            radius : radius,
            x:'40%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:36, itemStyle : labelBottom},
                {name:'广西', value:64,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['25%', '70%'],
            radius : radius,
            x: '0%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:56, itemStyle : labelBottom},
                {name:'上海', value:44,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['70%', '70%'],
            radius : radius,
            x:'40%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:16, itemStyle : labelBottom},
                {name:'山西', value:84,itemStyle : labelTop}
            ]
        }
    ]
};// end of option
             donutChart.setOption(donut_option);       


// ---------------profit
var profit_chart = ec.init(document.getElementById('profit_chart')); 
profit_option = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data:['利润', '支出', '收入']
    },
    toolbox: {
        show : false,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'value'
        }
    ],
    yAxis : [
        {
            type : 'category',
            axisTick : {show: false},
            data : ['周一','周二','周三','周四','周五','周六','周日']
        }
    ],
    series : [
        {
            name:'利润',
            type:'bar',
            itemStyle : { normal: {label : {show: true, position: 'inside'}}},
            data:[200, 170, 240, 244, 200, 220, 210]
        },
        {
            name:'收入',
            type:'bar',
            stack: '总量',
            barWidth : 5,
            itemStyle: {normal: {
                label : {show: true}
            }},
            data:[320, 302, 341, 374, 390, 450, 420]
        },
        {
            name:'支出',
            type:'bar',
            stack: '总量',
            itemStyle: {normal: {
                label : {show: true, position: 'left'}
            }},
            data:[-120, -132, -101, -134, -190, -230, -210]
        }
    ]
};
profit_chart.setOption(profit_option);  



            }// end of function(ec) {
        );
    </script>