<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>${SYS_CONFIG.system_title!''}</title>
    <% var logoPath=SYS_CONFIG.logo!'';
    if(logoPath==""){%>
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	<%}else{%>
	<link rel="shortcut icon" href="${SYS_CONFIG.logo!''}">
	<%}%>
    <!-- Core CSS - Include with every page -->
    <link href="/yh/css/bootstrap.min.css" rel="stylesheet">
    <link href="/yh/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    
    <link href="/yh/css/plugins/morris/morris-0.4.3.min.css"  rel="stylesheet">
    <link href="/yh/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="/yh/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/yh/css/sb-admin.css" rel="stylesheet">

    <script src="/yh/js/jquery-1.10.2.js" type="text/javascript"></script>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">${SYS_CONFIG.system_title!''}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
				<%
	                var title = SYS_CONFIG.system_title!'易达物流';
	                var show = 'none';
	                if(title=='易达物流'){
	                    show = 'block';
	                }
	            %>
                <!-- /.dropdown -->
                ${office_name!''}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><span class="hidden-phone"> ${userId!'N/A'}</span>   <i class="fa fa-caret-down"></i>
                    </a>
                  
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/loginUser/editPerson"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li>
                        <li style='display:${show}'><a href="/officeConfig"><i class="fa fa-gear fa-fw"></i> 系统配置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav  id='left_side_bar' class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!--li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="单据号快速查找...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li-->
                    
                    <%if(!shiro.hasRole("outuser")){%>
	                   <li>
	                       <a href="/"><i class="fa fa-dashboard fa-fw"></i> 管理看板 </a>
	                   </li>
                    <%}%>
                    <%  
                    	var map = permissionMap;
                        if(nvl(map.TransferOrder_list, '') != ""){
                    %>
                        <li id="menu_transfer">
                            <a href="#"><i class="fa fa-file-text fa-fw"></i> 运输订单管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/transferOrder">运输单</a>
                                </li>
                                <!--li>
                                    <a href="/pickupOrder">提货拼车单</a>
                                </li>
                                <li>
                                    <a href="damageOrderList.html">货损运输单</a>
                                </li-->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    <%}%>
                     <% 
                        if(map.TransferOrder_list != ""){
                    %>
	                    <li id="menu_returnTransfer">
	                        <a href="#"><i class="fa fa-truck fa-fw"></i> 质量管理(货损/退货)<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                        	<li>
	                                <a href="/returnTransfer">退货单</a>
	                            </li>
	                            <li>
                                    <a href="/damageOrder">货损处理单</a>
                                </li>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
	                 <%}%>
                    <%  
                        var isPickupOrder = map.PickupOrder_list;
                        var isDepartOrder = map.DepartOrder_list;
                        if(nvl(isPickupOrder, '') != "" || nvl(isDepartOrder, '') != ""){
                    %>
                        <li id="menu_assign">
                            <a href="#"><i class="fa fa-truck fa-fw"></i>调度管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <% if(isPickupOrder != ''){%>
                                <li>
                                    <a href="/pickupOrder">提货调车单</a>
                                </li>
                                <%}%>
                                <% if(isDepartOrder != ''){%>
                                <li>
                                    <a href="/departOrder">干线发车单</a>
                                </li>
                                <%}%>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    <%}%>
                    <%
                    	var carInfoPermission = map.CarInfo_list;
                    	var driverInfoPermission = map.Driver_list;
                    	var carSummaryPermission = map.CarSummary_list;
                    	if(nvl(carInfoPermission, '') != '' || 
                            nvl(driverInfoPermission, '') != '' || 
                            nvl(carSummaryPermission, '') != ''){
                    %>
	                    <li id="menu_carmanage">
	                        <a href="#"><i class="fa fa-truck fa-fw"></i>自营车辆管理<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <% if(carInfoPermission != ''){ %>
		                            <li>
		                                <a  href="/carinfo">车辆信息</a>
		                            </li>
	                            <%}%>
	                            <% if(driverInfoPermission != ''){%>
		                            <li>
		                                <a  href="/driverinfo/driverinfoIndex">司机信息</a>
		                            </li>
	                            <%}%>
	                            <% if(true){%>
	                            <li>
	                                <a  href="/driverAssistant">跟车人员信息</a>
	                            </li>
	                            <%}%>
	                            <% if(carSummaryPermission != ''){%>
		                            <li>
		                                <a href="/carsummary">行车单</a>
		                            </li>
	                            <%}%>
	                            <% if(false){%>
		                            <li>
		                                <a href="/carreimbursement">行车报销单</a>
		                            </li>
	                            <%}%>
	                            <% if(false){%>
		                             <li>
		                                <a href="/ownCarPay/ownCarPayIndex">自营车辆付费条目</a>
		                            </li>
	                            <%}%>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
                    <%}%>
                    <% if(map.InsuranceOrder_list != ''){%>
	                    <li id="menu_damage">
	                        <a href="#"><i class="fa fa-truck fa-fw"></i> 保险购买<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="/insuranceOrder">保险单</a>
	                            </li>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
                    <%}%>
                   
	                 <% if(map.Ontrip_list != ''){%>
	                    <li id="menu_status">
	                        <a href="#"><i class="fa fa-truck fa-fw"></i> 运输在途管理<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="/departOrder/onTrip">运输在途更新</a>
	                            </li>
	                             <!-- <li>
	                                <a href="/departOrder/transferonTrip">运输单外包在途更新</a>
	                            </li>
	                            <li>
	                                <a href="/departOrder/transferMilestoneIndex">在途运输单</a>
	                            </li> -->
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
                    <%}%>
                    <%
                    	var deliveryListPermission = map.DeliveryOder_list;
                    	var deliveryOnTripPermission = map.DeliveryOderMilestone_list;
                    	if(nvl(deliveryListPermission, '') != '' || 
                            nvl(deliveryOnTripPermission, '') != ''){
                    %>
	                    <li id="menu_deliver">
	                        <a href="#"><i class="fa fa-truck fa-fw"></i> 配送管理<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                        	<% if(deliveryListPermission != ''){%>
		                            <li>
		                                <a href="/delivery">配送单</a>
		                            </li>
	                           <%}%>
	                           <% if(true){%>
		                            <li>
		                                <a href="/deliveryPlanOrder">配送排车单</a>
		                            </li>
	                            <%}%>
	                            <% if(deliveryOnTripPermission != ''){%>
		                            <li>
		                                <a href="/deliveryMilestone/deliverOnTrip">配送在途管理</a>
		                            </li>
	                            <%}%>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
                 <%}%>
                 <% if(map.ReturnOrder_list != ''){%>
                    <li id="menu_return">
                        <a href="#"><i class="fa fa-file-text fa-fw"></i> 回单管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/returnOrder">回单</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                 <%}%>
                 
                  <%
                  	var gateInPermission = map.WarehouseOrder_inList;
                  	
                  	if(nvl(gateInPermission, '') != '' ){
                  %>
                    <li id="menu_warehouse">
                        <a href="#"><i class="fa fa-th-large fa-fw"></i> 入库管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/gateIn">入库计划</a>
                            </li>
                            <li>
                                <a href="/gateOut/outIndex">入库分库</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">入库确认</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">入库审核</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">计划红冲</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">入库明细</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                 <%}%>
                 <%
                    var gateOutPermission = map.WarehouseOrder_outList;
                    if(nvl(gateOutPermission, '') != '' ){
                  %>
                 <li id="menu_warehouse">
                        <a href="#"><i class="fa fa-th-large fa-fw"></i> 出库管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/gateIn">出库计划</a>
                            </li>
                            <li>
                                <a href="/gateOut/outIndex">出库分拣</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">出库确认</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">出库审核</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">计划红冲</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">出库明细</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <%}%>
                 
                  <%
                    var InventoryListPermission = map.InventoryItem_list;
                    if(nvl(gateOutPermission, '') != ''){
                  %>
                 <li id="menu_warehouse">
                        <a href="#"><i class="fa fa-th-large fa-fw"></i> 库存管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           
                            <li>
                                <a href="/gateIn">期初库存</a>
                            </li>
                        
                            <li>
                                <a href="/gateOut/outIndex">库存调整</a>
                            </li>
                        
                            <li>
                                <a href="/stock/stockIndex">货物下架</a>
                            </li>
                           
                            <li>
                                <a href="/stock/stockIndex">货物上架</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">批次调整</a>
                            </li>
                            <li>
                                <a href="/stock/stockIndex">状态调整</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                <%}%>
                <%
                    var payListPermission = map.ChargeItem_affirm;
                    var chargeItemPermission = map.ChargeItem_affirm;
                    var chargeCheckOrderList = map.ChargeCheckOrder_list;
                    var chargePreInvoiceOrder = map.ChargePreInvoiceOrder_list;
                    var ChargeInvoiceOrderPermission = map.ChargeInvoiceOrder_list;

                    if(nvl(payListPermission, '') != '' || 
                        nvl(chargeItemPermission, '') != '' || 
                        nvl(chargeCheckOrderList, '') != '' || 
                        nvl(chargePreInvoiceOrder, '') != '' ||
                        nvl(ChargeInvoiceOrderPermission, '') != ''){
                 %>
                    <li id="menu_charge">
                        <a href="#"><i class="fa fa-cny fa-fw"></i> 应收管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <% if(chargeItemPermission != ''){%>
                                <li>
                                    <a href="/chargeConfiremList">应收明细确认</a>
                                </li>
                            <%}%>
                            <% if(chargeCheckOrderList != ''){%>
                                <li>
                                    <a href="/chargeCheckOrder">应收对账单</a>
                                </li>
                            <%}%>
                            <% if(ChargeInvoiceOrderPermission != ''){%>
                                <li>
                                    <a href="/chargeInvoiceOrder">应收开票记录</a>
                                </li>
                            <%}%>
                            <% if(payListPermission != ''){%>
                                <li>
                                    <a href="/chargeMiscOrder">手工收入单</a>
                                </li>
                            <%}%>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                <%}%> 
                <%
                	var costConfirmListPermission = map.CostItemConfirm_affirm;
                	var costCheckListPermission = map.CostCheckOrder_list;
                	var costPreInvoiceListPermission = map.CostPreInvoiceOrder_list;
                	var costListPermission = map.CostItemConfirm_affirm;
                    var costPrePayOrderListPermission = map.PrePayOrder_list;

               		if(nvl(costListPermission, '')!=''
                        || nvl(costConfirmListPermission, '') != '' 
                        || nvl(costCheckListPermission, '') != '' 
                        || nvl(costPreInvoiceListPermission, '') != ''
                        || nvl(costPrePayOrderListPermission, '') != ''){

                %>
                    <li id="menu_cost">
                        <a href="#"><i class="fa fa-cny fa-fw"></i> 应付管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <% if(costConfirmListPermission != ''){%>
	                            <li>
	                                <a href="/costConfirmList">应付明细确认</a>
	                            </li>
                            <%}%>
                            <% if(costCheckListPermission != ''){%>
	                            <li>
	                                <a href="/costCheckOrder">应付对账单</a>
	                            </li>
	                        <%}%>
                            <% if(costPrePayOrderListPermission != ''){%>
                                <li>
                                    <a href="/costPrePayOrder">预付单</a>
                                </li>
                            <%}%>
                            <% if(costListPermission != ''){%>
                                <li>
                                    <a href="/costMiscOrder">手工成本单</a>
                                </li>
                            <%}%>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
               	<%}%>
               	<%
               		var chargePermission = map.chargeAcceptOrder_list;
               		var costConfirmPermission = map.costAcceptOrder_list;
               		var reimbureementPermission = map.costReimbureement_list;
               		var chunarijiPermission = map.PaymentCheckOrder_list;
               		var TransferAccountPermission = map.TransferAccountsOrder_list;

               		if( nvl(chargePermission, '') != '' 
                        || nvl(costConfirmPermission, '') != ''
               			|| nvl(reimbureementPermission, '') != '' 
                        || nvl(chunarijiPermission, '') != '') {
               	%>
                    <li id="menu_finance">
                        <a href="#"><i class="fa fa-cny fa-fw"></i> 财务管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<% if(chargePermission != ''){%>
	                            <li>
	                                <a href="/chargeAcceptOrder">复核收款</a>
	                            </li>
	                        <%}%>
	                        <% if(costConfirmPermission != ''){%>
	                            <li>
	                                <a href="/costAcceptOrder">复核付款</a>
	                            </li>
                            <%}%>
                            
                            <% if(chunarijiPermission != ''){%>
	                        	<li>
	                                <a href="/accountAuditLog">出纳日记帐</a>
	                            </li>
                            <%}%>
                            <% if(false){%>
	                            <li>
	                                <a href="/accountTransferOrder">账户转账单</a>
	                            </li>
                            <%}%>
                            <li>
                                <a href="/inOutMiscOrder">往来票据</a>
                            </li>
                            <% if(reimbureementPermission != ''){%>
	                            <li>
	                                <a href="/costReimbursement">报销单</a>
	                            </li>
                            <%}%>
                            <% if(TransferAccountPermission != ''){%>
	                            <li>
	                                <a href="/transferAccountsOrder">转账单</a>
	                            </li>
                            <%}%>
                        </ul>
                     </li>
                        <!-- /.nav-second-level --> 
                    <%}%>
                    <%
                    	
                    	var customerContractListPermission = map.ContractCustomer_list;
                    	var providerContractListPermission = map.ContractProvider_list;
                    	var deliveryContractListPermission = map.ContractDelivery_list;
                   		if(nvl(customerContractListPermission, '') != '' || 
                            nvl(providerContractListPermission, '') != '' || 
                            nvl(deliveryContractListPermission, '') != ''){
                    %>
                    <li id="menu_contract">
                        <a href="#"><i class="fa fa-book fa-fw"></i> 合同管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <% if(customerContractListPermission != ''){%>
	                            <li>
	                                <a href="/customerContract">客户合同</a>
	                            </li>
	                         <%}%>
	                         <% if(providerContractListPermission != ''){%>
	                            <li>
	                                <a href="/spContract/spIndex">干线供应商合同</a>
	                            </li>
                            <%}%>
                            <% if(deliveryContractListPermission != ''){%>
	                            <li>
	                                <a href="/deliverySpContract/deliverySpIndex">提货/配送供应商合同</a>
	                            </li>
                            <%}%>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                   <%}%>
                   <% 
                   		var productIndexPermission = map.ProductIndex_list;
                   		var orderIndexPermission = map.OrderIndex_list;
                   		var dailyReportPermission = map.DailyReport_list;
                        var orderFlowPermission = map.OrderFlowReport_list;
                   		
                   		if(nvl(productIndexPermission, '') != '' || 
                            nvl(orderIndexPermission, '') !='' || 
                            nvl(dailyReportPermission, '') !='' || 
                            nvl(InventoryListPermission, '') !='' ||
                            nvl(orderFlowPermission, '') !='')
                   {%>
                    <li id="menu_report">
                        <a href="#"><i class="fa fa-table fa-fw"></i> 报表查询<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        	<%
                        		if(productIndexPermission != ''){
                        	%>
                            <li>
                                <a href="/statusReport/productIndex">单品状态查询</a>
                            </li>
                            <%}%>
                            <%
                        		if(InventoryListPermission != ''){
                        	%>
                            <li>
                                <a href="/stock/outUserQuery">库存查询</a>
                            </li>
                            <%}%>
                            <%
                        		if(dailyReportPermission !=''){
                        	%>
                            <li>
                                <a href="/statusReport/dailyReport">运营报表</a>
                            </li>
                            <li>
                                <a href="/statusReport/dailyReport">运营（预估）报表</a>
                            </li>
                            <%}%>
                            <%
                                if(orderFlowPermission !=''){
                            %>
                            <li>
                                <a href="/statusReport/orderFlow">单据流转查询</a>
                            </li>
                            <%}%>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <%}%>
                    <%
                    	var customerPermission = map.Customer_list;
                    	var spListPermission = map.Provider_list;
                    	var spCarListPermission = map.ProviderCar_list;
                    	var spDriverListPermission = map.ProviderDriver_list;
                    	var officeListPermission = map.Office_list;
                    	var productListPermission = map.Product_list;
                    	var warehouseListPermission = map.Warehouse_list;
                    	var tollpayListPermission = map.Toll_list;
                    	var tollcostListPermission = map.Pay_list;
                    	var accountListPermission = map.Account_list;
                    	
                    	if(nvl(customerPermission, '') != '' || 
                            nvl(spListPermission, '') != '' || 
                            nvl(spCarListPermission, '') != '' || 
                            nvl(spDriverListPermission, '') != '' || 
                            nvl(officeListPermission, '') != '' || 
                            nvl(productListPermission, '') != '' || 
                            nvl(warehouseListPermission, '') != '' || 
                            nvl(tollpayListPermission, '') != '' || 
                            nvl(tollcostListPermission, '') != '' || 
                            nvl(accountListPermission, '') != ''){
                    %>
                    
	                    <li id="menu_profile">
	                        <a href="#"><i class="fa fa-cog fa-fw"></i> 基础数据设置<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
		                         <% if(customerPermission != ''){%>
		                            <li>
		                                <a href="/customer">客户</a>
		                            </li>
	                             <%}%>
		                         <% if(spListPermission != ''){%>
		                            <li>
		                                <a href="/serviceProvider">供应商</a>
		                            </li>
	                             <%}%>
	                             <li>
		                                <a href="/insurance">保险公司</a>
		                         </li>
		                         <% if(spCarListPermission != ''){%>
		                            <li>
		                                <a href="/spcarinfo/spcarinfoIndex">供应商车辆信息</a>
		                            </li>
	                             <%}%>
		                         <% if(spDriverListPermission != ''){%>
		                            <li>
		                                <a href="/spdriverinfo/spdriverinfoIndex">供应商司机信息</a>
		                            </li>
	                             <%}%>
		                         <% if(officeListPermission != ''){%>
		                            <li>
		                                <a href="/office">网点[分公司]</a>
		                            </li>
	                             <%}%>
		                         <% if(productListPermission != ''){%>
		                            <li>
		                                <a href="/product">产品</a>
		                            </li>
	                             <%}%>
		                         <% if(warehouseListPermission != ''){%>
		                            <li>
		                                <a href="/warehouse">仓库</a>
		                            </li>
	                             <%}%>
	                            <li>
	                                <a href="/location">城市</a>
	                            </li>
	                            <!-- <li>
	                                <a href="/route">干线定义</a>
	                            </li>
	                            <li>
	                                <a href="/orderStatus">里程碑</a>
	                            </li> -->
		                         <% if(tollpayListPermission != ''){%>
		                            <li>
		                                <a  href="/toll?page=收费">收费条目定义</a>
		                            </li>
	                             <%}%>
		                         <% if(tollcostListPermission != ''){%>
		                            <li>
		                                <a  href="/pay?page=付款">付费条目定义</a>
		                            </li>
	                             <%}%>
		                         <% if(accountListPermission != ''){%>
		                            <li>
		                                <a  href="/account">金融账户</a>
		                            </li>
	                             <%}%>
	                             <% if(accountListPermission != ''){%>
		                            <li>
		                                <a  href="/reimbursementItem">报销费用</a>
		                            </li>
	                             <%}%>
		                         <% if(false){%>
		                            <li>
		                                <a  href="/account">应收应付条目管理</a>
		                            </li>
	                             <%}%>
	                           
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
                    <%}%>
                    <%
                        var userLoginListPermission = map.User_list;
                        var roleListPermission = map.Role_list;
                        var userRoleListPermission = map.UserRole_list;
                        var rolePrivilegeListPermission = map.RolePermission_list;
                       
                        if(nvl(userLoginListPermission, '') != '' 
                            || nvl(roleListPermission, '') != '' 
                            || nvl(userRoleListPermission, '') != ''
                            || nvl(rolePrivilegeListPermission, '') != '' ){
                    %>
                        <li id="menu_sys_profile">
                            <a href="#"><i class="fa fa-cog fa-fw"></i> 系统配置<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <% if(roleListPermission != ''){%>
                                    <li>
                                        <a href="/role">岗位</a>
                                    </li>
                                <%}%>
                                <% if(rolePrivilegeListPermission != ''){%>
                                    <li>
                                        <a href="/privilege">岗位权限</a>
                                    </li>
                                 <%}%>
                                <% if(userLoginListPermission != ''){%>
                                    <li>
                                        <a href="/loginUser">登录用户</a>
                                    </li>
                                 <%}%>
                                 
                                 <% if(userRoleListPermission != ''){%>
                                    <li>
                                        <a href="/userRole">用户岗位</a>
                                    </li>
                                 <%}%>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    <%}%>
                    <%if(!shiro.hasRole("outuser")){%>
                    <li>
                        <a href="#"><i class="fa fa-question fa-fw"></i> 需要帮助<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://doc.eeda123.com" target="_blank">帮助文档</a>
                            </li>
                            
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <%}%>
                    
                    <!--li id="menu_warehouse">
                        <a href="#"><i ></i> QQ客服群:436923659<span></span></a>
                    </li-->
                    
                    
                </ul>
                <!--  /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
        <a id='hide_menu_btn' href="#" style="position: absolute;left: 250px;top: 250px; z-index:1; height: 200px; background-color: rgb(241, 241, 241); border-top-right-radius: 10px; border-bottom-right-radius:10px;" title="隐藏菜单">
            <i id='hide_menu_icon' class="fa fa-angle-double-left fa-2x" style="
    margin-top: 90px;"
></i>
        </a>
        ${layoutContent}

    </div>
    <!-- /#wrapper 11-->

    <!-- Core Scripts - Include with every page -->
    
    <script src="/yh/js/bootstrap.js"></script>
    <script src="/yh/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/yh/js/sb-admin.js"></script>
</body>

</html>
