<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>源鸿物流信息平台</title>

    <!-- Core CSS - Include with every page -->
    <link href="/yh/css/bootstrap.min.css" rel="stylesheet">
    <link href="/yh/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    
    <link href="/yh/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/yh/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="/yh/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/yh/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">源鸿物流信息平台</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    
                        <i class="fa fa-user fa-fw"></i><span class="hidden-phone"> ${userId!'N/A'}</span>   <i class="fa fa-caret-down"></i>
                    </a>
                  
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/yh/loginUser/edit"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 默认配置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/yh/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!--li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="单据号快速查找...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li-->
                    <li>
                        <a href=""><i class="fa fa-dashboard fa-fw"></i> 系统监控</a>
                    </li>
                    <li id="menu_transfer">
                        <a href="#"><i class="fa fa-file-text fa-fw"></i> 运输订单管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/transferOrder">运输单</a>
                            </li>
                            <!--li>
                                <a href="/yh/pickupOrder">提货拼车单</a>
                            </li>
                            <li>
                                <a href="damageOrderList.html">货损运输单</a>
                            </li-->
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_assign">
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 调度管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/pickupOrder">提货拼车单</a>
                            </li>
                             <li>
                                <a href="/yh/departOrder">干线发车单</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_damage">
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 保险购买<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">运输单</a>
                            </li>
                            <li>
                                <a href="/yh/pickupOrder">提货拼车单</a>
                            </li>
                             <li>
                                <a href="/yh/departOrder">干线发车单</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_damage">
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 质量管理(货损/退货)<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="">运输单</a>
                            </li>
                            <li>
                                <a href="/yh/pickupOrder">提货拼车单</a>
                            </li>
                             <li>
                                <a href="/yh/departOrder">干线发车</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_status">
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 运输在途管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/departOrder/onTrip">发车单在途更新</a>
                            </li>
                             <li>
                                <a href="/yh/departOrder/TransferonTrip">运输单外包在途更新</a>
                            </li>
                            <li>
                                <a href="/yh/departOrder/transferMilestoneindex">在途运输单</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_deliver">
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 配送管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/delivery">配送单</a>
                            </li>
                             <li>
                                <a href="/yh/deliveryMilestone">配送在途管理</a>
                            </li>
                            
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_warehouse">
                        <a href="#"><i class="fa fa-th-large fa-fw"></i> 仓储管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/gateIn">入库单</a>
                            </li>
                            <li>
                                <a href="/yh/gateOut">出库单</a>
                            </li>
                            <li>
                                <a href="/yh/stock">库存</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_return">
                        <a href="#"><i class="fa fa-file-text fa-fw"></i> 回单管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/returnorder">回单</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_finance">
                        <a href="#"><i class="fa fa-cny fa-fw"></i> 财务管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/chargeCheckOrder">应收对账单</a>
                            </li>
                            <li>
                                <a href="/yh/paymentCheckOrder">应付对账单</a>
                            </li>
                            <li>
                                <a href="/yh/receivableCheckOrder">应收结帐单</a>
                            </li>
                            <li>
                                <a href="/yh/copeCheckOrder">应付结账单</a>
                            </li>
                            <li>
                                <a href="#">出纳日记账查询</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_contract">
                        <a href="#"><i class="fa fa-book fa-fw"></i> 合同管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/customerContract">客户合同</a>
                            </li>
                            <li>
                                <a href="/yh/spContract">干线供应商合同</a>
                            </li>
                            <li>
                                <a href="/yh/deliverySpContract">配送单供应商合同</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_report">
                        <a href="#"><i class="fa fa-table fa-fw"></i> 报表查询<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">中转仓库存报表</a>
                            </li>
                            <li>
                                <a href="#">运输运营日报表</a>
                            </li>
                            <li>
                                <a href="#">终端送货计划明细表</a>
                            </li>
                            <li>
                                <a href="#">终端送货完成明细表</a>
                            </li>
                            <li>
                                <a href="#">应收款结算进度表</a>
                            </li>
                            <li>
                                <a href="#">应付款结算进度表</a>
                            </li>
                            <li>
                                <a href="#">成本核算分析表</a>
                            </li>
                            <li>
                                <a href="#">盈利分析表</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu_profile">
                        <a href="#"><i class="fa fa-cog fa-fw"></i> 基础数据设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/yh/loginUser">登录用户</a>
                            </li>
                            <li>
                                <a href="/yh/role">用户角色</a>
                            </li>
                            <li>
                                <a href="/yh/privilege">用户权限</a>
                            </li>
                            <li>
                                <a href="/yh/customer">客户</a>
                            </li>
                            <li>
                                <a href="/yh/serviceProvider">供应商</a>
                            </li>
                            <li>
                                <a href="/yh/office">分公司</a>
                            </li>
                            <li>
                                <a href="/yh/product">产品</a>
                            </li>
                            <li>
                                <a href="/yh/warehouse">仓库</a>
                            </li>
                            <li>
                                <a href="/yh/location">城市</a>
                            </li>
                            <li>
                                <a href="/yh/route">干线定义</a>
                            </li>
                            <li>
                                <a href="/yh/orderStatus">里程碑</a>
                            </li>
                            <li>
                                <a  href="/yh/toll?page=收费">收费条目定义</a>
                            </li>
                            <li>
                                <a  href="/yh/pay?page=付款">付费条目定义</a>
                            </li>
                            <li>
                                <a  href="/yh/account">金融账户</a>
                            </li>
                            <li>
                                <a  href="/yh/carinfo">车辆信息</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-question fa-fw"></i> 需要帮助<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">帮助文档</a>
                            </li>
                            <li>
                                <a href="#">问题反馈</a>
                            </li>
                            
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!--  /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        ${layoutContent}

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/yh/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/yh/js/bootstrap.js"></script>
    <script src="/yh/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/yh/js/sb-admin.js"></script>
</body>

</html>
