


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="qc:admins" content="1621525725152022123671306654" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    

    <title>易达物流信息平台</title>

    <!-- Core CSS - Include with every page -->
    <link href="/yh/css/bootstrap.min.css" rel="stylesheet">
    <link href="/yh/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
    <link href="/yh/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row">
     
            <div class="col-md-4 col-md-offset-4">
            	
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">源鸿物流</h3>                      
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/yh/login" id="login" method="post">
                            <fieldset>
                                <div class="form-group" >
                                    <input class="form-control" placeholder="用户名" id="username" name="username" type="text" autofocus value="demo">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="用户密码" id="password" name="password" type="password" value="123456">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Y">下次自动登录
                                    </label>
                                     <span id="qqLoginBtn"></span>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">登录</button>
                               
                            </fieldset>
                        </form>
                        	<a href = "/yh/register" style="float:right">新用户注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101116610" data-redirecturi="http://56.eeda123.com" charset="utf-8"></script>
    <script src="/yh/js/jquery-1.10.2.js"></script>
    <script src="/yh/js/bootstrap.min.js"></script>
    <script src="/yh/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/yh/js/jquery.validate.min.js"></script>
    <script src="/yh/js/jvalidate.messages_cn.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/yh/js/sb-admin.js"></script>
<script>
    $(document).ready(function() {
    
        //QC.Login({
          // btnId:"qqLoginBtn"    //插入按钮的节点id
        //});

        $('#login').validate({
            rules: {
            username: {//form 中company_name为必填, 注意input 中定义的id, name都要为company_name
                required: true
              },
              password:{//form 中 name为必填
                required: true
              }
             
            },
            messages:{
              	username:"请输入用户名",
              	password:"请输入用户密码"
              },
            highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function(element) {
                element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        }); 
    });
</script>

</body>

</html>
