

<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header">
                    	<% if(shiro.hasPermission("ContractCustomer.create")){%>
                        	<div id="btn1" style="display:none"><a class="btn   btn-primary" href="/customerContract/add">新增客户合同</a></div>
                        <%}%>
                        <% if(shiro.hasPermission("ContractProvider.create")){%>
                        	<div id="btn2" style="display:none"><a class="btn   btn-primary" href="/spContract/add">新增干线供应商合同</a></div>
                        <%}%>
                        <% if(shiro.hasPermission("ContractDelivery.create")){%>
                        	<div id="btn3" style="display:none"><a class="btn   btn-primary" href="/deliverySpContract/add">新增配送供应商合同</a></div>
                    	<%}%>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<div class="row search_panel">
                         <div class="col-lg-4">
                             <div class="form-group">
                                 <label class="search-label">合同名称</label>
                                 <input type="text" class="form-control search-control orderNo_filter" id="contractName_filter">
                             </div>
                             <div class="form-group">
                                 <label class="search-label">联系人</label>
                                 <input type="text" class="form-control search-control address_filter" id="contactPerson_filter">
                             </div>
                             <div class="form-group">
                            <div id="datetimepicker" class="input-append date "> 
                                <label class="search-label">开始时间</label> 
                                <input id="periodFrom_filter" class="form-control search-control  beginTime_filter" type="text">
                                <span class="add-on">  
                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                </span>  
                            </div>
                        </div>
                         </div>
                         <!-- end of col-lg-6-->
                 <div class="col-lg-4">
                     <div class="form-group">
                         <label class="search-label">公司名称</label>
                         <input type="text" class="form-control search-control customer_filter" id="companyName_filter">
                         <ul style="top: 35%; left: 2%;" tabindex="-1" class="pull-right dropdown-menu default dropdown-scroll" id="cpnameList"></ul>
                     </div>
                     <div class="form-group">
                         <label class="search-label">联系电话</label>
                         <input type="text" class="form-control search-control sp_filter" id="phone_filter">
                     </div>
                     <div class="form-group">                                                    
                        <span id="datetimepicker2" class="input-append date search-control "> 
                            <label class="search-label">结束时间</label> 
                            <input id="periodTo_filter" class="form-control search-control endTime_filter" type="text">
                            <span class="add-on">  
                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                            </span>  
                        </span>
                     </div>
                 </div>
                 <!-- end of col-lg-6-->
             </div>
             <div class="row search_panel">
                    <div class="col-lg-4">
                        <div id="searchBtn" ><a class="btn btn-primary">查询</a></div>    
                    </div>
                    <!-- end of col-lg-6-->
                    <div class="col-lg-4">
                        
                    </div>
                    <!-- end of col-lg-6-->
                </div>
                <br/>
           <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>合同列表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                            
                            <!-- 下面input判断 customer和供应商sp -->
                            <div><input id="type" type="hidden" value="${contractType!}"></div>
                            
                                <table class="table table-striped table-bordered table-hover" id="eeda-table" style="width: 1237px;">
                                    <thead>
                                        <tr>
                                            <th>合同名称</th>
                                            <th>公司</th>
                                            <th>公司简称</th>
                                            <th>联系人</th>
                                            <th>联系方式</th>
                                            <th>开始时间</th>
                                            <th>结束时间</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
        </div>
       

<%}%>
 <!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
	<%
		var contractCustomerUpdate = shiro.hasPermission("ContractCustomer.update");
		var contractCustomerDel = shiro.hasPermission("ContractCustomer.delete");
		var contractProviderUpdate = shiro.hasPermission("ContractProvider.update");
		var contractProviderDel = shiro.hasPermission("ContractProvider.delete");
		var contractDeliveryUpdate = shiro.hasPermission("ContractDelivery.update");
		var contractDeliveryDel = shiro.hasPermission("ContractDelivery.delete");
	
	%>
	var ContractCustomer={};
	var ContractProvider={};
	var ContranctDelivey={};
	ContractCustomer.isUpdate = ${contractCustomerUpdate};
	ContractCustomer.isDel= ${contractCustomerDel};
	ContractProvider.isUpdate = ${contractProviderUpdate};
	ContractProvider.isDel = ${contractProviderDel};
	ContranctDelivey.isUpdate = ${contractDeliveryUpdate};
	ContranctDelivey.isDel = ${contractDeliveryDel};
	
</script>
<script src="/yh/js/contract/list.js"></script>

