<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title id="titleName">${SYS_CONFIG.system_title!''}回单签收</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="/yh/css/plugins/wx/style.css">
  
  <link href="/yh/css/bootstrap.min.css" rel="stylesheet">
  <link href="/yh/css/sb-admin.css" rel="stylesheet">
</head>
<body ontouchstart="">
<div class="wxapi_container">
    
    <div class="lbox_close wxapi_form">
    	<form id="returnFrom" method="post">
	    	<input type="hidden" id="type" name="type" value="${type!''}">
	    	<% var typeOrder = type!'';
	    	if(typeOrder == "default"){%>
	      	<div id="defaultDiv" class="form-group">
	        	<label class="control-label">请输入回单号码</label>
	        	<input type="text" class="form-control" id="orderNo" name='orderNo' value="${orderNo!''}" />
	        </div>
	        <%}else if(typeOrder == "directSend"){%>
	        <div id="directSendDiv" class="form-group">
	        	<label class="control-label">请输入运输单号</label>
	        	<input type="text" class="form-control" id="transferOrderNo" name='transferOrderNo' value="${transferOrderNo!''}" />
	        	<label class="control-label">请输入客户订单号</label>
	        	<input type="text" class="form-control" id="customerOrderNo" name='customerOrderNo' value="" />
	        </div>
	        <%}else if(typeOrder == "distribution"){%>
	        <div id="distributionDiv" class="form-group">
	        	<label class="control-label">请输入货品序列号</label>
	        	<input type="text" class="form-control" id="serialNo" name='serialNo' value="${orderNo!''}" />
	        	<label class="control-label">请选择客户</label>
	        	<input id="customerId" name="customerId" type="hidden">
	            <input id="customerMessage" class="form-control" placeholder="选择客户" type="text" name="customerMessage">
	           	<ul id='customerList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 17%; left: 2%;"></ul>
	        </div>
	        <%}%>
        </form>
        <h3 id="menu-image1"></h3>
        <input type="hidden" id="returnId" name='returnId' value="" />
        <button class="btn btn_primary" id="searchNo">查询</button>
        <!--h3 id="menu-scan">或 微信扫一扫</h3>
        <button class="btn btn_primary" id="scanQRCode0">scanQRCode(微信处理结果)</button>
        <button class="btn btn_primary" id="scanQRCode1">scanQRCode(直接返回结果)</button-->
        <span id='orderDesc' class="desc" style='display:none;'></span>


        <h3 id="menu-image"></h3>
        <span id='imgDesc' class="desc" style='display:none;'>已选择 0 张图片</span>
        <button class="btn btn_primary" id="chooseImage" style='display:none;'>拍照或从手机相册中选图</button>
        
        <button class="btn btn_primary" id="previewImage"  style='display:none;'>预览图片</button>
        
        <button class="btn btn_primary" id="uploadImage" style='display:none;'>上传图片</button>


        <input type="file" id="fileupload" name="fileupload" size="1" multiple="" style="position:absolute; filter:alpha(opacity=0); opacity:0; width:0px;"  >
       
        <button class="btn btn_primary" id="uploadBtn">上传图片</button>
     	<span id='uploadDesc' class="desc" style='display:none;'></span>
    </div>
  </div>
</body>
<script src="/yh/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  var orderNo = "${orderNo!''}";
</script>
<script>
  wx.config({
      debug: true,
      appId: '${appId}',
      timestamp: ${timestamp},
      nonceStr: '${nonceStr}',
      signature: '${signature}',
      jsApiList: [
        
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'hideOptionMenu',
        'scanQRCode'
        
      ]
  });
</script>
<script src="/yh/css/ui/jquery-ui.js"></script>


<script src="/yh/js/plugins/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js"></script>

<script src="/yh/js/plugins/JavaScript-Load-Image-1.13.0/js/load-image.all.min.js"></script>
<script src="/yh/js/plugins/JavaScript-Canvas-to-Blob-2.0.5/js/canvas-to-blob.min.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.9.3/js/jquery.fileupload-process.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.9.3/js/jquery.fileupload-image.js"></script>


<!-- 某些型号android 不加Version,js文件会不刷新-->
<!-- <script src="/yh/js/wx/ro_filing.js?version=${timestamp}"> </script> -->
<script src="/yh/js/wx/ro_filing.js"></script>


</html>
