<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <div id="wrapper">
        <div id="page-wrapper">           
                <div class="btn-header">
                    <!-- <div class="btn-header" style="font-size: 32px">回单</div> -->                   
                </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>回单列表
                        </div>
                        <div class="panel-body">
                         <form role="form" style="margin: 0 15px;" id='searchForm'>
                            <div class="row search_panel">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">回单号</label>
                                        <input type="text" class="form-control search-control orderNo_filter" id="order_no" value="">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="search-label">运输单号</label>
                                        <input type="text" class="form-control search-control address_filter" id="tr_order_no">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">订单类型</label>
                                        <select id="transfer_type" class="form-control search-control status_filter">
                                                <option value=""></option>
                                                <option value="销售订单">销售订单</option>
                                                <option value="补货订单">补货订单</option>
                                                <option value="调拨订单">调拨订单</option>
                                                <option value="退货订单">退货订单</option>
                                                <option value="出库运输单">出库运输单</option>
                                                <option value="移机单">移机单</option>                                           
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">序列号</label>
                                        <input type="text" class="form-control search-control" id="serial_no">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">省份</label>
                                        <input type="text" class="form-control search-control" id="province">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">客户名称</label>
                                        <input type="text" class="form-control search-control customer_filter" id="customer_filter" placeholder="请选择客户">
                                       	<ul id='companyList' tabindex="-1" class="pull-right dropdown-menu default dropdown-scroll" style="top: 43%; left: 33%;"></ul>
                                    </div>
                                    <div class="form-group">                                        
                                        <div id="datetimepicker" class="input-append date "> 
                                            <label class="search-label">计划时间</label> 
                                            <input id="time_one" class="form-control search-control  beginTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>  
                                        </div>
                                    </div>   
                                    <div class="form-group">
                                        <label class="search-label">回单类型</label>
                                        <select id="return_type" class="form-control search-control status_filter">
                                                <option value=""></option>
                                                <option value="配送">配送</option>
                                                <option value="运输">运输</option>
                                                <option value="退货直送">退货直送</option>  
                                                <option value="退货配送">退货配送</option>                                               
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">中转仓</label>
                                        <input type="text" class="form-control search-control" id="warehouse">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">图片审核</label>
                                         <select id="imgaudit" class="form-control search-control imgaudit_filter">
                                                <option value=""></option>
                                                <option value="无图片">无图片</option>
                                                <option value="有图片待审核">有图片待审核</option>  
                                                <option value="有图片已审核">有图片已审核</option>                                               
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">图片类型</label>
                                         <select id="photo_type" class="form-control search-control imgaudit_filter">
                                                <option value=""></option>
                                                <option value="回单签收">只有回单签收</option>  
                                                <option value="现场安装">只有现场安装</option>                                               
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                	<div class="form-group">
                                        <label class="search-label">配送单号</label>
                                        <input type="text" class="form-control search-control customer_filter" id="de_order_no">
                                    </div>
                                    <div class="form-group">                                                    
                                        <span id="datetimepicker2" class="input-append date search-control "> 
                                            <label class="search-label">~</label> 
                                            <input id="time_two" class="form-control search-control endTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                            </span>  
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">签收单据号</label>
                                        <input type="text" class="form-control search-control" id="sign_no">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">目的城市</label>
                                        <input type="text" class="form-control search-control" id="to_name">
                                    </div>
                                    <div class="form-group">
                                    	<%include("/yh/component/form/dateInputField.html",{id:'q_begin_date', label:'开始签收时间', value: ''}){} %>
		                        	</div>
		                        	<div class="form-group">
		                            	<%include("/yh/component/form/dateInputField.html", {id:'q_end_date',  
		                                                    label:'结束签收时间',value:''
		                                                }){}%>
		                            </div>
                                </div>
                            </div>
                            <div class="form-group">
                                        <button id="searchBtn" class="btn btn-primary" type="button">查询</button> 
                                        <button id="resetBtn" class="btn btn-default" type="button">清空条件</button>
                            </div> 
                         </form>
                         
                    		<div class="col-lg-12">
                    			<div class="form-group"></div>
	                    		<ul id="orderTabs" class="nav nav-tabs">
	                               	<li class="active"><a href="#create" data-toggle="tab" data-src="create" id ="createTab" >新建回单</a></li>
	                                <li class=""><a href="#search" data-toggle="tab" id="finishTab">已签收回单</a></li> 
	                            </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="create">
                                    <div class="panel-body">
                                    	<div class="row">
                                            <div class="col-lg-12">
					                            <div class="table-responsive"><br/>
					                                <table class="table table-striped table-bordered table-hover" id="example" style="width: 2200px;">
					                                    <thead>
					                                        <tr>
					                                            <th>回单编号</th>
					                                            <th>回单类型</th>
					                                            <th>订单类型</th>
					                                            <th>计划时间</th>
					                                            <th>序列号</th>
					                                            <th>货品型号</th>
					                                            <th>收货人</th>
					                                            <th>收货人电话</th>
					                                            <th>收货单位</th>
					                                            <th>收货地址</th>
					                                            <th>中转仓</th>
					                                            <th>数量</th>
					                                            <th>客户名称</th>
					                                            <th>运输单号</th>
					                                            <th>始发城市</th>
					                                            <th>目的城市</th>
					                                            <th>运输单地址</th>
					                                           <!--  <th>提货日期</th> -->
					                                            <th>配送单号</th>
					                                            <th>回单创建人</th>                                   
					                                            <th>到达时间</th> 
					                                            <th>状态</th>
					                                            <th>图片审核</th>
					                                            <th>备注</th>
					                                        </tr>
					                                    </thead>
					                                    <tbody>
					                                                                                                                                            
					                                    </tbody>
					                                </table>
					                            </div>
						                    </div>
                                		</div>        
                            		</div>
                                </div>
                            	<div class="tab-pane fade" id="search">
	                            	<div class="panel-body">
	                            		<div class="row">
	                                    	<div class="col-lg-12">
					                            <div class="table-responsive"><br/>
					                                <table class="table table-striped table-bordered table-hover" id="example2" style="width: 2500px;">
					                                    <thead>
					                                        <tr>
					                                            <th>回单编号</th>
					                                            <th>中转仓</th>
					                                            <th>序列号</th>
                                                                <th>签收单据号</th>
                                                                <th>货品型号</th>
					                                            <th>数量</th>
					                                            <th>收货单位</th>
					                                            <th>收货地址</th>
					                                            <th>收货人姓名</th>
					                                            <th>收货人电话</th>
					                                            <th>客户名称</th>
					                                            <th>运输单号</th>
					                                            <th>始发城市</th>
					                                            <th>目的城市</th>
					                                            <th>地址</th>
					                                            <th>配送单号</th>
					                                            <th>回单创建人</th>
					                                            <th>到达时间</th>                                    
					                                            <th>计划时间</th> 
					                                            <th>签收时间</th>
					                                            <th>状态</th>
					                                            <th>图片审核</th>
					                                            <th>备注</th>
					                                        </tr>
					                                    </thead>
					                                    <tbody>
					                                    </tbody>
					                                </table>
					                            </div>
				                            </div>
	                        			</div>
		                            </div>
                        		</div>
                        	</div>
                       
                    	</div>
                   
                	</div>
               
            	</div>
         
        	</div>
        	<!-- /#page-wrapper -->

    </div>
    <%}%>
    <!-- /#wrapper -->

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
 
<script>
	<%
		var returnOrderUpdate = shiro.hasPermission("ReturnOrder.update");
		var returnOrderComplete = shiro.hasPermission("ReturnOrder.completed");
	%>
	var Return = {};
	Return.isUpdate = ${returnOrderUpdate};
	Return.isComplete = ${returnOrderComplete};
</script>
<script src="/yh/js/returnOrder/list.js"></script>