<%layout("/yh/layout.html"){%>
	<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">货损记录单</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>

            <div class="row">  <!--  form row  -->
                <form id="orderForm">
                    <div class="row"><!--  第1行  -->
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'货损单号', 
                                                    value:order.ORDER_NO!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                        
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputCustomerField.html", 
                                {
                                    id:'customer_id', 
                                    label:'客户名称', 
                                    value:order.CUSTOMER_ID!'',
                                    display_value: order.customer_name!''
                                }){} %>
                        </div>
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputSpField.html", 
                                {
                                    id:'sp_id', 
                                    label:'供应商', 
                                    value:order.sp_id!'',
                                    display_value: order.sp_name!''
                                }){} %>
                        </div>
                    </div>

                    <div class="row"><!--  第2行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/selectField.html", 
                                                    {   id:'order_type', 
                                                        label:'单据类型', 
                                                        value: order.order_type!'',
                                                        value_list:[
                                                            {code:'运输单', value:'运输单'}, 
                                                            {code:'提货单', value:'提货单'}, 
                                                            {code:'发车单', value:'发车单'},
                                                            {code:'配送单', value:'配送单'}, 
                                                            {code:'退货单', value:'退货单'}
                                                        ]
                                                    }
                                                 ){} %>
                        </div>                        
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                            {   id:'biz_order_no', 
                                                label:'业务单号', 
                                                value:order.biz_order_no!''
                                                }){} %>
                        
                        </div>                        
                        <div class="col-lg-4"> 
                            <%include("/yh/component/form/selectField.html", 
                                    {   id:'process_status', 
                                        label:'处理进度', 
                                        value: order.process_status!'',
                                        value_list:[
                                            {code:'已报保险', value:'已报保险'}, 
                                            {code:'退回中转仓', value:'退回中转仓'}, 
                                            {code:'退回客户仓', value:'退回客户仓'},
                                            {code:'检测定损', value:'检测定损'}, 
                                            {code:'保险定案', value:'保险定案'},
                                            {code:'已收理赔款', value:'已收理赔款'},
                                            {code:'已支付赔款', value:'已支付赔款'},
                                            {code:'更换包装', value:'更换包装'},
                                            {code:'重新发货', value:'重新发货'}
                                        ]
                                    }
                                 ){} %>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row-->

                    <div class="row"><!--  第3行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/selectField.html", 
                                                    {   id:'accident_type', 
                                                        label:'事故类型', 
                                                        value: order.accident_type!'',
                                                        value_list:[
                                                            {code:'包装破损', value:'包装破损'}, 
                                                            {code:'摔机货损', value:'摔机货损'}, 
                                                            {code:'货品丢失', value:'货品丢失'},
                                                            {code:'交通事故', value:'交通事故'}, 
                                                            {code:'设施损坏', value:'设施损坏'},
                                                            {code:'其它', value:'其它'}
                                                        ]
                                                    }
                                                 ){} %>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">        
                            <%include("/yh/component/form/inputField.html", 
                                            {  id:'amount', 
                                                label:'货损金额', 
                                                value:order.amount!''
                                            }){} %>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/dateInputField.html",{id:'accident_date', label:'事故时间', value: order.accident_date!''}){} %>
                        </div><!-- /.col-lg-4 -->
                    </div>    
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'creator_name', 
                                                    label:'创建人', 
                                                    value:order.creator_name!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'create_date', 
                                                    label:'创建时间', 
                                                    value:order.create_date!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'status', 
                                                    label:'状态', 
                                                    value:order.status!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputInsuranceField.html", 
                                {
                                    id:'insurance_id', 
                                    label:'保险公司', 
                                    value:order.INSURANCE_ID!'',
                                    display_value: order.insurance_name!''
                                }){} %>
                        </div>
                    </div> 
                </form>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                   <div class="form-group">
                        <label>事故描述</label>
                        <textarea id='accident_desc' class="form-control" rows="3" name="accident_desc">${order.accident_desc!''}</textarea>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>


             <br>
            <div class="row">
                <div class="col-lg-12">
                <h4>货损明细</h4>
                    <button class="btn btn-success btn-xs" id="add_cargo">添加</button>
                    <%include("/yh/component/form/detailTable.html", 
                        {
                            id:'cargo_table', 
                            headers:['', '产品型号', '产品序列号', '货损数量', '备注'],
                            field_list:['', 'product_no', 'serial_no', 'amount', 'remark'],
                            value_list: order.item_list![]
                        }){} %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>保险公司或责任方赔偿</h4>
                    <button class="btn btn-success btn-xs" id="add_charge">添加</button>
                    <!-- field_list: 回显对应的字段名字 -->
                    <%include("/yh/component/form/detailTable.html", 
                        {
                            id:'charge_table', 
                            headers:['', 'id', '状态', '应收描述', '金额', '赔偿方', '赔偿方名称', '收款方式', '备注'],
                            field_list:['', 'id', 'status', 'fin_item', 'amount', 'party_type', 'party_name', 'fin_method', 'remark'],
                            value_list: order.charge_list![]
                        }){} %>
                    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4>向客户或收货人赔款</h4>
                    <button class="btn btn-success btn-xs" id="add_cost">添加</button>
                    <%include("/yh/component/form/detailTable.html", 
                        {
                            id:'cost_table', 
                            headers:['', 'id', '状态', '应付描述', '金额', '收款方', '客户名称', '付款方式', '备注'],
                            field_list:['', 'id', 'status', 'fin_item', 'amount', 'party_type', 'party_name', 'fin_method', 'remark'],
                            value_list: order.cost_list![]
                        }){} %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <div class="form-group">
                        <h4>总金额： <span id='total_amount'>${order.amount!0}</span></h4>
                        <h4>责任方赔付金额：<span id='total_charge'></span></h4>
                        <h4>向客户赔付金额：<span id='total_cost'></span></h4>
                        <h4>差异金额：<span id='result'></span></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                   <div class="form-group">
                        <label>差异说明</label>
                        <textarea id='remark' class="form-control" rows="3" name="remark">${order.remark!''}
                        </textarea>
                        <!-- 点“已结案” 如果应收应付没确认完，出提示 -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-sm">
								    <div class="modal-content">
								      	<div id ="muban" style="display:none">
								      		<div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close">&times;</button>
										        <h4 class="modal-title" id="myModalLabel">请选择你要打印的格式</h4>
									      	</div>
									      	<div class="modal-body">
                                                  <div class="form-group" id="pdf_type" style="display:none">
                                                    <h4 class="modal-title">索赔单</h4>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="damageType" value="insurance" checked="true">保险公司
                                                    </label><br/>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="damageType" value="supplier">供应商
                                                    </label><br/>
                                                    <h4 class="modal-title">赔款单</h4>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="damageType" value="customer">客户
                                                    </label>
                                                  </div>
	                                            <br/>
	                                            <button id="btnOK" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">确认</button> 
									      	</div>
								      	</div>
								    </div>
								  </div>
								</div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                    <a id='completeBtn' class="btn  btn-primary" href="#">已结案</a>
                     <button id="printBtn" type="button" class="btn  btn-primary" data-toggle="modal"  data-target=".bs-example-modal-sm">打印</button>
                    <a class="btn  btn-default" href="/damageOrder">返回</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div><!--  form row  -->
        <!-- /#page-wrapper -->
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script>
    var order_no = '${order.order_no!'新建货损单'}'; 
    var damageOrder = {};
</script>
<script src="/yh/js/damageOrder/edit_item_table.js"></script>
<script src="/yh/js/damageOrder/edit_charge_table.js"></script>
<script src="/yh/js/damageOrder/edit_cost_table.js"></script>
<script src="/yh/js/damageOrder/edit.js"></script>
