
<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>货损单列表                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <div class="">  <!--  form row  -->
                                <form id="orderForm">
                                    <div class="row"><!--  第1行  -->
                                        <div class="col-lg-4"><!--  三列排版  -->
                                            <%include("/yh/component/form/inputField.html", 
                                                                {   id: 'order_no', 
                                                                    label: '货损单号', 
                                                                    value: ''
                                                                }){}%>
                                        </div>                        
                                        <div class="col-lg-4">
                                            <%include("/yh/component/form/inputCustomerField.html", 
                                                {
                                                    id:'customer_id', 
                                                    label:'客户名称', 
                                                    value: ''
                                                }){} %>
                                        </div>
                                        <div class="col-lg-4">
                                            <%include("/yh/component/form/inputSpField.html", 
                                                {
                                                    id:'sp_id', 
                                                    label:'供应商'
                                                }){} %>
                                        </div>
                                    </div>

                                    <div class="row"><!--  第2行  -->
                                        <div class="col-lg-4">
                                            <%include("/yh/component/form/selectField.html", 
                                                                    {   id:'order_type', 
                                                                        label:'单据类型', 
                                                                        value: '',
                                                                        value_list:[
                                                                            {code:'', value:''},
                                                                            {code:'运输单', value:'运输单'}, 
                                                                            {code:'提货单', value:'提货单'}, 
                                                                            {code:'发车单', value:'发车单'},
                                                                            {code:'配送单', value:'配送单'}, 
                                                                            {code:'退货单', value:'退货单'}
                                                                        ]
                                                                    }
                                                                 ){} %>
                                        </div>                        
                                        <div class="col-lg-4">
                                            <%include("/yh/component/form/inputField.html", 
                                                            {   id:'biz_order_no', 
                                                                label:'业务单号', 
                                                                value:''
                                                                }){} %>
                                        
                                        </div>                        
                                        <div class="col-lg-4"> 
                                            <%include("/yh/component/form/selectField.html", 
                                                    {   id:'process_status', 
                                                        label:'处理进度', 
                                                        value: '',
                                                        value_list:[
                                                            {code:'', value:''},
                                                            {code:'已报保险', value:'已报保险'}, 
                                                            {code:'退回中转仓', value:'退回中转仓'}, 
                                                            {code:'退回客户仓', value:'退回客户仓'},
                                                            {code:'检测定损', value:'检测定损'}, 
                                                            {code:'保险定案', value:'保险定案'},
                                                            {code:'已收理赔款', value:'已收理赔款'},
                                                            {code:'已支付赔款', value:'已支付赔款'},
                                                            {code:'更换包装', value:'更换包装'},
                                                            {code:'重新发货', value:'重新发货'}
                                                        ]
                                                    }
                                                 ){} %>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row-->

                                    <div class="row"><!--  第3行  -->
                                        <div class="col-lg-4">
                                            <%include("/yh/component/form/selectField.html", 
                                                                    {   id:'accident_type', 
                                                                        label:'事故类型', 
                                                                        value: '',
                                                                        value_list:[
                                                                            {code:'', value:''},
                                                                            {code:'包装破损', value:'包装破损'}, 
                                                                            {code:'摔机货损', value:'摔机货损'}, 
                                                                            {code:'货品丢失', value:'货品丢失'},
                                                                            {code:'交通事故', value:'交通事故'}, 
                                                                            {code:'设施损坏', value:'设施损坏'},
                                                                            {code:'其它', value:'其它'}
                                                                        ]
                                                                    }
                                                                 ){} %>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4">        
                                            <%include("/yh/component/form/dateInputField.html", {id:'start_date', label:'事故时间', value:''}){} %>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4">${order.accident_date!''}
                                            <%include("/yh/component/form/dateInputField.html", {id:'end_date', label:'~', value:''}){} %>
                                        </div><!-- /.col-lg-4 -->
                                    </div>    

                                    
                                </form>
                            </div><!-- /.row -->

                            <div class="form-group button-bar" >
                                <button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
                                <button id="resetBtn" class="btn btn-default btn-sm" type="button">清空条件</button>
                                <% 
                                    if(shiro.hasPermission("TransferOrder.create")){
                                %>
                                    <a class="btn btn-success btn-sm" href="/damageOrder/create">新增货损单</a>
                                <%}%>
                            </div> 

                            <%include("/yh/component/form/detailTable.html", 
                                {
                                    id:'eeda-table', 
                                    headers:['货损单号', 
                                        '客户', 
                                        '供应商', 
                                        '单据类型', 
                                        '业务单号', 
                                        '处理进度', 
                                        '事故类型',
                                        '事故描述', 
                                        '事故时间',
                                        '备注']
                                }){} %>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
        </div><!-- end of  .page-wrapper-->

<%}%>

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>


<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/damageOrder/list.js"></script>

