
<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<!--link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"-->
        <div id="page-wrapper">
               
            <div class="row">
                <div class="col-lg-12">
               		 <div class="btn-header">
                    	<% 
	                   		if(shiro.hasPermission("TransferOrder.create")){
	                   	%>
	                       	<a class="btn  btn-primary" href="/transferOrder/add">新增运输单</a>
	                    <%}%>
                        <input id="fileUploadBtn" type="button" class="btn  btn-primary" value="导入运输单" size="30" />
                        
                        <sub><a id="dowmload" href="javascript:void(0)"  target='_blank'>下载导入模板</a></sub>
                        <form id="toFileUploadForm" method="post" action="/transferOrder/intoTransferOrder" enctype="multipart/form-data">
						     <input type="file" id="toFileUpload" name="files[]" 
						     style="position:absolute; filter:alpha(opacity=0); opacity:0; width:30px; " size="1" data-url="/transferOrder/importTransferOrder">
						</form>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>运输单列表                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form" style="margin: 0 15px;" id='searchForm'>
                            <input type="hidden" id="customer" name="customer" >
                                <div class="row search_panel">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="search-label">运输单号</label>
                                            <input type="text" class="form-control search-control orderNo_filter" id="orderNo_filter" value="">
                                        </div>
                                         
                                        <div class="form-group">
                                            <label class="search-label">订单类型</label>
                                            <select id="order_type_filter" class="form-control search-control status_filter">
                                                <option value=""></option>
                                                <option value="salesOrder">销售订单</option>
                                                <option value="replenishmentOrder">补货订单</option>
                                                <option value="arrangementOrder">调拨订单</option>                                                
                                                <!-- <option value="cargoReturnOrder">退货订单</option>   -->                                              
                                                <!-- <option value="damageReturnOrder">质量退单</option>    -->                                             
                                                <option value="gateOutTransferOrder">出库运输单</option>
                                                <option value="movesOrder">移机单</option>                                                 
                                            </select>
                                        </div>
                                        <div class="form-group">                                        
                                            <div id="datetimepicker" class="input-append date "> 
                                                <label class="search-label">开始时间</label> 
                                                <input id="beginTime_filter" class="form-control search-control beginTime_filter" type="text">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </div>
                                        </div>
                                        <div class="form-group">                                                    
                                            <span id="plandatetimepicker" class="input-append date search-control "> 
                                                <label class="search-label">计划时间</label> 
                                                <input id="plantime" class="form-control search-control beginTime_filter" type="text">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </span>
                                        </div>  
                                        <div class="form-group">
                                            <label class="search-label">营运方式</label>
                                            <select id="operation_type_filter" class="form-control search-control operation_type_filter">
                                                <option value=""></option>
                                                <option value="own">自营</option>
                                                <option value="out_source">外包</option>                                               
                                            </select>
                                        </div> 
                                        <div class="form-group">
                                            <button id="searchBtn" class="btn  btn-primary" type="button">查询</button>
                                            <button id="resetBtn" class="btn  btn-default" type="button">清空条件</button>
                                        </div> 
                                    </div>
                                    <!-- end of col-lg-6-->
                                    <div class="col-lg-4">
                                    	
                                        <div class="form-group">
                                            <label class="search-label">客户名称</label>
                                            <input type="text" class="form-control search-control customer_filter" id="customer_filter" placeholder="请选择客户">
                                        	<ul id='companyList' tabindex="-1" class="pull-right dropdown-menu default dropdown-scroll" style="top: 22%; left: 33%;"></ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="search-label">供应商</label>
                                            <input type="text" class="form-control search-control sp_filter" id="sp_filter" placeholder="请选择供应商">
                                        	<ul id='spList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 35%; left: 2%;">
											</ul>
                                        </div>
                                        <div class="form-group">                                                    
                                            <span id="datetimepicker2" class="input-append date search-control "> 
                                                <label class="search-label">结束时间</label> 
                                                <input id="endTime_filter" class="form-control search-control endTime_filter" type="text">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </span>
                                        </div>
                                        <div class="form-group">                                                    
                                            <span id="arrivaldatetimepicker" class="input-append date search-control "> 
                                                <label class="search-label">计划截止时间</label> 
                                                <input id="arrivaltime" class="form-control search-control endTime_filter" type="text">
                                                <span class="add-on">  
                                                    <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                                </span>  
                                            </span>
                                        </div>
                                        <%include("/yh/component/form/inputField.html", 
                                                                {   id: 'to_route', 
                                                                    label: '目的城市', 
                                                                    value: ''
                                                                }){}%>
                                    </div>
                                    <!-- end of col-lg-6-->
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="search-label">客户单号</label>
                                            <input type="text" class="form-control search-control address_filter" id="order_no_filter">
                                        </div>
                                        <div class="form-group">
                                            <label class="search-label">网点</label>
                                            <!-- <input type="text" class="form-control search-control officeName_filter" id="officeName_filter"> -->
                                            <select id="officeSelect" class="form-control search-control officeName_filter" name="officeSelect">
                                                <option value=""></option>
                                                <%
                                                    for(office in userOffices){
                                                %>
                                                    <option value="${office.OFFICE_NAME}">${office.OFFICE_NAME}</option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="search-label">状态</label>
                                            <select id="status_filter" class="form-control search-control status_filter">
                                                <option value=""></option>
                                                <option value="新建">新建</option>
                                                <option value="已发车">已发车</option>
                                                <option value="在途">在途</option>                                                
                                                <option value="已入货场">已入货场</option>                                                
                                                <option value="已入库">已入库</option>                                                
                                                <option value="已签收">已签收</option>                                                
                                            </select>
                                            <!-- <input type="text" class="form-control search-control status_filter" id="status_filter"> -->
                                        </div>
                                        <div class="form-group">
                                            <label class="search-label">提货城市</label>
                                            <input type="text" class="form-control search-control address_filter" id="address_filter">
                                        </div>
                                    </div>
                                    <!-- end of col-lg-6-->
                                </div><!-- end of row-->

                            
                            </form>
                            <div class="table-responsive">
                                <br/>
                                <table class="table table-striped table-bordered table-hover" id="eeda-table" style="width: 2200px;">
                                    <thead>
                                        <tr>
                                            <th>运输单号</th>
                                            <th>计划时间</th>
                                            <th>状态</th>
                                            <th>客户名称</th>
                                            <th>客户订单号</th>
                                            <th>订单类型</th>
                                            <th>货品属性</th>
                                            <th>始发城市</th>
                                            <th>目的城市</th>
                                            <th>运营方式</th>  
                                            <th>到达方式</th>
                                            <th>数量</th>
                                            <th>件数</th>
                                            <th>体积</th>
                                            <th>重量</th>
                                            <th>要求到达时间</th>
                                            <th>提货城市</th>
                                            
                                            <th>供应商</th>
                                            
                                            <th>网点</th>
                                            <th>提货方式</th>
                                            <th>制单时间</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-heading">
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body" align="center">
                                        	<center id="centerBody"></center>
                                        </div>
                                        <div class="modal-footer" id="footer" aria-hidden="true">
                                        	<button type="button" class="btn  btn-primary" id="confirm" style="display:none">确认</button>
								        	<button type="button" class="btn  btn-primary" data-dismiss="modal" id="cancel">关闭</button>
								      	</div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          

<%}%>
 
<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.ui.widget.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.iframe-transport.js"></script> 
<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.fileupload.js"></script>


<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<script>
	<%
		var transferOrderUpdate = shiro.hasPermission("TransferOrder.update");
	%>
	var TransferOrder = {};
	TransferOrder.isUpdate = ${transferOrderUpdate};
	TransferOrder.ex_cargo = "${customizeField.EX_CARGO!'贵重物品'}";
	TransferOrder.ex_type = "${customizeField.EX_TYPE!'公司自提'}";
</script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>


<script src="/yh/js/transferOrder/list.js"></script>


