<%layout("/yh/layout.html"){%>

  <div id="page-wrapper">
  
    <div class="row">
      <div class="col-lg-12 panel-body">
      <% if(saveOK!''==true){%>
        <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        保存成功。
      </div>
      <%}%>
      <h1 class="page-header">创建新运输单</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
          运输单基本信息
        </div>
        <div class="panel-body">
            <div class="col-lg-8">
              <div class="form-group">
                <label >请选择客户</label>
                <div id="customers">
                </div>
            </div>
          </div>
        </div>
        
          <div class="panel-heading">
            <div id="customerFormDiv" style="display:none">
              <form id="customerForm" action="" method="post">
                <label>公司名称(必填)</label>
                <input id="customer_company_name" name="company_name" type="text">
                <label>联系人(必填)</label>
                <input id="customer_contact_person" type="text" name="contact_person">
                <label>联系地址</label>
                <input id="customer_address" type="text" name="address">
                <label>联系人电话</label>
                <input id="customer_disabledInput" type="text" name="phone">
                <label>email</label>
                <input id="customer_email" type="text" name="email">
                <label>邮政编码</label>
                <input id="customer_postal_code" type="text" name="postal_code">
                <a id="saveCustomerBtn" class="btn btn-default" href="#">保存</a>
                <button class="btn btn-default" id="customerFormCancel">取消</button>
              </form>
            </div>
          </div>
        
        <div class="panel-body">
            <div class="col-lg-8">
              <div class="form-group">
                <label >请选择供应商</label>
                <div id="serviceProviders">
                </div>
            </div>
          </div>
        </div>
        
          <div class="panel-heading">
            <div id="serviceProviderFormDiv" style="display:none">
              <form id="serviceProviderForm" action="" method="post">
                <label>公司名称(必填)</label>
                <input id="serviceProvider_company_name" name="company_name" type="text">
                <label>联系人(必填)</label>
                <input id="serviceProvider_contact_person" type="text" name="contact_person">
                <label>联系地址</label>
                <input id="serviceProvider_address" type="text" name="address">
                <label>联系人电话</label>
                <input id="serviceProvider_disabledInput" type="text" name="phone">
                <label>email</label>
                <input id="serviceProvider_email" type="text" name="email">
                <label>邮政编码</label>
                <input id="postal_code" type="text" name="postal_code">
                <a id="saveServiceProviderBtn" class="btn btn-default" href="#">保存</a>
                <button class="btn btn-default" id="serviceProviderFormCancel">取消</button>
              </form>
            </div>
          </div>
          
          <div class="panel-body">
            <div class="col-lg-8">
              <div class="form-group">
              <label >请选择收货人</label>
                <div id="contacts">
              </div>
            </div>
          </div>
        </div>
        
          <div class="panel-heading">
            <div id="contactFormDiv" style="display:none">
              <form id="contactForm" action="" method="post">
              <label>公司名称(必填)</label>
              <input id="contact_company_name" name="company_name" type="text">
              <label>联系人(必填)</label>
              <input id="contact_contact_person" type="text" name="contact_person">
              <label>联系地址</label>
              <input id="contact_address" type="text" name="address">
              <label>联系人电话</label>
              <input id="contact_disabledInput" type="text" name="phone">
              <label>email</label>
              <input id="contact_email" type="text" name="email">
              <label>邮政编码</label>
              <input id="postal_code" type="text" name="postal_code">
              <label>收货预约时间</label>
              <input id="eta" type="text" name="eta">
              <a id="saveContactBtn" class="btn btn-default" href="#">保存</a>
              <button class="btn btn-default" id="contactFormCancel">取消</button>
            </form>
          </div>
        </div>
        
        <div class="panel-body">
        <div id="transferOrderFormDiv">
          <form id="transferOrderForm" action="" method="post">
            <input id="customer_id" type="hidden" name="customer_id" />
            <input id="sp_id" type="hidden" name="sp_id" />
            <input id="notify_party_id" type="hidden" name="notify_party_id" />
            
            
            <div class="col-lg-12">
      			<h1 class="page-header">          		
          		<input type="button" id="btn" value="新增合同干线" class="btn btn-primary">
      			</h1>
  			</div>               			
            
            <div class="panel-heading">
	            <div id="routeItemFormDiv">
				<form id="routeItemForm" action="" method="post">
		            <input id="routeContractId" name="routeContractId" type="hidden" value="${ul.id!''}">
		            <input id="routeItemId" name="routeItemId" type="hidden">
		            <input id="routeId" name="routeId" type="hidden" value="">
		            <!-- 根据 始发地 和 目的地 找到 干线id-->
		            <lable>干线：</lable><input id="fromName" name="fromName" type="text" >
		            <ul id='fromLocationList' class="pull-right dropdown-menu default" style="top: 56%; left: 20%; width:100px">
					</ul>
		            <lable> 至 </lable><input id="toName" name="toName" type="text">
		            <ul id='toLocationList' tabindex="-1" class="pull-right dropdown-menu default" style="top: 56%; left: 35%; width:100px"">
					</ul>
	       	 		<lable>费用：</lable><input id="price" name="price" type="text">
	       	 		<!-- <lable>公里数：</lable><input id="miles" name="miles" type="text"> -->
	       	 		<a id="saveRouteBtn" class="btn btn-default" href="#">保存</a>
					<button class="btn btn-default" id="cancel">取消</button>
       	 		</form>	
       	 		</div>
			</div>
            	              
       		<div>
	   		  	<label>货品属性</label>                
	            <label class="radio-inline">
	            	<input id="cargo_nature_atm" name="cargo_nature" type="radio" value="ATM">ATM
	            </label>
	            <label class="radio-inline">    
	            	<input name="cargo_nature" type="radio" value="普通货品">普通货品
	            </label>
	            <label class="radio-inline">
	            	<input name="cargo_nature" type="radio" value="损坏货品">损坏货品
	            </label>
            </div>
            <div>
            <label>提货方式</label>             
	            <label class="radio-inline">
	            	<input name="pickup_mode" type="radio" value="干线供应商自提">干线供应商自提
	            </label>
	            <label class="radio-inline">
	            	<input name="pickup_mode" type="radio" value="公司自提">公司自提
	            </label>
	            <label class="radio-inline">
	            	<input name="pickup_mode" type="radio" value="外包供应商提货">外包供应商提货
	            </label>
           </div>
           <div>
	           <label>到达方式</label>             
	           <label class="radio-inline">
	           	<input name="arrival_mode" type="radio" value="货品直送">货品直送
	           </label>
	           <label class="radio-inline">
	           	<input name="arrival_mode" type="radio" value="入中转仓">入中转仓
	           </label>
       	  </div>
           	  <div>
           	    <a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                <a id="saveTransferOrderBtn" class="btn btn-default" href="#">保存</a>
	            <a class="btn btn-default" href="/yh/transferOrder">返回列表</a>
	          </div>
	       </form>
        </div>
        <div class="panel-body">
          <div>          	
			<label>货品明细 <a id="newOrderItem" class="btn btn-primary" href="#">新增</a></label>
              <div id="orderItemFormDiv" style="display:none">
                <form id="orderItemForm" action="" method="post">
                  <input id="order_id" type="hidden" name="order_id" /> 
                  <label>货品名称</label>
                  <input id="item_name" type="text" name="item_name">
                  <label>货品描述</label>
                  <input id="item_desc" type="text" name="item_desc">
                  <label>数量</label>
                  <input id="amount" type="text" name="amount" class="input-mini">
                  <label>单位</label>
                  <input id="unit" type="text" name="unit" class="input-mini">
                  <label>体积</label>
                  <input id="volume" type="text" name="volume" class="input-mini">
                  <label>重量</label>
                  <input id="weight" type="text" name="weight" class="input-mini">
                  <label>备注</label>
                  <input id="remark" type="text" name="remark">
                  <a id="saveOrderItemBtn" class="btn btn-default" href="#">保存</a> 
                  <button class="btn btn-default" id="orderItemFormCancel">取消</button>  
                </form>
            </div>
          </div>
          <!-- /.well -->
     
          <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
                                    <thead>
                                        <tr>
                                            <th>货品名称</th>
                                            <th>货品描述</th>
                                            <th>数量</th>
                                            <th>单位</th>
                                            <th>体积</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">5</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.5</td>
                                            <td>Win 95+</td>
                                            <td class="center">5.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 6</td>
                                            <td>Win 98+</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 7</td>
                                            <td>Win XP SP2+</td>
                                            <td class="center">7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Trident</td>
                                            <td>AOL browser (AOL desktop)</td>
                                            <td>Win XP</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 3.0</td>
                                            <td>Win 2k+ / OSX.3+</td>
                                            <td class="center">1.9</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Camino 1.0</td>
                                            <td>OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Camino 1.5</td>
                                            <td>OSX.3+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td>Win 98SE+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.1</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.2</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.2</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.3</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.4</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.4</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.5</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.6</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.7</td>
                                            <td>Win 98+ / OSX.1+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.8</td>
                                            <td>Win 98+ / OSX.1+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Seamonkey 1.1</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Epiphany 2.20</td>
                                            <td>Gnome</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 1.2</td>
                                            <td>OSX.3</td>
                                            <td class="center">125.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 1.3</td>
                                            <td>OSX.3</td>
                                            <td class="center">312.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 2.0</td>
                                            <td>OSX.4+</td>
                                            <td class="center">419.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 3.0</td>
                                            <td>OSX.4+</td>
                                            <td class="center">522.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>OmniWeb 5.5</td>
                                            <td>OSX.4+</td>
                                            <td class="center">420</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>iPod Touch / iPhone</td>
                                            <td>iPod</td>
                                            <td class="center">420.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>S60</td>
                                            <td>S60</td>
                                            <td class="center">413</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 7.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 7.5</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 8.0</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 8.5</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.0</td>
                                            <td>Win 95+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.2</td>
                                            <td>Win 88+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.5</td>
                                            <td>Win 88+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera for Wii</td>
                                            <td>Wii</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Nokia N800</td>
                                            <td>N800</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Nintendo DS browser</td>
                                            <td>Nintendo DS</td>
                                            <td class="center">8.5</td>
                                            <td class="center">C/A<sup>1</sup>
                                            </td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.1</td>
                                            <td>KDE 3.1</td>
                                            <td class="center">3.1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.3</td>
                                            <td>KDE 3.3</td>
                                            <td class="center">3.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.5</td>
                                            <td>KDE 3.5</td>
                                            <td class="center">3.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 4.5</td>
                                            <td>Mac OS 8-9</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.1</td>
                                            <td>Mac OS 7.6-9</td>
                                            <td class="center">1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.2</td>
                                            <td>Mac OS 8-X</td>
                                            <td class="center">1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Misc</td>
                                            <td>NetFront 3.1</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Misc</td>
                                            <td>NetFront 3.4</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Dillo 0.8</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Links</td>
                                            <td>Text only</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Lynx</td>
                                            <td>Text only</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Misc</td>
                                            <td>IE Mobile</td>
                                            <td>Windows Mobile 6</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Misc</td>
                                            <td>PSP browser</td>
                                            <td>PSP</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeU">
                                            <td>Other browsers</td>
                                            <td>All others</td>
                                            <td>-</td>
                                            <td class="center">-</td>
                                            <td class="center">U</td>
                                        </tr>
                                    </tbody>
                                </table>
          </div>
          <!-- /.table-responsive -->
        </div>  
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>

<!--/span-->
<!--/row-->
<!-- content ends -->
<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script>
$(document).ready(function() {
	$('#eeda-table').dataTable();
	// 动态显示客户(单选按钮)
	var customer =$("#customers");
	customer.empty();
	$.get('/yh/transferOrder/selectCustomer',{},function(data){
	    for(var i = 0; i < data.length; i++)
	    {
	      customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='"+data[i].ID+"' value='"+data[i].ID+"' checked=''>"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</label></div>");        
	    }
	    customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='selectNewCustomer' value='' checked=''>以上选项没有我需要的, 选择新客户:<input id='selectCustomer' name='selectCustomer' type='text' class='form-control'><ul id='companyList' tabindex='-1' class='pull-right dropdown-menu default' style='top: 77%; left: 2%;'></ul></label></div>");
	    customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='newCustomer' value='' checked=''>以上选项没有我需要的, 创建新客户</label></div>");
	  },'json');
	
	//单击选中单选按钮,触发事件,控制form的显示与隐藏
	$("#customers").on('click', 'input', function(){
	  console.log(this);
	  var inputId  = $(this).attr('id');
	  
	  if(inputId=='newCustomer'){
	      $("#customerFormDiv").show();
	  }else if(inputId == 'selectNewCustomer'){
		  var oInput = $("#selectCustomer");
		  // 文本框获取焦点
		  oInput.focus();
		  $('#selectCustomer').on('keyup', function(){
				 var inputStr = $('#selectCustomer').val();
				 $.get('/yh/transferOrder/searchCustomer', {selectCustomer:inputStr}, function(data){
					console.log(data);
					var companyList =$("#companyList");
					companyList.empty();
					for(var i = 0; i < data.length; i++)
					{
						companyList.append("<li><a tabindex='-1' class='fromLocationItem'>"+data[i].COMPANY_NAME+"</a></li>");
					}
				 },'json');
			});
	  }else{
		  $.get('/yh/transferOrder/saveCustomer','customer_id='+inputId, function(customer_id){
				if(customer_id>0){
				  	//dataTable.fnDraw();
				  	$("#customer_id").val(customer_id);
				}else{
					alert('数据保存失败。');
				}
			},'json');
	      $("#customerFormDiv").hide();
	  }	  
	});
  
  	//点击保存的事件，保存客户信息
	//customerForm 不需要提交	
 	$("#saveCustomerBtn").click(function(e){
	//阻止a 的默认响应行为，不需要跳转
	e.preventDefault();
	//异步向后台提交数据
	$.post('/yh/transferOrder/saveCustomer', $("#customerForm").serialize(), function(customer_id){
		if(customer_id>0){
		  	$("#customer_id").val(customer_id);
		 	// 动态显示客户(单选按钮)
			var customer =$("#customers");
			var company_name = $("#customer_company_name").val();  
			var contact_person = $("#customer_contact_person").val();  
			var address = $("#customer_address").val();  
			var mobile = $("#customer_disabledInput").val();  
			var phone = $("#customer_email").val();  
			customer.prepend("<div class='radio'><label><input type='radio' name='customer_id' id='"+customer_id+"' value='"+customer_id+"' checked=''>"+company_name+" - "+contact_person+" - "+address+" - "+mobile+" / "+phone +"</label></div>");
			
			// 动态显示联系人
			//var contact =$("#contacts");
			//contact.prepend("<div class='radio'><label><input type='radio' name='customer_id' id='"+customer_id+"' value='"+customer_id+"'>"+company_name+" - "+contact_person+" - "+address+" - "+mobile+" / "+phone +"</label></div>");
			$("#customerFormDiv").hide();
		}else{
			alert('数据保存失败。');
		}
	},'json');
	});  
  
	// 动态显示供应商(单选按钮)
	var serviceProvider =$("#serviceProviders");
	serviceProvider.empty();
	$.get('/yh/transferOrder/selectServiceProvider',{},function(data){
	    for(var i = 0; i < data.length; i++)
	    {
	    	serviceProvider.append("<div class='radio'><label><input type='radio' name='sp_id' id='"+data[i].ID+"' value='"+data[i].ID+"' checked=''>"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</label></div>");        
	    }
	    serviceProvider.append("<div class='radio'><label><input type='radio' name='sp_id' id='selectNewServiceProvider' value='' checked=''>以上选项没有我需要的, 选择新供应商:<input id='company_name' name='company_name' type='text'></label></div>");
	    serviceProvider.append("<div class='radio'><label><input type='radio' name='sp_id' id='newServiceProvider' value='' checked=''>以上选项没有我需要的, 创建新供应商</label></div>");
	  },'json');

	//单击选中单选按钮,触发事件,控制form的显示与隐藏
	$("#serviceProviders").on('click', 'input', function(){
	  console.log(this);
	  var inputId  = $(this).attr('id');
	  
	  if(inputId=='newServiceProvider'){
	      $("#serviceProviderFormDiv").show();
	  }else{
		  $.get('/yh/transferOrder/saveServiceProvider','sp_id='+inputId, function(sp_id){
				if(sp_id>0){
				  	//dataTable.fnDraw();
				  	$("#sp_id").val(sp_id);
				}else{
					alert('数据保存失败。');
				}
			},'json');
	      $("#serviceProviderFormDiv").hide();
	  }	  
	});
  
  	//点击保存的事件，保存供应商信息
	//serviceProviderForm 不需要提交	
 	$("#saveServiceProviderBtn").click(function(e){
	//阻止a 的默认响应行为，不需要跳转
	e.preventDefault();
	//异步向后台提交数据
	$.post('/yh/transferOrder/saveServiceProvider', $("#serviceProviderForm").serialize(), function(sp_id){
		if(sp_id>0){
		  	//dataTable.fnDraw();
		  	$("#sp_id").val(sp_id);
		 	// 动态显示供应商(单选按钮)
			var serviceProvider =$("#serviceProviders");
			var company_name = $("#serviceProvider_company_name").val();  
			var contact_person = $("#serviceProvider_contact_person").val();  
			var address = $("#serviceProvider_address").val();  
			var mobile = $("#serviceProvider_disabledInput").val();  
			var phone = $("#serviceProvider_email").val();  
			serviceProvider.prepend("<div class='radio'><label><input type='radio' name='sp_id' id='"+sp_id+"' value='"+sp_id+"' checked=''>"+company_name+" - "+contact_person+" - "+address+" - "+mobile+" / "+phone +"</label></div>");
		    $("#serviceProviderFormDiv").hide();
		      
		   /* // 动态显示联系人(单选按钮)
			var contact =$("#contacts");
			contact.empty();
			$.get('/yh/transferOrder/selectContact',{},function(data){
			 	for(var i = 0; i < data.length; i++)
				{
			 		contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='"+data[i].ID+"' value='"+data[i].ID+"' checked=''>"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</label></div>");        
				}
			 	contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='selectNewContact' value='' checked=''>以上选项没有我需要的, 选择新联系人:<input id='company_name' name='company_name' type='text'></label></div>");
			 	contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='newContact' value='' checked=''>以上选项没有我需要的, 创建新联系人</label></div>");
			  },'json');  */
		}else{
			alert('数据保存失败。');
		}
	},'json');
	});   	
  
  	// 动态显示联系人(单选按钮)
	var contact =$("#contacts");
	contact.empty();
	$.get('/yh/transferOrder/selectContact',{},function(data){
	 	for(var i = 0; i < data.length; i++)
		{
	 		contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='"+data[i].ID+"' value='"+data[i].ID+"' checked=''>"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</label></div>");        
		}
	 	contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='selectNewContact' value='' checked=''>以上选项没有我需要的, 选择新联系人:<input id='company_name' name='company_name' type='text'></label></div>");
	 	contact.append("<div class='radio'><label><input type='radio' name='notify_party_id' id='newContact' value='' checked=''>以上选项没有我需要的, 创建新联系人</label></div>");
	  },'json'); 
	
  // 单击选中单选按钮,触发事件,控制form的显示与隐藏
  $("#contacts").on('click', 'input', function(){
    var inputId  = $(this).attr('id');
	  
	  if(inputId=='newContact'){
	      $("#contactFormDiv").show();
	  }else{
		  $.get('/yh/transferOrder/saveContact','notify_party_id='+inputId, function(notify_party_id){
				if(notify_party_id>0){
				  	//dataTable.fnDraw();
				  	$("#notify_party_id").val(notify_party_id);
				}else{
					alert('数据保存失败。');
				}
			},'json');
	      $("#contactFormDiv").hide();
	  }	  
  }); 

	//点击保存的事件，保存收货人信息
	//contactForm 不需要提交	
	$("#saveContactBtn").click(function(e){
	//阻止a 的默认响应行为，不需要跳转
	e.preventDefault();
	//异步向后台提交数据
	$.post('/yh/transferOrder/saveContact', $("#contactForm").serialize(), function(notify_party_id){
		if(notify_party_id>0){
		  	//dataTable.fnDraw();
		  	$("#notify_party_id").val(notify_party_id);
		 	// 动态显示联系人(单选按钮)
			var contact =$("#contacts");
			var company_name = $("#contact_company_name").val();  
			var contact_person = $("#contact_contact_person").val();  
			var address = $("#contact_address").val();  
			var mobile = $("#contact_disabledInput").val();  
			var phone = $("#contact_email").val();  
			contact.prepend("<div class='radio'><label><input type='radio' name='notify_party_id' id='"+notify_party_id+"' value='"+notify_party_id+"' checked=''>"+company_name+" - "+contact_person+" - "+address+" - "+mobile+" / "+phone +"</label></div>");
			$("#contactFormDiv").hide();
		}else{
			alert('数据保存失败。');
		}
	},'json');
	});   	
  
  	// 保存运输单
  	$("#saveTransferOrderBtn").click(function(e){
  		// 阻止浏览器的跳转行为
  		e.preventDefault();
  		//异步向后台提交数据
  		$.post('/yh/transferOrder/saveTransferOrder', $("#transferOrderForm").serialize(), function(order_id){
  			if(order_id>0){
  				alert("添加运输单成功!");
            	$("#style").show();
  			  	$("#order_id").val(order_id);
  			}else{
  				alert('数据保存失败。');
  			}
  		},'json');
  	});

  	// 新增运输单明细
  	$("#newOrderItem").click(function(e){
  		if($("#order_id").val() == ""){
  			alert("请先保存运输单!");
  			// 阻止浏览器的跳转行为
  	  		e.preventDefault();
  		}else{
  			// 阻止浏览器的跳转行为
  	  		e.preventDefault();
  	  		$("#orderItemFormDiv").show();
  		}
  	});
  	
  	// 点击表单customerFormCancel的取消按钮
  	$("#customerFormCancel").click(function(e){
  		$("#customerFormDiv").hide();
  		// 阻止浏览器的跳转行为
	  	e.preventDefault();
  	});
  	
  	// 点击表单serviceProviderFormCancel的取消按钮
  	$("#serviceProviderFormCancel").click(function(e){
  		$("#serviceProviderFormDiv").hide();
  		// 阻止浏览器的跳转行为
	  	e.preventDefault();
  	});
  	
  	// 点击表单contactFormCancel的取消按钮
  	$("#contactFormCancel").click(function(e){
  		$("#contactFormDiv").hide();
  		// 阻止浏览器的跳转行为
	  	e.preventDefault();
  	});
  	
  	// 点击表单contactFormCancel的取消按钮
  	$("#orderItemFormCancel").click(function(e){
  		$("#orderItemFormDiv").hide();
  		// 阻止浏览器的跳转行为
	  	e.preventDefault();
  	});

    //点击保存的事件，保存货品明细
    //routeItemForm 不需要提交
    $("#saveOrderItemBtn").click(function(e){
        //阻止a 的默认响应行为，不需要跳转
        e.preventDefault();
        //异步向后台提交数据
        $.post('/yh/transferOrder/saveOrderItem', $("#orderItemForm").serialize(), function(data){
             //保存成功后，刷新列表
             console.log(data);
             if(data.success){
             	//dataTable.fnDraw();
             	$("#orderItemFormDiv").hide();
             }else{
                 alert('数据保存失败。');
             }
             
         },'json');
    });
    
  	//点击保存的事件，保存干线信息
    //routeItemForm 不需要提交
    $("#saveRouteBtn").click(function(e){
        //阻止a 的默认响应行为，不需要跳转
        e.preventDefault();
        //异步向后台提交数据
        $.post('/yh/customerContract/routeAdd', $("#routeItemForm").serialize(), function(data){
             //保存成功后，刷新列表
             console.log(data);
             if(data.success){
             	//dataTable.fnDraw();
             }else{
                 alert('数据保存失败。');
             }
             
         },'json');
    });
  	
  //选择出发地点
	$('#fromName').on('keyup', function(){
		var inputStr = $('#fromName').val();
		$.get('/yh/route/search', {locationName:inputStr}, function(data){
			console.log(data);
			var fromLocationList =$("#fromLocationList");
			fromLocationList.empty();
			for(var i = 0; i < data.length; i++)
			{
				fromLocationList.append("<li><a tabindex='-1' class='fromLocationItem' code='"+data[i].CODE+"'>"+data[i].NAME+"</a></li>");
			}
			
			fromLocationList.show();
		},'json');
	});

	$('#fromLocationList').on('click', '.fromLocationItem', function(e){
		$('#from_id').val($(this).attr('code'));
		$('#fromName').val($(this).text());
    	$("#fromLocationList").hide();
	});
	
	//选择目的地点
	$('#toName').on('keyup', function(){
		var inputStr = $('#toName').val();
		$.get('/yh/route/search', {locationName:inputStr}, function(data){
			
			var toLocationList =$("#toLocationList");
			toLocationList.empty();
			for(var i = 0; i < data.length; i++)
			{
				toLocationList.append("<li><a tabindex='-1' class='fromLocationItem' code='"+data[i].CODE+"'>"+data[i].NAME+"</a></li>");
			}
			toLocationList.show();
		},'json');
	});

	$('#toLocationList').on('click', '.fromLocationItem', function(e){
		$('#to_id').val($(this).attr('code'));
		$('#toName').val($(this).text());
    	$("#toLocationList").hide();
	});
  	
  	//添加routeItemForm 目的地点
	 $('#toName').on('keyup', function(){
		 var inputStr = $('#fromName').val();
		 var inputStr2 = $('#toName').val();
		 $.get('/yh/spContract/searchRoute', {fromName:inputStr,toName:inputStr2}, function(data){
			 for(var i = 0; i < data.length; i++){
				 	$('#routeId').val(data[i].RID);
			 }
		 },'json');
	 });
	 $('#fromName').on('keyup', function(){
		 var inputStr = $('#fromName').val();
		 var inputStr2 = $('#toName').val();
		 $.get('/yh/spContract/searchRoute', {fromName:inputStr,toName:inputStr2}, function(data){
			 for(var i = 0; i < data.length; i++){
				 	$('#routeId').val(data[i].RID);
			 }
		 },'json');
	});
})
</script>