<%layout("/yh/layout.html"){%>

  <div id="page-wrapper">
  
    <div class="row">
      <div class="col-lg-12 panel-body">
      <% if(saveOK!''==true){%>
        <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        保存成功。
      </div>
      <%}%>
      <h1 class="page-header">创建新运输单</h1>
      
    </div>
    <!-- /.col-lg-12 -->
  </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
          运输单基本信息
        </div>
        <div class="panel-body">
            <div class="col-lg-8">
              <div class="form-group">
                <label >请选择客户</label>
                <div id="customers">
                </div>
            </div>
          </div>
        </div>
          <div class="panel-heading">
            <div id="customerFormDiv" style="display:none">
              <form id="customerForm" action="" method="post">
                <label>公司名称(必填)</label>
                <input id="company_name" name="company_name" type="text">
                <label>联系人(必填)</label>
                <input id="contact_person" type="text" name="contact_person">
                <label>联系地址</label>
                <input id="address" type="text" name="address">
                <label>联系人电话</label>
                <input id="disabledInput" type="text" name="phone">
                <label>email</label>
                <input id="email" type="text" name="email">
                <label>邮政编码</label>
                <input id="postal_code" type="text" name="postal_code">
                <a id="saveCustomerBtn" class="btn btn-default" href="#">保存</a>
                <button class="btn btn-default" id="cancel">取消</button>
              </form>
            </div>
          </div>
        
          <div class="panel-body">
            <div class="col-lg-8">
              <div class="form-group">
              <label >请选择收货人</label>
                <div id="contacts">
              </div>
            </div>
          </div>
        </div>
        
          <div class="panel-heading">
            <div id="contactFormDiv" style="display:none">
              <form id="contactForm" action="" method="post">
              <label>公司名称(必填)</label>
              <input id="company_name" name="company_name" type="text">
              <label>联系人(必填)</label>
              <input id="contact_person" type="text" name="contact_person">
              <label>联系地址</label>
              <input id="address" type="text" name="address">
              <label>联系人电话</label>
              <input id="disabledInput" type="text" name="phone">
              <label>email</label>
              <input id="email" type="text" name="email">
              <label>邮政编码</label>
              <input id="postal_code" type="text" name="postal_code">
              <label>收货预约时间</label>
              <input id="eta" type="text" name="eta">
              <a id="saveCustomerBtn" class="btn btn-default" href="#">保存</a>
              <button class="btn btn-default" id="cancel">取消</button>
            </form>
          </div>
        </div>
        
          <div class="panel-heading">
            <div id="radioFormDiv">
              <form id="radioForm" action="" method="post">
              <label>货品属性</label>
                <div>
                <input id="cargo_nature_atm" name="cargo_nature" type="radio" value="cargo_nature_atm">ATM
                <input name="cargo_nature" type="radio" value="cargo_nature_common">普通货品
                <input name="cargo_nature" type="radio" value="cargo_nature_damaged">损坏货品
              </div>
                <div>
                <input name="pickup_mode" type="radio" value="pickup_mode_service_provider">干线供应商自提
                <input name="pickup_mode" type="radio" value="pickup_mode_company">公司自提
                <input name="pickup_mode" type="radio" value="pickup_mode_outsourcer_service_provider">外包供应商提货
              </div>
                <div>
                <input name="arrival_mode" type="radio" value="arrival_mode_direct">货品直送
                <input name="arrival_mode" type="radio" value="arrival_mode_transit_warehouse">入中转仓
              </div>
              <a id="saveRadioBtn" class="btn btn-default" href="#">保存</a>
              <button class="btn btn-default" id="cancel">取消</button>
            </form>
          </div>
        </div>
        
          <div class="panel-heading">
            <div><h4>货品明细 <a id="" class="btn btn-primary" href="#">新增</a></h4></div>
          </div>  
          
        
        <div class="panel-body">
          <div class="well">
              <div id="itemFormDiv">
                <form id="itemForm" action="" method="post">
                  <label id="label_item_no" style="display:none">ATM序列号</label>
                  <input id="item_no" type="text" name="item_no" style="display:none">
                  <label>货品名称</label>
                  <input id="item_name" type="text" name="item_name">
                  <label>货品描述</label>
                  <input id="item_desc" type="text" name="item_desc">
                  <label>数量</label>
                  <input id="amount" type="text" name="amount" class="input-mini">
                  <label>单位</label>
                  <input id="unit" type="text" name="unit" class="input-mini">
                  <label>体积</label>
                  <input id="volume" type="text" name="volume" class="input-mini">
                  <label>重量</label>
                  <input id="weight" type="text" name="weight" class="input-mini">
                  <label>备注</label>
                  <input id="remark" type="text" name="remark">
                  <a id="saveItemBtn" class="btn btn-default" href="#">保存</a>
                  <button class="btn btn-default" id="cancel">取消</button>
                </form>
            </div>
          </div>
          <!-- /.well -->
          <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
                                    <thead>
                                        <tr>
                                            <th>货品名称</th>
                                            <th>货品描述</th>
                                            <th>数量</th>
                                            <th>单位</th>
                                            <th>体积</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>Trident</td>
                                            <td>Internet Explorer 4.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">4</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.0</td>
                                            <td>Win 95+</td>
                                            <td class="center">5</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 5.5</td>
                                            <td>Win 95+</td>
                                            <td class="center">5.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 6</td>
                                            <td>Win 98+</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Trident</td>
                                            <td>Internet Explorer 7</td>
                                            <td>Win XP SP2+</td>
                                            <td class="center">7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Trident</td>
                                            <td>AOL browser (AOL desktop)</td>
                                            <td>Win XP</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Firefox 3.0</td>
                                            <td>Win 2k+ / OSX.3+</td>
                                            <td class="center">1.9</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Camino 1.0</td>
                                            <td>OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Camino 1.5</td>
                                            <td>OSX.3+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td>Win 98SE+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.1</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.2</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.2</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.3</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.4</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.4</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.5</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.6</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">1.6</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.7</td>
                                            <td>Win 98+ / OSX.1+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Mozilla 1.8</td>
                                            <td>Win 98+ / OSX.1+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Seamonkey 1.1</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Gecko</td>
                                            <td>Epiphany 2.20</td>
                                            <td>Gnome</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 1.2</td>
                                            <td>OSX.3</td>
                                            <td class="center">125.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 1.3</td>
                                            <td>OSX.3</td>
                                            <td class="center">312.8</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 2.0</td>
                                            <td>OSX.4+</td>
                                            <td class="center">419.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>Safari 3.0</td>
                                            <td>OSX.4+</td>
                                            <td class="center">522.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>OmniWeb 5.5</td>
                                            <td>OSX.4+</td>
                                            <td class="center">420</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>iPod Touch / iPhone</td>
                                            <td>iPod</td>
                                            <td class="center">420.1</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Webkit</td>
                                            <td>S60</td>
                                            <td>S60</td>
                                            <td class="center">413</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 7.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 7.5</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 8.0</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 8.5</td>
                                            <td>Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.0</td>
                                            <td>Win 95+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.2</td>
                                            <td>Win 88+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera 9.5</td>
                                            <td>Win 88+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Opera for Wii</td>
                                            <td>Wii</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Nokia N800</td>
                                            <td>N800</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Presto</td>
                                            <td>Nintendo DS browser</td>
                                            <td>Nintendo DS</td>
                                            <td class="center">8.5</td>
                                            <td class="center">C/A<sup>1</sup>
                                            </td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.1</td>
                                            <td>KDE 3.1</td>
                                            <td class="center">3.1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.3</td>
                                            <td>KDE 3.3</td>
                                            <td class="center">3.3</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>KHTML</td>
                                            <td>Konqureror 3.5</td>
                                            <td>KDE 3.5</td>
                                            <td class="center">3.5</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 4.5</td>
                                            <td>Mac OS 8-9</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.1</td>
                                            <td>Mac OS 7.6-9</td>
                                            <td class="center">1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.2</td>
                                            <td>Mac OS 8-X</td>
                                            <td class="center">1</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Misc</td>
                                            <td>NetFront 3.1</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Misc</td>
                                            <td>NetFront 3.4</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Dillo 0.8</td>
                                            <td>Embedded devices</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Links</td>
                                            <td>Text only</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Misc</td>
                                            <td>Lynx</td>
                                            <td>Text only</td>
                                            <td class="center">-</td>
                                            <td class="center">X</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Misc</td>
                                            <td>IE Mobile</td>
                                            <td>Windows Mobile 6</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeC">
                                            <td>Misc</td>
                                            <td>PSP browser</td>
                                            <td>PSP</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr>
                                        <tr class="gradeU">
                                            <td>Other browsers</td>
                                            <td>All others</td>
                                            <td>-</td>
                                            <td class="center">-</td>
                                            <td class="center">U</td>
                                        </tr>
                                    </tbody>
                                </table>
          </div>
          <!-- /.table-responsive -->
        </div>  
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>

<!--/span-->
<!--/row-->
<!-- content ends -->
<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/eeda/js/jquery.validate.min.js"></script>
<script src="/eeda/js/jvalidate.messages_cn.js"></script>
<script>
$(document).ready(function() {
    $('#eeda-table').dataTable();
  // 动态显示客户(单选按钮)
  var customer =$("#customers");
  customer.empty();
  $.get('/yh/transferOrder/selectCustomer',{},function(data){
      for(var i = 0; i < data.length; i++)
      {
        customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='"+data[i].ID+"' value='"+data[i].ID+"' checked=''>"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</label></div>");        
      }
      customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='selectNewCustomer' value='' checked=''>以上选项没有我需要的, 选择新客户:<input id='company_name' name='company_name' type='text'></label></div>");
      customer.append("<div class='radio'><label><input type='radio' name='customer_id' id='newCustomer' value='' checked=''>以上选项没有我需要的, 创建新客户</label></div>");
    },'json');
  
  //单击选中单选按钮,触发事件,控制form的显示与隐藏
  $("#customers").on('click', 'input', function(){
    console.log(this);
    var inputId  = $(this).attr('id');
    
    if(inputId=='newCustomer'){
        $("#customerFormDiv").show();
    }else{
        $("#customerFormDiv").hide();
    }
    
  });
  
  //点击保存的事件，保存客户信息
//customerForm 不需要提交
$("#saveCustomerBtn").click(function(e){
//阻止a 的默认响应行为，不需要跳转
e.preventDefault();
//异步向后台提交数据
$.post('/yh/transferOrder/saveCustomer', $("#customerForm").serialize(), function(data){
//保存成功后，刷新列表
console.log(data);
if(data.success){
  dataTable.fnDraw();
}else{
alert('数据保存失败。');
}
},'json');
});
  // 动态显示联系人(单选按钮)
  var contact =$("#contacts");
  contact.empty();
  $.get('/yh/transferOrder/selectContact',{},function(data){
      for(var i = 0; i < data.length; i++)
      {
        contact.append("<input id='"+data[i].ID+"' type='radio' name='customer_id' />"+data[i].ID+" - "+data[i].COMPANY_NAME+" - "+data[i].CONTACT_PERSON+" - "+data[i].ADDRESS+" - "+data[i].MOBILE+" / "+data[i].PHONE +"</br>");
      }
      contact.append("<input id='newCustomer' type='radio' name='customer_id' />"+"使用新地址");
    },'json');
  
  // 单击选中单选按钮,触发事件,控制form的显示与隐藏
  $("#contacts").click(function(){
    var ins = $("#contacts input[id]");
    for(var i=0;i<ins.length;i++){
      if(i == ins.length-1){
                $("#contactFormDiv").show();
      }else{
        $("#contactFormDiv").hide();
      }
    }
  });
  
  // 当货品属性位ATM时,增加ATM的序列号
  $("#cargo_nature_atm").click(function(){
    $("#label_item_no").show()
    $("#item_no").show()
  });
})
</script>