<%layout("/yh/layout.html"){%>


<div id="page-wrapper">
<div class="row">
      <div class="col-lg-12">
            <div class="btn-header">
            	<% if(shiro.hasPermission("ProviderDriver.create")){%>
					<a class="btn  btn-primary" href="/driverinfo/addSpDriver">
					<span class="hidden-tablet">添加司机</span></a>
				<%}%>
			</div>
		<div class="panel panel-default">
				<div class="panel-heading">
                 	<i class="fa fa-list fa-fw"></i>供应商司机列表
            	</div>
            <div class="panel-body">
            	<div class="row-fluid">
		 			<table class="table table-striped table-bordered table-hover datatable" id="example" style="width: 1237px;">
						<thead>
							<tr>
								<th>司机</th>
								<th>联系电话</th>
								<th>驾驶证类型</th>
								<th>身份证</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td colspan="5">Loading data from server</td>
							</tr>
						</tbody>
						
					</table>
					
				</div>
      		</div>
		</div>
 	</div>
        <!-- /.col-lg-12 -->
</div>	
</div>


<%}%>

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
<% 
	var updatePermission = shiro.hasPermission('ProviderDriver.update');
	var delPermission = shiro.hasPermission('ProviderDriver.delete');
	
%>
var spDriver ={};
spDriver.update = ${updatePermission};
spDriver.del = ${delPermission};
$(document).ready(function() {
	document.title = '供应商司机信息查询  | '+document.title;
	$('#menu_profile').addClass('active').find('ul').addClass('in');
	var dataTable= $('#example').dataTable( {
		 "sDom": "<'row-fluid'<'span6'l><'span6'f>r><'datatable-scroll't><'row-fluid'<'span12'i><'span12 center'p>>",
	        //"sPaginationType": "bootstrap",
	        "iDisplayLength": 10,
	    	"oLanguage": {
	            "sUrl": "/eeda/dataTables.ch.txt"
	        },
	        "bServerSide": true,
	        "bRetrieve": true,
	        "bFilter": true,
	        "sAjaxSource": "/spdriverinfo/spDriverList",
			"aoColumns": [
				{ "mDataProp": "CONTACT_PERSON",
					"fnRender":function(obj){
						if(spDriver.update){
							return "<a href='/spdriverinfo/editSpDriver/"+obj.aData.PID+"' target='_blank'>" + obj.aData.CONTACT_PERSON + "</a>";
						}else{
							return obj.aData.CONTACT_PERSON;
						}
						
					}},
				{ "mDataProp": "PHONE" },
				{ "mDataProp": "LICENSE" },
				{ "mDataProp": "IDENTIFICATION"},
				{ 
	                "mDataProp": null, 
	                "sWidth": "15%",
	                "bVisible":(spDriver.update || spDriver.del),
	                "fnRender": function(obj) { 
	                	var str = "<nobr>";
	                	if(spDriver.update){
	                		str = str + "<a class='btn  btn-primary btn-sm editbutton' href='/spdriverinfo/editSpDriver/"+obj.aData.PID+"' target='_blank'>"+
			                            "<i class='fa fa-edit'> </i>编辑</a> ";
	                	}
	                	if(spDriver.del){
	                	
		                	if(obj.aData.IS_STOP != true){
		                		str = str +  "<a class='btn btn-danger  btn-sm editbutton' href='/spdriverinfo/deleteSpDriver/"+obj.aData.PID+"'>"+
				                            "<i class='fa fa-edit'> </i>停用</a>";
		                	}else{
		                		str = str +  "<a class='btn btn-success  btn-sm editbutton' href='/spdriverinfo/deleteSpDriver/"+obj.aData.PID+"'>"+
				                            "<i class='fa fa-edit'> </i>启用</a>";
		                	}
		                	
	                	}
	                	return str + "</nobr>";
	                }
	            } 
				
	         ]
	} );
});
</script>