<%layout("/yh/layout.html"){%>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">出库单</h1>
					
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul id="orderTabs" class="nav nav-tabs">
                                <li class="active"><a href="#basic" data-toggle="tab" data-src="basic" >基本信息</a>
                                </li>
                                <li class=""><a href="#cargos" data-toggle="tab" id="transferOrderItemList">货品明细</a>
                                </li>
                                <li class=""><a href="#milestone" data-toggle="tab" id="transferOrderMilestoneList">运输里程碑</a>
                                </li>
                                <li class=""><a href="#arap" data-toggle="tab">应收应付</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                  <div class="col-lg-12">
                                  		<div class="col-lg-6">
                                  		<form action="" id="inventoryForm">
                                  		<input type="hidden" id="gateInId" name="gateInId">
	              							<div class="form-group">
                                                <label>客户信息</label>
                                                <input type="hidden" id="party_id" name="party_id">
                                                <input id="customerMessage" class="form-control dropdown-toggle" placeholder="选择客户" type="text" name="customerMessage" data-toggle="dropdown">
                                                <ul id='customerList' class="pull-right dropdown-menu" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
    											</ul>
                                            </div>                      
                                            <div class="form-group">     
                                            	<h5 id="pageCustomerName"></h5><h5 id="pageCustomerAddress"></h5>     
                                            </div>
                                            <div class="form-group ">
        										<label class="control-label" for="inputSuccess">取货地址</label> <input
        											id="address" class="form-control" type="text"
        											name="address">
        										<label class="control-label" for="inputSuccess">仓库</label>
        										<input type="hidden" id="warehouseId" name="warehouseId"> 
        										 <input id="warehouseSelect" class="form-control" name="warehouseSelect"> 
        										 <ul id='warehouseList' class="pull-right dropdown-menu" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
    											</ul>
                                                
        									</div>	
        								</div>
        								<div class="col-lg-6">
        									<div class="form-group">
                                                <label>质检员</label>
                                                <input id="qualifier" class="form-control dropdown-toggle"  type="text" name="qualifier" data-toggle="dropdown">
                                            </div>
                                            <div class="form-group">
												<label>备注</label>
												<textarea class="form-control" name="remark" rows="3"></textarea>
											</div>     
        								</div>
        								</form>
                                   </div>  
                                </div>
                                
                                <div class="tab-pane fade" id="cargos">
                                    <div class="panel-body">             
                                        <div class="table-responsive">
			                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
										  添加产品
										</button>
                                        <table class="table table-striped table-bordered table-hover" id="itemTable">
                                            <thead>
                                                <tr>
                                                   	
                                                    <th>产品名称</th>
													<th>产品型号</th>
													<th>长度</th>
													<th>宽度</th>
													<th>单位</th>
													<th>体积</th>
													<th>重量</th>
													<th>备注</th>
													<th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="transferOrderItemTbody">
                                            </tbody>
                                        	</table>
                                        </div>
                                    </div>
                                  </div>
                                    
                                    <!-- 添加产品模态框 -->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog" >
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">新增货品</h4>
									      </div>
									      <div class="modal-body">
									      <form id="transferOrderItemForm" action="">
									      <div class="col-lg-6">
									     		<input id="transfer_order_id" type="hidden" name="transfer_order_id" />
									      		<input id="productId" type="hidden" name="productId" />
									      		<input id="transferOrderItemId" type="hidden" name="transferOrderItemId" />
												<div class="form-group ">
													<label class="control-label" for="inputSuccess">货品名称</label>
													<input id="itemNameMessage" class="form-control dropdown-toggle" placeholder="请输入货品名称" type="text" name="item_name" data-toggle="dropdown">
	                                                <ul id='itemNameList' class="pull-right dropdown-menu" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
	    											</ul>
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">货品长度</label> <input
														id="size" class="form-control" type="text"
														name="size" value="${product.size!''}">
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">货品高度</label> <input
														id="height" class="form-control" type="text"
														name=height value="${height!''}">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">货品单位</label> <input
													id="unit" class="form-control" type="text"
													name="unit">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">货品体积(m³)</label> <input
													id="volume" class="form-control" type="text"
													name="volume">
												</div>
									      </div>
									       <div class="col-lg-6">
									      		<div class="form-group ">
													<label class="control-label" for="inputSuccess">货品型号</label>
													<input id="itemNoMessage" class="form-control dropdown-toggle" placeholder="请输入货品型号" type="text" name="item_no" data-toggle="dropdown">
	                                                <ul id='itemNoList' class="pull-right dropdown-menu" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
	    											</ul>
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">货品宽度</label> 
													<input id="width" class="form-control" type="text" name="width" value="${product.width!''}">
												</div>
												<div class="form-group ">
													<label class="control-label" for="inputSuccess">货品数量</label> 
													<input id="amount" class="form-control" type="text" name="amount">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">货品重量(kg)</label> <input
													id="weight" class="form-control" type="text"
													name="weight">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">货品备注</label> <input
													id="remark" class="form-control" type="text"
													name="remark">
												</div>
										      </div>
									      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										        <button id="transferOrderItemFormBtn" type="button" class="btn btn-primary">保存</button>
										      </div>
											</form>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
                                   
                                
									<!-- 模态框 -->
									<div class="modal fade" id="transferOrderMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">新里程碑</h4>
									      </div>
									      <div class="modal-body">
									      	<form id="transferOrderMilestoneForm" action="">
									      		<input id="transfer_milestone_order_id" type="hidden" name="order_id" />
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">状态(不填默认为"在途")</label> <input
													id="status" class="form-control" type="text"
													name="status">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">地点</label> <input
													id="location" class="form-control" type="text"
													name="location">
												</div>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										        <button id="transferOrderMilestoneFormBtn" type="button" class="btn btn-primary">保存</button>
										      </div>
											</form>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
									
                                <div class="tab-pane fade" id="milestone">
                                    <div class="panel-body">
                                        <div class="table-responsive">                                        
			                            <button class="btn btn-primary" data-toggle="modal" data-target="#transferOrderMilestone">
										  新里程碑
										</button>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>状态</th>
                                                        <th>地点</th>
                                                        <th>更新用户</th>
                                                        <th>更新时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="transferOrderMilestoneTbody" >
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
								
                                <div>
                                    <hr/>
                                	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                                    <button id="saveInventoryBtn" type="button" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>                                    
                                    <button id="departureConfirmationBtn" type="button" disabled="true" class="btn btn-default " data-toggle="tooltip" title="" data-original-title="Default tooltip">发车确认</button>
                                    <button id="warehousingConfirmBtn" type="button" disabled="true" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">入仓确认</button> 
                                    <button id="receiptBtn" type="button" disabled="true" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">收货确认</button>
                                </div>
                                <p>保存：新建时只能保存（其他按钮都灰掉不能点）, 保存后单据状态变为“新建”</p>
                                <p>发车确认：新建后可以点击，点击后生成单据状态 “已发车”，之后生成应付条目（付费给供应商）</p>
                                <p>入库确认：如果是直送不显示该按钮，发车后可以点击，点击后生成单据状态 “已入库”</p>
                                <p>回单签收：如果是入中转仓不显示该按钮，发车后可以点击，点击后生成单据状态 “已签收”，之后生成应收条目（向客户收钱）</p>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
        </div>
        <!-- /#page-wrapper -->

<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script src="/yh/js/inventory/inventory.js"></script>

