<%layout("/yh/layout.html"){%>
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size: 32px">入库单</div>
					
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul id="orderTabs" class="nav nav-tabs">
                                <li class="active"><a href="#basic" data-toggle="tab" data-src="basic" id = "chargeCheckOrderbasic">基本信息</a>
                                </li>
                                <li class=""><a href="#cargos" data-toggle="tab" id="transferOrderItemList">货品明细</a>
                                </li>
                                <li class=""><a href="#milestone" data-toggle="tab" id="transferOrderMilestoneList">运输里程碑</a>
                                </li>
                                <li class=""><a href="#arap" data-toggle="tab" id ="transferOrderarap">应付</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                  <div class="col-lg-12">
                                  		<div class="col-lg-6">
                                  		<form action="" id="inventoryForm">
                                  		<input type="hidden" id="warehouseorderId" name="warehouseorderId" value="${warehouseOrder.id!''}">
	              						<input type="hidden" id="warehouseorderStatus" value="${warehouseOrder.status!''}">
	              							<div class="form-group">
                                                <label>客户信息</label>
                                                <input type="hidden" id="party_id" name="party_id" value="${warehouseOrder.party_id!''}">
                                                <input id="customerMessage" class="form-control dropdown-toggle" placeholder="选择客户" type="text" name="customerMessage" data-toggle="dropdown" value="${warehouseOrder.company_name!''}">
                                                <ul id='customerList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
    											</ul>
                                            </div>                      
                                            <div class="form-group">     
                                            	<h5 id="pageCustomerName"></h5><h5 id="pageCustomerAddress"></h5>     
                                            </div>
                                            <div class="form-group ">
        										<label>仓库</label>
        										<input type="hidden" id="warehouseId" name="warehouseId" value="${warehouseOrder.warehouse_id!''}"> 
        										<select id="warehouseSelect" class="form-control" name="warehouseSelect" value=""></select>
        										<!--  <input id="warehouseSelect" class="form-control" name="warehouseSelect" value="${warehouseOrder.warehouse_name!''}"> 
        										 <ul id='warehouseList' class="pull-right dropdown-menu" tabindex="-1" style="top: 17%; left: 2%;" role="menu"> -->
        									</div>	
        								</div>
        								<div class="col-lg-6">
        									<div class="form-group">
                                                <label>质检员</label>
                                                <input id="qualifier" class="form-control dropdown-toggle"  type="text" name="qualifier" data-toggle="dropdown" value="${warehouseOrder.qualifier!''}">
                                            </div>
                                            <div class="form-group">
												<label>备注</label>
												<textarea class="form-control" name="remark" rows="3">${warehouseOrder.remark!''}</textarea>
											</div>     
        								</div>
        								</form>
                                   </div>  
                                </div>
                                
                                <div class="tab-pane fade" id="cargos">
                                    <div class="panel-body">             
                                        <div class="table-responsive">
			                            <button class="btn  btn-primary" data-toggle="modal" data-target="#myModal" id="addproduct">
										  添加产品
										</button>
										<div class ="form-group"></div>
                                        <table class="table table-striped table-bordered table-hover" id="itemTable">
                                            <thead>
                                                <tr>
                                                   	
                                                    <th>产品名称</th>
													<th>产品编号</th>
													<th>过期时间</th>
													<th>批号</th>
													<th>箱号</th>
													<th>数量</th>
													<th>单位</th>
													<th>单位价格</th>
													<th>单位成本</th>
													<th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="transferOrderItemTbody">
                                            </tbody>
                                        	</table>
                                        </div>
                                    </div>
                                  </div>
                                    
                                    <!-- 添加产品模态框 -->
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog" >
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">新增货品</h4>
									      </div>
									     
									      <div class="modal-body">
									      <form id="warehouseOrderItemForm" action="">
									      <div class="row">
									     	 <div class="col-lg-6">
									      		<input id="productId" type="hidden" name="productId" />
									      		<input id="warehouseOrderItemId" type="hidden" name="warehouseOderItemId" />
												<div class="form-group ">
													<label class="control-label" for="inputSuccess">货品名称</label>
													<input id="itemNameMessage" class="form-control dropdown-toggle" placeholder="请输入货品名称" type="text" name="item_name" data-toggle="dropdown"><span id="itemNameMessagespan" style="color:red;">请输入货品名称</span>
	                                                <ul id='itemNameList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
	    											</ul>
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">批号</label> <input
														id="lot_no" class="form-control" type="text" name="lot_no" value="${product.size!''}">
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">计量单位</label> 
													<!-- <input id="uom" class="form-control" type="text" name=uom value="${height!''}"> -->
													<select id="uom" class="form-control" name=uom>
													<option></option>
													</select>
												</div>
												<div class="form-group">
												<label class="control-label" for="inputSuccess">过期时间</label> 
												<input id="expire_date" class="form-control" type="text" name="expire_date">
												</div>
												<div class="form-group">
												<label class="control-label" for="inputSuccess">产品描述</label> 
												<input id="item_desc" class="form-control" type="text" name="item_desc">
												</div>
									      </div>
									       <div class="col-lg-6">
									      		<div class="form-group">
													<label class="control-label" for="inputSuccess">货品型号</label>
													<input id="itemNoMessage" class="form-control dropdown-toggle" placeholder="请输入货品型号" type="text" name="itemNoMessage" data-toggle="dropdown"><span id="itemNoMessagespan" style="color:red;">请输入货品型号</span>
	                                                <ul id='itemNoList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
	    											</ul>
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">箱号</label> 
													<input id="caton_no" class="form-control" type="text" name="caton_no" value="${product.width!''}">
												</div>
												<div class="form-group ">
													<label class="control-label" for="inputSuccess">数量</label>
													<input id="total_quantity" class="form-control" type="text" name="total_quantity"><span id="total_quantityspan" style="color:red;">请输入数量</span>
												</div>
												<div class="form-group">
													<label class="control-label" for="inputWarning">单位价格</label> 
													<input id="unit_price" class="form-control" type="text" name="unit_price"><span id="unit_pricespan" style="color:red;">请输入单位价格</span>
												</div>
												<div class="form-group ">
													<label class="control-label" for="inputSuccess">单位成本</label> 
													<input id="unit_cost" class="form-control" type="text" name="unit_cost"><span id="unit_costspan" style="color:red;">请输入单位成本</span>
												</div>
										      </div>
										      </div>
										      
									      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn  btn-primary" data-dismiss="modal">取消</button>
										        <button id="warehouseOrderItemFormBtn" type="button" class="btn  btn-primary">保存</button>
										      </div>
										      <input id="reset" name="" type="reset"/>
											</form>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
                                   
                                
									<!-- 模态框 -->
									<div class="modal fade" id="transferOrderMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">新里程碑</h4>
									        
									      </div>
									      
									      <div class="modal-body">
									      	<form id="transferOrderMilestoneForm" action="">
									      		<input id="transfer_milestone_order_id" type="hidden" name="order_id" />
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">状态(不填默认为"在途")</label> <input
													id="status" class="form-control" type="text"
													name="status">
												</div>
												<div class="form-group ">
												<label class="control-label" for="inputSuccess">地点</label> <input
													id="location" class="form-control" type="text"
													name="location">
												</div>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn  btn-primary" data-dismiss="modal">取消</button>
										        <button id="transferOrderMilestoneFormBtn" type="button" class="btn  btn-primary">保存</button>
										      </div>
											</form>
									    </div><!-- /.modal-content -->
									  </div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
									
                                <div class="tab-pane fade" id="milestone">
                                    <div class="panel-body">
                                        <div class="table-responsive">                                        
					                            <button class="btn  btn-primary" data-toggle="modal" data-target="#transferOrderMilestone">
												  新里程碑
												</button>
												<div class ="form-group"></div>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>状态</th>
                                                        <th>地点</th>
                                                        <th>更新用户</th>
                                                        <th>更新时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="transferOrderMilestoneTbody" >
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
								
                                <div>
                                    <hr/>
                                	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>
                                    <button id="saveInventoryBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>                                    
                                    <button id="ConfirmBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">入仓确认</button> 
                                   <a class="btn  btn-primary" href="/gateIn">返回</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
        </div>
        <!-- /#page-wrapper -->

<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script src="/yh/js/inventory/inventory.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<script>
	if('${warehouseOrder.order_no!''}'){
		document.title='${warehouseOrder.order_no!''}'+" | "+document.title;
	}	
</script>

<script src="/yh/js/eeda-common.js"></script>
