<%layout("/yh/layout.html"){%>
<div id="page-wrapper">
<div class="row">
      <div class="col-lg-12">
            <h1 class="page-header">
				<div class="form-group ">
					<label class="control-label" for="inputSuccess">仓库</label>
					<input type="hidden" id="warehouseId" name="warehouseId" value="${warehouseOrder.warehouse_id!''}"> 
					 <input id="warehouseSelect" class="form-control" placeholder="选择仓库" name="warehouseSelect" value="${warehouseOrder.warehouse_name!''}"> 
					 <ul id='warehouseList' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 17%; left: 2%;" role="menu">
					</ul>
				</div>	
			</h1>
		<div class="panel panel-default">
				<div class="panel-heading">
                 	<i class="fa fa-list fa-fw"></i>库存
            	</div>
            <div class="panel-body">
            	<div class="row-fluid">
		 			<table class="table table-striped table-bordered table-hover datatable" id="example2">
						<thead>
							<tr>
								<th>产品名称</th>
								<th>产品编号</th>
								<th>客户</th>
								<th>过期时间</th>
								<th>批号</th>
								<th>箱号</th>
								<th>现货总数</th>
								<th>长</th>
								<th>宽</th>
								<th>高</th>
								<th>体积</th>
								<th>重量</th>
								<th>单位</th>
								<!-- <th>单位价格</th>
								<th>单位成本</th> -->
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td colspan="5">Loading data from server</td>
							</tr>
						</tbody>
						
					</table>
					
				</div>
      		</div>
		</div>
 	</div>
        <!-- /.col-lg-12 -->
</div>
</div>
<%}%>

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/inventory/stock.js"></script>
