<%layout("/yh/layout.html"){%>
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-header" style="font-size: 32px">往来票据单</div>
            <div class="order_tool_bar" style="z-index: 15; margin: 5px;">
                <button id="saveBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>
                <!--button id="printBtn" type="button" class="btn  btn-primary " data-toggle="tooltip" title="" data-original-title="Default tooltip">打印</button-->
                <a class="btn  btn-primary" href="/inOutMiscOrder">返回</a>
            </div>
            <input id="order_id" type="hidden" name="order_id"/>
        </div>
        <!-- /.col-lg-12 --> </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="basic">
                        <form role="form" id="inOutMiscOrderForm">
                        <div class="row">
                            <div class="col-lg-4">
                                    <input id="orderId" type="hidden" name="orderId" value="${order.ID!''}"/>

                                    <%include("/yh/component/form/inputField.html", 
                                        {id:'orderNo', label:'往来单号', value:order.ORDER_NO!''}){} %>
                                    
                                    <div class="form-group" >
                                        <label class="search-label">业务类型</label>
                                        <select id="biz_type"class="form-control search-control">
                                            <option value="personal" <% if(order.BIZ_TYPE! == 'personal') print('selected');%>>借支</option>
                                            <option value="company" <% if(order.BIZ_TYPE! == 'company') print('selected');%>>公司</option>
                                        </select>
                                    </div>
                                    <%include("/yh/component/form/inputField.html", 
                                        {id:'charge_unit', label:'收款单位', value: order.CHARGE_UNIT!''}){} %>
                                    <%include("/yh/component/form/inputField.html", 
                                         {id:'pay_unit', label:'付款单位', value: order.PAY_UNIT!''}){} %>
                                    <div class="form-group">
                                        <label class="search-label">创建人</label> <span>${order.USER_NAME!''}</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">创建时间</label>
                                        <span  id="create_date">${order.CREATE_DATE!date(), "yyyy-MM-dd"}</span>
                                    </div>
                                
                            </div><!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-4">
                                    <%include("/yh/component/form/dateInputField.html",{id:'issue_date', label:'开票日期', value: order.ISSUE_DATE!''}){} %>

                                    <div class="form-group" id="paymentMethods">
                                        <label class="search-label">票据类型</label>
                                        <select id = "order_type" class="form-control search-control">
                                            <option value="1"<% if(order.ORDER_TYPE! == '1') print('selected');%>>押金</option>
                                            <option value="2"<% if(order.ORDER_TYPE! == '2') print('selected');%>>仓储费</option>
                                            <option value="3"<% if(order.ORDER_TYPE! == '3') print('selected');%>>运费</option>
                                            <option value="4"<% if(order.ORDER_TYPE! == '4') print('selected');%>>贷款利息</option>
                                            <option value="5"<% if(order.ORDER_TYPE! == '5') print('selected');%>>社保费</option>
                                        </select>
                                    </div>
                                    <%include("/yh/component/form/inputField.html", 
                                         {id:'charge_person', label:'收款人', value:order.CHARGE_PERSON!''}){} %>
                                    <%include("/yh/component/form/inputField.html", 
                                         {id:'pay_person', label:'付款人', value:order.PAY_PERSON!''}){} %>
                            </div>
                            <!-- /.col-lg-6 (nested) --> 
                             <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="search-label">开票网点</label>
                                    <select id="issue_office_id" class="form-control search-control">
                                        <%for(office in officeList){%>
                                            <option value="${office.ID}" 
                                                <% if(order.ISSUE_OFFICE_ID! == office.ID) print('selected');%>
                                            >${office.OFFICE_NAME}</option>>
                                        <%}%>
                                    </select>
                                </div>

                                <%include("/yh/component/form/inputField.html", 
                                         {id:'ref_no', label:'票据号码', value:order.REF_NO!''}){} %>
                                <%include("/yh/component/form/inputField.html", 
                                         {id:'pay_amount', label:'应付金额', value:order.PAY_AMOUNT!'0'}){} %>
                                <%include("/yh/component/form/inputField.html", 
                                         {id:'charge_amount', label:'应收金额', value:order.CHARGE_AMOUNT!'0'}){} %>
                                <div class="form-group">
                                    <label class="search-label">收款状态</label>
                                    <span id="charge_status">${order.charge_status!'未收'}</span>
                                </div>
                                <div class="form-group">
                                    <label class="search-label">付款状态</label>
                                    <span  id="pay_status">${order.pay_status!'未付'}</span>
                                </div>
                             </div><!-- /.col-lg-4 (nested) --> 

                        </div><!-- /.row --> 
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>备注</label>
                                    <textarea class="form-control" rows="5"  id="remark" name="remark">${order.REMARK!''}</textarea>
                                </div>
                            </div><!-- /.col-lg-8 (nested) --> 
                        </div>
                    </form>
                </div>

                
            </div>
            <!-- /.panel-body --> </div>
        <!-- /.panel --> </div>
    <!-- /.col-lg-12 -->
</div>
</div>
</div>
<!-- /#page-wrapper -->

<%}%>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script src="/yh/css/ui/jquery-ui.js"></script>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/plugins/stickUp/stickUp.min.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>


<script>
    var order_no = '${order.ORDER_NO!''}';
</script>
<script src="/yh/js/eeda-common.js"></script>
<script src="/yh/js/arap/InOutMiscOrder/edit.js"></script>
<script type="text/javascript">
  //initiating jQuery
  jQuery(function($) {
    $(document).ready( function() {
      $('.order_tool_bar').stickUp({
          topMargin: 'auto'
        });
    });
  });

</script>