<%layout("/bz/layout.html"){%>
	<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">博兆出货单</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>


            <div class="row">  <!--  form row  -->
                <form id="orderForm">
                    <div class="row"><!--  第1行  -->
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'出货单号', 
                                                    value:order.order_no!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                        
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'customer_name', 
                                                    label:'客户名称', 
                                                    value:order.customer_name!''
                                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            
                        </div>
                    </div>

                    <div class="row"><!--  第2行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'creator_name', 
                                                    label:'创建人', 
                                                    value:order.creator_name!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'create_date', 
                                                    label:'创建时间', 
                                                    value:order.create_date!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            
                        </div><!-- /.col-lg-4 -->
                    </div> 
                </form>
            </div><!-- /.row -->

             <br>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-success btn-xs" id="add_cargo">添加货品</button>
                    <input type="checkbox" value="fdsa" checked>回车光标移动到下一行
                    <%include("/yh/component/form/detailTable.html", 
                        {
                            id:'cargo_table', 
                            headers:['', 'id', '序号', '产品型号', '条码', '备注'],
                            field_list:['', 'id', null, 'product_no', 'serial_no', 'remark'],
                            value_list: order.item_list![]
                        }){} %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <% var btn_disabled ='';
                        if(order.status!'' == '已取消'){
                            btn_disabled='disabled';
                        }
                    %>
                    <a id='saveBtn' class="btn btn-primary ${btn_disabled}" href="#">保存</a>
                    <a class="btn  btn-default" href="/bzGateOutOrder">返回</a>
                    <a class="btn btn-success" href="/bzGateOutOrder/create">新增单据</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div><!--  form row  -->
        <!-- /#page-wrapper -->
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script>
    var order_no = '${order.order_no!'出货单'}'; 
    var orderController = {};
</script>

<script src="/js/bz/gateOutOrder/edit_item_table.js"></script>
<script src="/js/bz/gateOutOrder/edit.js"></script>