<%layout("/yh/layout.html"){%>
		<link rel="stylesheet" href="/yh/css/bootstrap-datetimepicker.min.css">
		<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header"></div>                    
                    <div class="row">
                        <form id='createForm' action="/pickupOrder/createPickupOrder" method="post">
                            <input id='pickupOrder_message' name='localArr' type="hidden">
                            <input id="detailIds" name="detailIds" type="hidden">
                            <input id="cargoIds" name="cargoIds" type="hidden">
                            <input id="cargoNumbers" name="cargoNumbers" type="hidden">
                            <input id="cargo_nature" name="cargo_nature" type="hidden">
                            <input id="cargoItemIds" name="cargoItemIds" type="hidden">
                            <input id="detailJson" name="detailJson" type="hidden">
                            <input id="ids" name="ids" type="hidden">
                            <input id="flag" name="flag" type="hidden" value="${customizeField.flag!''}">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="controls">
                                      <% if (customizeField.flag!''=="derect"){%>
                                      <button disabled id="saveBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">创建直送调车单</button>
                                      <%}else{%>
                                      <button disabled id="saveBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">创建调车单</button>
                                      <%}%>
                                      <a class="btn  btn-primary" href="/pickupOrder">返回</a>
                                    </div>
                                </div>
                            </div>    
                        </form> 
                    </div>
                    <h3>已选中的运输单</h3>
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
            					<h4>总重量(kg): <span id="sumWeight"></span></h4>
            				</div>
            			</div>
            			<div class="col-lg-6">
                            <div class="form-group">
                    			<h4>总体积(m³): <span id="sumVolume"></span></h4>
                    		</div>
                    	</div>
                    </div> -->
	                    <div class="table-responsive">
	                        <table class="table table-striped table-bordered table-hover" id="eeda-table1" style="width: 2000px;">
	                            <thead>
	                                <tr>
	                                    <th>运输单号</th>
	                                    <th>单品序列号</th> 
	                                    <th>实发数量</th>
	                                    <th>运营方式</th>                                         
	                                    <th>始发城市</th>                                         
	                                    <th>目的城市</th>
	                                    <th>订单类型</th>
	                                    <th>货品属性</th>
	                                    <th>重量(kg)</th>
	                                    <th>体积(m³)</th>
	                                    <th>提货地点</th>
	                                    <th>提货方式</th>
	                                    <th>到达方式</th>
	                                    <th>状态</th>                                         
	                                    <th>客户</th>
	                                    <th>网点</th>                                         
	                                    <th>创建时间</th>                                         
	                                    <th>调度状态</th>                                       
	                                 </tr>
	                            </thead>
	                            <tbody id="ckeckedTransferOrderList">                                        
	                            </tbody>
	                        </table>
	                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
           <!-- /.row -->
           <h3></h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">                              
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>可调车运输单列表&nbsp<span>(温馨提示：直送调车单只能选中一张运输单)</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form" style="margin: 0 15px;">
                            <div class="row search_panel">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">订单号</label>
                                        <input type="text" class="form-control search-control orderNo_filter" id="orderNo_filter" value="">
                                    </div>
                                  
                                    <div class="form-group">
                                        <label class="search-label">始发城市</label>
                                        <input type="text" class="form-control search-control routeFrom_filter" id="routeFrom_filter">
                                    </div>
                                    <div class="form-group">                                        
                                        <div id="datetimepicker" class="input-append date "> 
                                            <label class="search-label">开始时间</label> 
                                            <input id="beginTime_filter" class="form-control search-control  beginTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                            </span>  
                                        </div>
                                    </div> 
                                </div>
                                <!-- end of col-lg-6-->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">客户</label>
                                        <input type="text" class="form-control search-control customer_filter" id="customer_filter" placeholder="请选择或者输入客户">
                                    	<ul id='companyList' tabindex="-1" class="pull-right dropdown-menu default dropdown-scroll" style="top: 28%; left: 33%;"></ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">目的城市</label>
                                        <input type="text" class="form-control search-control routeTo_filter" id="routeTo_filter">
                                    </div>
                                    <div class="form-group">                                                    
                                        <span id="datetimepicker2" class="input-append date search-control "> 
                                            <label class="search-label">结束时间</label> 
                                            <input id="endTime_filter" class="form-control search-control endTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                            </span>  
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="search-label">提货地点</label>
                                        <input type="text" class="form-control search-control address_filter" id="address_filter">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">订单类型</label>
                                        <input type="text" class="form-control search-control orderType_filter" id="orderType_filter">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">状态</label>
                                        <input type="text" class="form-control search-control status_filter" id="status_filter">
                                    </div>
                                </div>
                                <!-- end of col-lg-6-->
                            </div><!-- end of row-->
                            <button  id="searchBtn" type="button" class="btn  btn-primary">查询</button>
                            </form>
                            <div class="table-responsive">
                            	<br/>
                                <table class="table table-striped table-bordered table-hover" id="eeda-table" style="width: 1750px;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>运输单号</th>
                                            <th>计划时间</th>
                                            <th>可用数量</th>
                                            <th>客户</th> 
                                    		<th>运营方式</th>                                               
                                            <th>始发城市</th>                                         
                                            <th>目的城市</th>
                                            <th>订单类型</th>
                                            <th>货品属性</th>
                                            <th>重量(kg)</th>
                                            <th>体积(m³)</th>
                                            <th>提货地点</th>
                                            <th>提货方式</th>
                                            <th>到达方式</th>
                                            <th>状态</th>
                                            <th>网点</th>                                         
                                            <th>创建时间</th>                                         
                                            <th>调度状态</th>                                         
                                         </tr>
                                    </thead>
                                    <tbody id="transferOrderList">                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
						<!-- Modal -->
						<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" id="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        <h4 class="modal-title" id="myModalLabel"><label>运输单号-</label><label id="transferOrderNo"></label></h4>
						      </div>
						      <div class="modal-body">
						         <div class="row">
                					<div class="col-lg-14">
				                       <div class="col-lg-8" style="height:500px;overflow: scroll; scrollbar-face-color:#70807d; scrollbar-arrow-color:#ffffff; scrollbar-highlight-color:#ffffff; scrollbar-3dlight-color:#70807d; scrollbar-shadow-color:#ffffff; scrollbar-darkshadow-color:#70807d; scrollbar-track-color:#ffffff">
				                       		<div>货品列表</div>
				                            <div class="table-responsive">
				                            	<input type="hidden" id="transferId"> 
				                            	<input type="hidden" id="transferCrgoNature"> 
						                        <table class="table table-striped table-bordered table-hover" id="itemTable">
		                                            <thead>
		                                                <tr>
		                                                    <!-- <th>运输单号</th> -->
		                                                    <th>产品型号</th>
		                                                    <th>计划数量</th>
		                                                    <th>可选数量</th>
		                                                    <th>单位</th>
		                                                    <th>总重量</th>
		                                                    <th>总体积</th>                                  
		                                                    <th>备注</th>
		                                                </tr>
		                                            </thead>
		                                            <tbody id="itemTbody">
		                                            </tbody>
		                                        </table>
						                    </div>
				            			</div>
				            			<div class="col-lg-4" id="detailDiv" style="height:500px;overflow: scroll; scrollbar-face-color:#70807d; scrollbar-arrow-color:#ffffff; scrollbar-highlight-color:#ffffff; scrollbar-3dlight-color:#70807d; scrollbar-shadow-color:#ffffff; scrollbar-darkshadow-color:#70807d; scrollbar-track-color:#ffffff">
				                            <div>单品列表</div>
				                            <div class="table-responsive">
				                            	<input type="hidden" id="hiddenItemId"> 
						                        <table class="table table-striped table-bordered table-hover" id="detailTable" >
		                                            <thead>
		                                                <tr>
		                                                	<th><input type="checkbox" id="checkboxAll">全选</th>
		                                                    <th>单品序列号</th>
		                                                    <th>件数</th>
		                                                </tr>
		                                            </thead>
		                                            <tbody id="detailTbody">
		                                            </tbody>
		                                        </table>
						                    </div>
				                    	</div>
                					</div>
                			  	 </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" id="closeBtn" class="btn  btn-primary" data-dismiss="modal">取消</button>
						        <button type="button" id="sureBtn" class="btn  btn-primary">确定</button>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- Modal -->
                    <!-- </div> -->
                    <!-- 弹出层  结束-->
                </div>
                <!-- /.col-lg-12 -->
            </div>          
        </div>    
<%}%>

<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- <script src="/yh/js/bootstrap.min.js"></script> -->
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script>
	var pickupOrderSearcheTransfer = {};
	pickupOrderSearcheTransfer.ex_type = "${customizeField.EX_TYPE!'公司自提'}";
	pickupOrderSearcheTransfer.ex_cargo = "${customizeField.EX_CARGO!'贵重物品'}";
</script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<!-- <script src="/yh/js/pickup/pickup.js"></script> -->
<script src="/yh/js/pickup/newpickup.js"></script>
