<%layout("/yh/layout.html"){%>
		<link rel="stylesheet" href="/yh/css/bootstrap-datetimepicker.min.css">
        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">拼车单</h1>                    
                    <div class="row">
                        <form id='createForm' action="/yh/pickupOrder/createPickupOrder" method="post">
                            <input id='pickupOrder_message' name='localArr' type="hidden">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="controls">
                                      <button disabled="true" id="saveBtn" type="button" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Default tooltip">创建拼车单</button>
                                      <a class="btn btn-default" href="/yh/pickupOrder">返回</a>
                                    </div>
                                </div>
                            </div>    
                        </form> 
                    </div>
                    <h3>已选中的运输单</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
            					<h4>总重量(kg): <span id="sumWeight"></span></h4>
            				</div>
            			</div>
            			<div class="col-lg-6">
                            <div class="form-group">
                    			<h4>总体积(m³): <span id="sumVolume"></span></h4>
                    		</div>
                    	</div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="" style="clear:both;">
                            <thead>
                                <tr>
                                    <th>运输单号</th>
                                    <th>订单类型</th>
                                    <th>货品</th>
                                    <th>重量(kg)</th>
                                    <th>体积(m³)</th>
                                    <th>数量</th>
                                    <th>提货地点</th>
                                    <th>提货方式</th>
                                    <th>到达方式</th>
                                    <th>状态</th>                                         
                                    <th>客户</th>                                         
                                    <th>始发城市</th>                                         
                                    <th>目的地城市</th>                                         
                                    <th>创建时间</th>                                         
                                    <th>调度状态</th>                                       
                                 </tr>
                            </thead>
                            <tbody id="ckeckedTransferOrderList">                                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

           <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">                              
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i>可拼车运输单列表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form" style="margin: 0 15px;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="search-label">订单号</label>
                                        <input type="text" class="form-control search-control orderNo_filter" id="orderNo_filter" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">状态</label>
                                        <input type="text" class="form-control search-control status_filter" id="status_filter">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">始发城市</label>
                                        <input type="text" class="form-control search-control routeFrom_filter" id="routeFrom_filter">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">订单类型</label>
                                        <input type="text" class="form-control search-control orderType_filter" id="orderType_filter">
                                    </div>
                                </div>
                                <!-- end of col-lg-6-->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="search-label">客户</label>
                                        <input type="text" class="form-control search-control customer_filter" id="customer_filter">
                                    </div>
                                    <div class="form-group">
                                        <label class="search-label">提货地点</label>
                                        <input type="text" class="form-control search-control address_filter" id="address_filter">
                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="search-label">目的地城市</label>
                                        <input type="text" class="form-control search-control routeTo_filter" id="routeTo_filter">
                                    </div>
                                    <!--  下单时间<input type="text" class="beginTime_filter" id="beginTime_filter"> - 到达时间<input type="text" class="endTime_filter" id="endTime_filter" -->
                                </div>
                                <!-- end of col-lg-6-->
                            </div><!-- end of row-->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">                                        
                                        <div id="datetimepicker" class="input-append date "> 
                                            <label class="search-label">开始时间</label> 
                                            <input id="beginTime_filter" class="form-control search-control  beginTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                            </span>  
                                        </div>
                                    </div>    
                                </div>
                                <!-- end of col-lg-6-->
                                <div class="col-lg-6">
                                    <div class="form-group">                                                    
                                        <span id="datetimepicker2" class="input-append date search-control "> 
                                            <label class="search-label">结束时间</label> 
                                            <input id="endTime_filter" class="form-control search-control endTime_filter" type="text">
                                            <span class="add-on">  
                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
                                            </span>  
                                        </span>
                                    </div>
                                </div>
                                <!-- end of col-lg-6-->
                            </div><!-- end of row-->
                            
                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="eeda-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>运输单号</th>
                                            <th>订单类型</th>
                                            <th>货品</th>
                                            <th>重量(kg)</th>
                                            <th>体积(m³)</th>
                                            <th>数量</th>
                                            <th>提货地点</th>
                                            <th>提货方式</th>
                                            <th>到达方式</th>
                                            <th>状态</th>                                         
                                            <th>客户</th>                                         
                                            <th>始发城市</th>                                         
                                            <th>目的地城市</th>                                         
                                            <th>创建时间</th>                                         
                                            <th>调度状态</th>                                         
                                         </tr>
                                    </thead>
                                    <tbody id="transferOrderList">                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>          
        </div>    
<%}%>

<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<script src="/yh/js/bootstrap.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>

<script src="/yh/js/pickup/pickup.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
