<%layout("/yh/layout.html"){%>


<div id="page-wrapper">
		
	<div class="row">
        <div class="col-lg-12">
          			<h1 class="page-header"></h1>
        	 <div class="panel panel-default">
        		<div class="panel-heading">
                 	<i class="fa fa-list fa-fw"></i>城市列表
            	</div>
        	<div class="panel-body">
	        	 <div class="row-fluid">
	 				<table class="table table-striped table-bordered table-hover datatable" id="example">
						<thead>
							<tr>
								<th>上一级</th>
								<th>code</th>
								<th>市</th>
								<th>pcode</th>
								<!-- <th></th> -->
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td colspan="5">Loading data from server</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div>
      </div>
        <!-- /.col-lg-12 -->
    </div>
   
</div>


<%}%>

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<script>
$(document).ready(function() {
	 $("#del").click(function(){
    	alert("waerwerwee");
    });
	 $("#query").click(function(){
	    	alert("123");
	    });
	 $('#example').dataTable( {
		 "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
	        //"sPaginationType": "bootstrap",
	        "iDisplayLength": 10,
	    	"oLanguage": {
	            "sUrl": "/eeda/dataTables.ch.txt"
	        },
	        "sAjaxSource": "/yh/location/listLocation",
			"aoColumns": [
				{ "mDataProp": "P_NAME" },
	            { "mDataProp": "CODE" },
	            { "mDataProp": "NAME" },
	            { "mDataProp": "PCODE" }
	            /* { 
	                "mDataProp": null, 
	                "sWidth": "13%",
	                "fnRender": function(obj) {                    
	                    return "<a class='btn btn-info' href='/yh/loginUser/edit/"+obj.aData.ID+"'>"+
	                                "<i class='fa fa-edit'> </i> "+
	                                "编辑"+
	                            "</a>"+
	                            "<a class='btn btn-danger' href='/yh/loginUser/del/"+obj.aData.ID+"'>"+
	                                "<i class='icon-trash icon-white'></i>"+ 
	                                "删除"+
	                            "</a>";
	                }
	            }  */
	            ]
	} );
		

});
</script>