<%layout("/yh/layout.html"){%>
 

 <div id="page-wrapper">
    
    <div class="row">
        <div class="col-lg-12 panel-body">
           
            <h1 class="page-header">创建新用户角色</h1>
           
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
                <div class="col-lg-12"> 
                    <div class="panel panel-default">
                       
                        <div class="panel-body">
                           
        <form id="addRoleForm" name="form1" method="post" action="/role/SaveRole"> 

 	
 	<div class="col-lg-8">
	<div class="form-group">
	<label >新角色名称(必填)</label>
	<input id="rolename" class="form-control" type="text" name="rolename">
	</div>
	</div>
	<div class="col-lg-8">
	<div class="form-group">
	<label>角色创建人(必填)</label>
	<input id="rolepeople" class="form-control" type="text" name="rolepeople">
	</div>
	</div>
	<div class="col-lg-8">
   <button  class="btn btn-default" type="submit">保存</button>
 	<a  class="btn btn-default" href="/role"> 返回    </a> 
	</div>
           </form>
 
                   </div>
                     
                    </div>
                  
                </div>
               
            </div>
            
</div>
			
	

</div>


<!-- content ends -->
<%}%>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script>
    $(document).ready(function() {
        $('#menu_profile').addClass('active').find('ul').addClass('in');
        $('#addRoleForm').validate({
            rules: {
            rolename: {//form 中company_name为必填, 注意input 中定义的id, name都要为company_name
                required: true
              },
              rolepeople:{//form 中 name为必填
                required: true
              }
            },
            highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function(element) {
                element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        });
    });
</script>

 