
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>微信JS-SDK Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="/yh/css/plugins/wx/style.css">
</head>
<body ontouchstart="">
<div class="wxapi_container">    
    <div class="lbox_close wxapi_form">      
      <span class="desc">查看我的位置</span>
      <button class="btn btn_primary" id="openLocation">openLocation</button>
      <span class="desc">点击汇报我的位置</span>
      <button class="btn btn_primary" id="getLocation">getLocation</button>
    </div>
  </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
      debug: true,
      appId: '${appId}',
      timestamp: ${timestamp},
      nonceStr: '${nonceStr}',
      signature: '${signature}',
      jsApiList: [
        'openLocation',
        'getLocation'
      ]
  });
</script>
<script src="/yh/js/wx/location.js"> </script>
</html>
