<%layout("/yh/layout.html"){%>

	<link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
     <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">  
        <div id="page-wrapper">
            <div class="row">
           
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size: 32px">保险单</div>                  
                    <input type="hidden" id="insuranceOrderId" value="${insuranceOrder.id!''}">
                    <input type="hidden" id="transferOrderType" value="${transferOrderAttr.order_type!''}">
                    <input type="hidden" id="finishBtnVal" value="${transferOrderMilestone.status!''}">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="total">
                  
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#basic" data-toggle="tab" id = "chargeCheckOrderbasic">基本信息</a>
                                </li>
                                <li class=""><a href="#cargos" data-toggle="tab" id="insuranceOrderItemList">货品信息</a>
                                </li>
                                <!-- <li class=""><a href="#milestone" data-toggle="tab" id="transferOrderMilestoneList">里程碑</a>
                                </li> -->
                                <li class=""><a href="#pickuparap" data-toggle="tab" id="insuranceOrderPayment">应收应付</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="basic">
                                 
                                <div class="row">
                                   <form id="insuranceOrderForm" method="post" action="">
                                        <input id="sp_id" type="hidden" name="sp_id" value="${spParty.id!''}${insuranceOrder.sp_id!''}"/>
                    			   		<input type="hidden" id="insuranceId" name="insuranceId" value="${insuranceOrder.id!''}">
                                        <input id="driver_id" type="hidden" name="driver_id" value="${insuranceOrder.driver_id!''}"/>                                   	  
                                       	<input type="hidden" name="order_no" value="${order_no!''}${insuranceOrder.depart_no!''}"/>
                                       	<input type="hidden" name="status" value="${status!''}${insuranceOrder.status!''}"/>
                                       	<input type="hidden" name="create_by" value="${create_by!''}${insuranceOrder.create_by!''}"/>
		                                <input class="" id="depart_id" value="${insuranceOrder.depart_id!''}" type="hidden" name="depart_id" >
		                                <input class="" id="type" value="${type!''}" type="hidden" >
		            				    <input class="" id="orderid" value="${localArr!''}" type="hidden" name="orderid" >
		            				    <input class="" id="tr_itemid_list" value="" type="hidden" name="tr_itemid_list">
		            				    <input class="" id="item_detail" value="" type="hidden" name="item_detail" >                        	
                                        <input id="hid_customer_id" type="hidden" name="hid_customer_id" value="${hid_customer_id!''}"/>
                                        
	                                    <div class="col-lg-6">
	                                    	<h3>客户信息</h3>  
	                                        <div class="form-group">
	                                            <label>公司名称</label>	${customerContact.company_name!''}
	                                        </div>
	                                        <div class="form-group">
	                                            <label>地址</label>	${customerContact.address!''}
	                                        </div>                                                                               
	                                        <div class="form-group">
	                                            <label>联系人</label>	${customerContact.contact_person!''}
	                                        </div>                                        
	                                        <div class="form-group">
	                                            <label>电话</label>	${customerContact.phone!''}
	                                        </div> 
	                                        <div class="form-group">
		                                        <input id="hideOfficeId" type="hidden" value="${insuranceOrder.office_id!''}" />    
	       										<label class="control-label" for="inputSuccess">请选择网点</label>
	                                            <select id="officeSelect" class="form-control" name="officeSelect"></select>
                                            </div>
                                            <div class="form-group">
	                                            <input id="hideInsuranceId" type="hidden" value="${insuranceOrder.insurance_id!''}" />    
	       										<label class="control-label" for="inputSuccess">请选择保险公司</label>
	                                            <select id="insuranceSelect" class="form-control" name="insuranceSelect"></select>
                                            </div> 
	                                    </div>
	                                    <div class="col-lg-6">
	                                   		<h3>保险信息</h3>                                           
	                                             <div class="form-group">
	                                                 <label>保险单号</label> <strong>${order_no!''} ${insuranceOrder.order_no!''}</strong>
	                                             </div>
	                                             <div class="form-group">
	                                                 <label>单据状态</label>   ${status!''} ${insuranceOrder.status!''}
	                                             </div>
	                                             <div class="form-group">
		                                             <label>创建人</label>  <%if(userLogin.c_name!''==''){ %>${userLogin.user_name!''}<%}else{%>${userLogin.c_name!''}<%}%>
		                                             <%if(userLogin2.c_name!''==''){ %>${userLogin2.user_name!''}<%}else{%>${userLogin2.c_name!''}<%}%>                                         
		                                         </div>
		                                         <div class="form-group">
	                                                 <label>凭条号</label> <!-- <span id="insurance_no">${insurance_no!''}</span> -->
	                                                 <input type="text" class="form-control search-control insurance_no" id="insurance_no" name="insurance_no" value="${insurance_no!''}">
	                                             </div>
										 		 <div class="form-group">
		                                             <label>备注</label>
		                                             <textarea class="form-control" rows="6" id="remark" name="remark">${insuranceOrder.remark!''}</textarea>
		                                         </div> 
	                                    </div>
                                    </div>   
                                </form>
                            </div>
                            
                                <div class="tab-pane fade" id="cargos">  
                                     <div class="panel-body" style="" id="ATMitem">
                                     <div class="table-responsive">                                        
		                                <table class="table table-striped table-bordered table-hover" id="pickupItem-table" style="width: 1850px;">                              
		                                <thead>
		                                        <tr>
		                                        	<th>客户</th> 
		                                        	<th>运输单号</th> 
		                                         	<th>型号</th> 
		                                            <th>名称</th>
		                                            <th>数量</th>
		                                            <th>备注</th>                                          
		                                            <th>险别</th>                                          
		                                            <th>保额</th>
		                                            <th>总保额</th>                                           
		                                            <th>应付费率(0.0006 - 0.0007)</th>                                          
		                                            <th>起运时间</th>                                          
		                                            <th>运输路线</th>                                          
		                                            <th>应付保费</th>                                          
		                                            <!-- <th>凭条号</th>     -->                                      
		                                            <!-- <th>查看</th>  -->                                         
		                                        </tr>
		                                    </thead>                               
		                                    <tbody>                                                                                                   
		                                    </tbody>
		                                </table>                                
                                     </div>
                                     
                                     <!-- /.table-responsive -->
                                     <div style="display: none" id="transferOrderItemDateil">
                                         <div class="btn-header">单品列表</div>
										 <input id="item_id" value=0 type="hidden" >
                                         <div class="table-responsive">                                        
                                         <table id="pickupDetail-table" class="table table-striped table-bordered table-hover dataTable">
                                              <thead>
                                                  <tr role="row">
                                                  <th class="sorting"></th>
                                                  <th class="sorting">名称</th>
                                                  <th class="sorting">型号</th>
                                                  <th class="sorting_asc">序列号</th>
                                                  <th class="sorting">体积</th>
                                                  <th class="sorting">重量</th>
                                                  <th class="sorting">备注</th>	                                                  
                                                  </tr>
                                              </thead>
                                           </table>
                                        </div>
                                        <div class="form-group">
                                        	<a id="styleSave" style="display:none"><i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                 </div>                							
                               </div>
                                
                                <!-- 模态框 -->
								<div class="modal fade" id="transferOrderMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title" id="myModalLabel">新里程碑</h4>
								      </div>
								      <div class="modal-body">
								      	<form id="transferOrderMilestoneForm" action="">
								      		<input id="milestonePickupId" type="hidden" name="milestonePickupId" />
											<div class="form-group ">
											<label class="control-label" for="inputSuccess">状态(不填默认为"在途")</label> <input
												id="status" class="form-control" type="text"
												name="status">
											</div>
											<div class="form-group ">
											<label class="control-label" for="inputSuccess">地点</label> <input
												id="location" class="form-control" type="text"
												name="location">
											</div>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn  btn-primary" data-dismiss="modal">取消</button>
									        <button id="transferOrderMilestoneFormBtn" type="button" class="btn  btn-primary">保存</button>
									      </div>
										</form>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
									
                                <div class="tab-pane fade" id="milestone">
                                    <div class="panel-body">
                                        <div class="table-responsive">                                        
			                            <button class="btn  btn-primary" data-toggle="modal" data-target="#transferOrderMilestone">
										  新里程碑
										</button>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>状态</th>
                                                        <th>地点</th>
                                                        <th>更新用户</th>
                                                        <th>更新时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="transferOrderMilestoneTbody" >
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                
                                <div class="tab-pane fade" id="pickuparap">
                                    <h2>应收</h2>
			                        <div class="panel-body">
			                            <div class="table-responsive">
			                                <table class="table table-striped table-bordered table-hover" id ="incomeTab">
			                                    <thead>
			                                        <tr>
			                                            <th>客户</th>
			                                            <th>运输单号</th>
			                                            <th>费用条目</th>
			                                            <th>总保额</th>
			                                            <!-- <th>保费</th> -->
			                                            <th>应收费率（例如7%就输入0.07）</th>
			                                            <th>应收金额</th>
			                                        </tr>
			                                    </thead>
			                                    <tbody>			                                       
			                                    </tbody>
			                                </table>
			                            </div>
			                            <!-- /.table-responsive -->
			                        </div>
                                    <h2>应付</h2>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover"  id ="accountTab">
                                                <thead>
                                                    <tr>
                                                        <th>保险公司</th>
                                                        <th>金额</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                            <!-- <div id="paymentItemList" style="display:none;">
                                            	<%
                      													for(paymentItem in paymentItemList){ %>
                      														<option value='${paymentItem.ID!''}'>${paymentItem.NAME!''}</option>
                      												<%		
                      													}
                      												%>
                                            </div> -->
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                            </div>
                        </div>
                        
                        <!-- /.panel-body --> 
                        <div class=".tooltip-demo">
                            <hr/>
                        	<a style="display:none" id ="style"><i class='fa fa-check'></i></a>                            
		               		<button id="saveInsuranceOrderBtn" type="button" class="btn  btn-primary" data-toggle="tooltip" title="" data-original-title="Default tooltip">保存</button>
		               		<a class="btn  btn-primary" href='/insuranceOrder'>返回</a>
                        </div>                       
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
			</div> 
            </div>
        </div>
        <!-- /#page-wrapper -->

<%}%>
<script src="/yh/js/eeda-common.js"></script>
<script src="/yh/css/ui/jquery-ui.js"></script>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/plugins/dataTables/jquery.dataTables.editable.js" type="text/javascript"></script>
<script src="/yh/js/plugins/dataTables/jquery.jeditable.js" type="text/javascript"></script>
<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<script>
	var order_no='${insuranceOrder.order_no!''}';
</script>
<script src="/yh/js/insuranceOrder/edit.js"></script>