<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header"></div>
                    <% if(shiro.hasPermission("InsuranceOrder.create")){%>
                    	<a class="btn  btn-primary" href="/insuranceOrder/add">新建保险单</a>
                	<%}%>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    	<div class="panel-body">
	                        <form role="form" style="margin: 0 15px;">
	                            <div class="row search_panel">
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <label class="search-label">保险单号</label>
	                                        <input type="text" class="form-control search-control orderNo_filter" id="departNo_filter" value="">
	                                    </div>
	                                </div>
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <label class="search-label">运输单号</label>
	                                        <input type="text" class="form-control search-control orderNo_filter" id="orderNo_filter">
	                                    </div>
	                                </div>
	                                 <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <label class="search-label">客户名称</label>
                                            <input type="text" class="form-control search-control customer_filter" id="customer_filter" placeholder="请选择客户">
                                        	<ul id='companyList' tabindex="-1" class="pull-right dropdown-menu default dropdown-scroll" style="top: 22%; left: 33%;"></ul>
	                                    </div>
	                                </div>
	                            </div><!-- end of row-->
	                            <div class="row search_panel">
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <div id="datetimepicker4" class="input-append date "> 
	                                            <label class="search-label">计划开始时间</label> 
	                                            <input id="planning_begin_filter" class="form-control search-control  beginTime_filter" type="text">
	                                            <span class="add-on">  
	                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
	                                            </span>  
	                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-4">
	                                    <div class="form-group">
	                                        <div id="datetimepicker3" class="input-append date "> 
	                                            <label class="search-label">计划截止时间</label> 
	                                            <input id="planning_end_filter" class="form-control search-control  beginTime_filter" type="text">
	                                            <span class="add-on">  
	                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
	                                            </span>  
	                                    </div>
	                                    </div>
	                                </div>
	                            </div><!-- end of row-->
	                            <div class="row">
	                                <div class="col-lg-4">
	                                    <div class="form-group">                                        
	                                        <div id="datetimepicker" class="input-append date "> 
	                                            <label class="search-label">开始时间</label> 
	                                            <input id="beginTime_filter" class="form-control search-control  beginTime_filter" type="text">
	                                            <span class="add-on">  
	                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
	                                            </span>  
	                                        </div>
	                                    </div>    
	                                </div>
	                                
	                                <!-- end of col-lg-6-->
	                                <div class="col-lg-4">
	                                    <div class="form-group">                                                    
	                                        <span id="datetimepicker2" class="input-append date search-control "> 
	                                            <label class="search-label">结束时间</label> 
	                                            <input id="endTime_filter" class="form-control search-control endTime_filter" type="text">
	                                            <span class="add-on">  
	                                                <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>  
	                                            </span>  
	                                        </span>
	                                    </div>
	                                </div>
	                                <!-- end of col-lg-6-->
	                            </div>
	                            <!-- end of row--> 
                                <button id="showBtn" class="btn  btn-primary" type="button">查看客户总保额</button>
	                            <span class="badge" style="margin-top:12px;"> 总额: <span id="amount">0</span></span> 注意:此金额筛选条件只与客户和计划时间有关                        
	                            
	                        </form>
                        </div>
                            
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>保险单号</th>
                                            <th>保险公司</th>
                                            <th>客户名称</th>  
                                            <th>状态</th>
                                            <th>保险金额</th>
                                            <th>对账金额</th>
                                            <th>计划时间</th>
                                            <th>创建时间</th>
                                            <th>发车时间</th>
                                            <th>运输单</th>
                                            <th></th>
                                            <th>凭条号</th>                                       
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

<%}%>

 <!-- 引入dataTables的js 文件- Tables -->
<script src="/yh/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
	<%
		var insuranceUpdate = shiro.hasPermission("InsuranceOrder.update");
	%>
	var Insurance ={};
	Insurance.isUpdate = ${insuranceUpdate};
</script>

<script src="/yh/js/insuranceOrder/list.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

</body>

</html>
