<%layout("/layout.html"){%>
<!-- content starts -->

<div>
	<ul class="breadcrumb">
		<li>
			<a href="#">首页</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="#">房产业务</a>
		</li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		
		<div class="box-content">
			<div class="box-content">
				<h1>房产业务员的问题列表</h1>
				<br/>

				
				<h4>【房屋出售】</h4>
<p>（ ）房（ ）厅（ ）卫（ ）阳台？
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）？
电梯/楼梯？
总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？
看房方式（约看/自住/出租）？
其他要求？
注意事项？</p>
<h4>【房屋出租】</h4>
<p>（ ）房（ ）厅（ ）卫（ ）阳？
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）？
房屋配置（全齐或者部分）？
电梯/楼梯？
租金？
看房方式（约看/自住/出租）？
其他要求？
注意事项？</p>

<h4>【写字楼出租】</h4>
<p>（ ）房（）厅？
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层

写字楼配置（全齐或者部分）？
电梯/楼梯？

租金？
元/平/月？
管理费？
停车费？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【写字楼出售】</h4>
<p>（ ）房（）厅
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层

写字楼配置（全齐或者部分）？
电梯/楼梯？

总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？
管理费？
停车费？
可租（月租）？
元/平/月？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【商铺出租/转让】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
商铺总高？
是否两层（每层面积）？
电梯/楼梯？

租金？
元/平/月？
管理费？
停车费？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【商铺出售】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
商铺总高？
是否两层（每层面积）？
电梯/楼梯？

总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？
管理费？
停车费？
可租（月租）？
元/平/月？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>


<h4>【车库出租/转让】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
商铺总高？
是否两层（每层面积）？
电梯/楼梯？

租金？
元/平/月？
管理费？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【车库出售】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
商铺总高？
是否两层（每层面积）？
电梯/楼梯？

总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？
管理费？
停车？
可租（月租）？
元/平/月？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【别墅出售】</h4>
<p>（ ）房（ ）厅（ ）卫（ ）阳台
别墅性质（独立/联排）？
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
花园面积？
附送面积？
电梯/楼梯？
总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？

看房方式（约看/自住/出租）？

其他要求？
注意事项？</p>

<h4>【别墅出租】</h4>
<p>（ ）房（ ）厅（ ）卫（ ）阳台
别墅性质（独立/联排）？
建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
花园面积？
附送面积？
房屋配置（全齐或者部分）？
电梯/楼梯？

租金？

看房方式（约看/自住/出租）？

其他要求？
注意事项？</p>


<h4>【厂房/仓库出租】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
总高？
电梯/楼梯？

租金？
元/平/月？
管理费？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【厂房/仓库出售】</h4>

<p>建筑面积？
套内面积？
朝向？
楼层？第（ ）层，共（ ）层
总高？
电梯/楼梯？

总价？
税务实收/各付？
原购价（发票价）？
购入日期（指契税填发日期）？
管理费？
停车？
可租（月租）？
元/平/月？

看房方式（约看/出租中/空置/自用）？
现状经营？
其他要求？
注意事项？</p>

<h4>【地皮出售】</h4>
<p>无</p>

<h4>【地皮出租】</h4>
<p>无</p>

<h4>【整栋厂房出售】</h4>
<p>无</p>

<h4>【整栋厂房出租】</h4>
<p>无</p>
				
				<br/>
				<p>一切的问题，都欢迎咨询！电话？131-6868-8886 胡经理</p>
				<img src="/img/eeda-banner.png">
<br/>
<br/>
<br/>
				<p>
					<h3>创诚易达-工商企业服务部</h3>
					<p>工商：工商税务/地址注册/年审报税</p>
					<p>POS机：专业人员快速上门安装（全广东省代理）</p>
					<p>政策缓助：户口/消防/环保等政策咨询</p>
				</p>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--/span-->

</div>
<!--/row-->

<!-- content ends -->
<%}%>
