<table id="${id}" class="display" cellspacing="0" style="${style!'width: 100%;'}">
    <thead class="eeda">
        <tr>
        	<%for(name in headers){%>
        		<th>${name}</th>
        	<%}%>
        </tr>
    </thead>
    <tbody>
    	<%for(record in value_list![]){
    		 var map = @record.getColumns();
    		%>
    		<tr id='${map["id"]}'>
    			<% 
    				for(col_name in field_list![]){
                        if(col_name != null){
    					    print('<td>'+map[col_name]+'</td>');
                        }else{
                            print('<td></td>');
                        }
    				}
    			%>
    		</tr>
    	<%}%>
    </tbody>
</table>