<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>${SYS_CONFIG.system_title!''}</title>
    <% var logoPath=SYS_CONFIG.logo!'';
    if(logoPath==""){%>
	<link rel="shortcut icon" href="/yh/img/eeda_logo.ico">
	<%}else{%>
	<link rel="shortcut icon" href="${SYS_CONFIG.logo!''}">
	<%}%>
    <!-- Core CSS - Include with every page -->
    <link href="/yh/css/bootstrap.min.css" rel="stylesheet">
    <link href="/yh/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    
    <link href="/yh/css/plugins/morris/morris-0.4.3.min.css"  rel="stylesheet">
    <link href="/yh/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="/yh/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/yh/css/sb-admin.css" rel="stylesheet">

    <script src="/yh/js/jquery-1.10.2.js" type="text/javascript"></script>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">${SYS_CONFIG.system_title!''}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
				<%
	                var title = SYS_CONFIG.system_title!'易达物流';
	                var show = 'none';
	                if(title=='易达物流'){
	                    show = 'block';
	                }
	            %>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><span class="hidden-phone"> ${userId!'N/A'}</span>   <i class="fa fa-caret-down"></i>
                    </a>
                  
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/loginUser/editPerson"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li>
                        <li style='display:${show}'><a href="/officeConfig"><i class="fa fa-gear fa-fw"></i> 系统配置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav  id='left_side_bar' class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
               
                   <li>
                       <a href="/bzGateOutOrder"><i class="fa fa-dashboard fa-fw"></i> 出货单 </a>
                   </li>
                    
                </ul>
                <!--  /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
        <a id='hide_menu_btn' href="#" style="position: absolute;left: 250px;top: 250px; z-index:1; height: 200px; background-color: rgb(241, 241, 241); border-top-right-radius: 10px; border-bottom-right-radius:10px;" title="隐藏菜单">
            <i id='hide_menu_icon' class="fa fa-angle-double-left fa-2x" style="
    margin-top: 90px;"
></i>
        </a>
        ${layoutContent}

    </div>
    <!-- /#wrapper 11-->

    <!-- Core Scripts - Include with every page -->
    
    <script src="/yh/js/bootstrap.js"></script>
    <script src="/yh/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/yh/js/sb-admin.js"></script>
</body>

</html>
